/**
 * Sugar
 */
/* # CLEARFIX
	More infos to come..
	
	https://github.com/stubbornella/oocss/blob/master/oocss/src/components/utils/_clearfix-me.scss
	
	clearfix   used project wide to clear floats and create a new formatting context
	
	usage      @include clearfix-me(<empty|overflow|facebook|micro|stubborn>)
	
	$clearfix-method sets default method
*/
.clearfix-overflow {
  overflow: hidden;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 20pxrem;
}

@media (min-width: 200px) {
  .media {
    content: 200px;
  }
}
@media tv and (min-width: 200px) and (max-width: 300px) {
  .media {
    content: 200px 300px;
  }
}
@media (min-height: 100px) {
  .media {
    content: -min-height 100px;
  }
}
@media screen and (orientation: landscape) {
  .media {
    content: landscape;
  }
}
@media (orientation: portrait) {
  .media {
    content: portrait;
  }
}

.bubble {
  margin-left: 100px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  -webkit-transform: rotate(360deg);
  position: relative;
  background: red;
  width: auto;
  height: auto;
  transition: all 0.1s ease-in-out;
  padding: 10px 15px;
  box-shadow: #000 0 0 10px;
}
.bubble:before, .bubble:after {
  color: transparent;
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  top: 0;
  left: 0;
}
.bubble:before, .bubble:after {
  transition: all 0.1s ease-in-out;
}
.bubble:after {
  border-width: 10px 10px 0 10px;
  border-color: red transparent transparent transparent;
}
.bubble:after, .bubble:before {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 0;
}
.bubble:hover {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  -webkit-transform: rotate(360deg);
  position: relative;
  background: blue;
  width: auto;
  height: auto;
}
.bubble:hover:before, .bubble:hover:after {
  color: transparent;
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  top: 0;
  left: 0;
}
.bubble:hover:after {
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent blue transparent;
}
.bubble:hover:after, .bubble:hover:before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  margin-left: 0;
}

.round {
  width: 100px;
  height: 100px;
  background-color: #00ff00;
  border-radius: 50%;
  overflow: hidden;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #ffff00;
  border: solid 2px black;
  border-radius: 50%;
  overflow: hidden;
}

body {
  color: #00ff00;
  background-image: -webkit-linear-gradient(top, cyan 0, rgba(255, 255, 255, 0) 1px);
  background-image: -moz-linear-gradient(top, cyan 0, rgba(255, 255, 255, 0) 1px);
  background-image: -o-linear-gradient(top, cyan 0, rgba(255, 255, 255, 0) 1px);
  background-image: linear-gradient(to bottom, cyan 0, rgba(255, 255, 255, 0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 1em;
}
