/**
 * Sugar
 */
@import url(https://fonts.googleapis.com/css?family=VT323);
@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.animated:hover, .rubberBand {
  -webkit-animation-name: rubberBand;
          animation-name: rubberBand;
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.animated:hover, .tada {
  -webkit-animation-name: tada;
          animation-name: tada;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animated, .fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@-webkit-keyframes flipOutX {
  from {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

@keyframes flipOutX {
  from {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
.animated:hover, .flipOutX {
  -webkit-animation-name: flipOutX;
          animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
}

.cssgram {
  position: relative;
}
.cssgram:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}

                      /*
*
* Aden
*
*/
                      /*
*
* Inkwell
*
*/
                      /*
*
* Perpetua
*
*/
                      /*
*
* Reyes
*
*/
                      /*
*
* Gingham
*
*/
                      /*
*
* Toaster
*
*/
.cssgram {
  -webkit-filter: contrast(1.5) brightness(0.9);
          filter: contrast(1.5) brightness(0.9);
}
.cssgram:after {
  background: radial-gradient(circle, #804e0f, #3b003b);
  mix-blend-mode: screen;
}

                      /*
*
* Walden
*
*/
                      /*
*
* Hudson
*
*/
                      /*
*
* Earlybird
*
*/
                      /*
*
* Mayfair
*
*/
                      /*
* Lo-fi
*
*/
                      /*
* 1977
*
*/
                      /*
*
* Brooklyn
*
*/
                      /*
*
* X-Pro II
*
*/
/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
i.user, .ul > *:before, .ul--inside > *:before, .ul--small > *:before, .fa-user, .fa-gg-circle {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

i.pull-left.user, .ul > .pull-left:before, .ul--inside > .pull-left:before, .ul--small > .pull-left:before, .pull-left.fa-user, .pull-left.fa-gg-circle {
  margin-right: .3em;
}

i.pull-right.user, .ul > .pull-right:before, .ul--inside > .pull-right:before, .ul--small > .pull-right:before, .pull-right.fa-user, .pull-right.fa-gg-circle {
  margin-left: .3em;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
i.user:before, .ul--small > :before, .fa-user:before {
  content: "\f007";
}

.ul > :before, .ul--inside > :before, .fa-gg-circle:before {
  content: "\f261";
}

/* # CLEARFIX
	More infos to come..
	
	https://github.com/stubbornella/oocss/blob/master/oocss/src/components/utils/_clearfix-me.scss
	
	clearfix   used project wide to clear floats and create a new formatting context
	
	usage      @include clearfix-me(<empty|overflow|facebook|micro|stubborn>)
	
	$clearfix-method sets default method
*/
.clearfix-overflow {
  overflow: hidden;
}

.clearfix-facebook {
  display: table-cell;
  vertical-align: top;
  width: 10000px !important;
}

.clearfix-float {
  float: left;
  width: 100%;
}

.clearfix, .clearfix-micro {
  zoom: 1;
}
.clearfix:before, .clearfix-micro:before, .clearfix:after, .clearfix-micro:after {
  content: " ";
  display: table;
}
.clearfix:after, .clearfix-micro:after {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.clear {
  clear: both;
}

.show {
  display: block;
}

.show-inline {
  display: inline-block;
}

.hidden {
  display: none;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.text-hidden {
  overflow: hidden;
  text-indent: -9000px;
  display: block;
}

.text-truncate {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 13px;
  font-family: helvetica;
}
@media (min-width: 0) and (max-width: 800px) {
  html {
    font-size: 11.5px;
  }
}
@media (min-width: 0) and (max-width: 400px) {
  html {
    font-size: 9.5px;
  }
}

@font-face {
  font-family: "helvetica";
  src: url("../fonts/helvetica-neue-regular/helveticaneue.eot") format("embedded-opentype"), url("../fonts/helvetica-neue-regular/helveticaneue.svg") format("svg"), url("../fonts/helvetica-neue-regular/helveticaneue.ttf") format("truetype"), url("../fonts/helvetica-neue-regular/helveticaneue.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "helvetica-ultralight";
  src: url("../fonts/helvetica-neue-ultralight/helveticaneueultralight.eot") format("embedded-opentype"), url("../fonts/helvetica-neue-ultralight/helveticaneueultralight.svg") format("svg"), url("../fonts/helvetica-neue-ultralight/helveticaneueultralight.ttf") format("truetype"), url("../fonts/helvetica-neue-ultralight/helveticaneueultralight.woff") format("woff");
  font-style: normal;
  font-weight: lighter;
}
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/font-awesome/fontawesome-webfont.eot") format("embedded-opentype"), url("../fonts/font-awesome/fontawesome-webfont.ttf") format("truetype"), url("../fonts/font-awesome/fontawesome-webfont.woff") format("woff"), url("../fonts/font-awesome/fontawesome-webfont.woff2") format("woff2"), url("../fonts/font-awesome/fontawesome-webfont.svg") format("svg");
  font-style: normal;
  font-weight: normal;
}
*, *:before, *:after {
  transition: all 0.1s ease-in-out;
}

.custom-transition, .custom-transition:before, .custom-transition:after {
  transition: width 10s ease-in-out 0s;
}

@media (min-width: 200px) {
  .media {
    content: 200px;
  }
}
@media tv and (min-width: 200px) and (max-width: 300px) {
  .media {
    content: 200px 300px;
  }
}
@media (min-height: 100px) {
  .media {
    content: -min-height 100px;
  }
}
@media screen and (orientation: landscape) {
  .media {
    content: landscape;
  }
}
@media (orientation: portrait) {
  .media {
    content: portrait;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ua-desktop .media {
    content: retina;
  }
}
.ua-mobile.ua-chrome .media {
  content: retina;
}
.ua-ie-11 .media {
  content: ie9;
}

.rect {
  width: 100px;
  height: 200px;
}

.caret {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-style: solid;
  -webkit-transform: rotate(360deg);
  position: relative;
  background: black;
  width: auto;
  height: auto;
}
.caret:before, .caret:after {
  color: transparent;
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  top: 0;
  left: 0;
}
.caret:after {
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent black;
}
.caret:after, .caret:before {
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
}

.bubble {
  margin-left: 100px;
  display: inline-block;
  width: 100px;
  height: 20px;
  border-style: solid;
  -webkit-transform: rotate(360deg);
  position: relative;
  background: white;
  width: auto;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-filter: drop-shadow(black 0 0 10px);
          filter: drop-shadow(black 0 0 10px);
}
.bubble:before, .bubble:after {
  color: transparent;
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  top: 0;
  left: 0;
}
.bubble:after {
  border-width: 20px 50px 0 50px;
  border-color: white transparent transparent transparent;
}
.bubble:before {
  -webkit-transform-origin: 50px 0;
      -ms-transform-origin: 50px 0;
          transform-origin: 50px 0;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  border-width: 20px 50px 0 50px;
  border-color: #ddd transparent transparent transparent;
}
.bubble:after, .bubble:before {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -50px;
}
.bubble:hover {
  display: inline-block;
  width: 100px;
  height: 20px;
  border-style: solid;
  -webkit-transform: rotate(360deg);
  position: relative;
  background: white;
  width: auto;
  height: auto;
  border: 2px solid #ddd;
}
.bubble:hover:before, .bubble:hover:after {
  color: transparent;
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  top: 0;
  left: 0;
}
.bubble:hover:after {
  border-width: 0 50px 20px 50px;
  border-color: transparent transparent white transparent;
}
.bubble:hover:before {
  -webkit-transform-origin: 50px 20px;
      -ms-transform-origin: 50px 20px;
          transform-origin: 50px 20px;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  border-width: 0 50px 20px 50px;
  border-color: transparent transparent #ddd transparent;
}
.bubble:hover:after, .bubble:hover:before {
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -50px;
}

.triangle {
  display: inline-block;
  width: 200px;
  height: 100px;
  border-style: solid;
  -webkit-transform: rotate(360deg);
}
.triangle:before, .triangle:after {
  color: transparent;
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  top: 0;
  left: 0;
}
.triangle:after {
  border-width: 0 100px 100px 100px;
  border-color: transparent transparent #009900 transparent;
}
.triangle:before {
  -webkit-transform-origin: 100px 66.66666667px;
      -ms-transform-origin: 100px 66.66666667px;
          transform-origin: 100px 66.66666667px;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  border-width: 0 100px 100px 100px;
  border-color: transparent transparent #00cc00 transparent;
}
.triangle:hover {
  display: inline-block;
  width: 300px;
  height: 200px;
  border-style: solid;
  -webkit-transform: rotate(360deg);
}
.triangle:hover:before, .triangle:hover:after {
  color: transparent;
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  top: 0;
  left: 0;
}
.triangle:hover:after {
  border-width: 0 150px 200px 150px;
  border-color: transparent transparent #ffff00 transparent;
}
.triangle:hover:before {
  -webkit-transform-origin: 150px 133.33333333px;
      -ms-transform-origin: 150px 133.33333333px;
          transform-origin: 150px 133.33333333px;
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  border-width: 0 150px 200px 150px;
  border-color: transparent transparent #00cc00 transparent;
}

.corner {
  display: block;
  width: 100px;
  height: 100px;
  background: pink;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.corner:hover {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 100px;
}

.round {
  width: 100px;
  height: 100px;
  background-color: #00ff00;
  border-radius: 50%;
  overflow: hidden;
}
.round > img {
  border-radius: 50%;
  overflow: hidden;
}
.round:hover {
  width: 200px;
  height: 200px;
  background-color: #00ff00;
  border-radius: 50%;
  overflow: hidden;
}
.round:hover > img {
  border-radius: 50%;
  overflow: hidden;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #ffff00;
  border: solid 2px black;
  border-radius: 50%;
  overflow: hidden;
}
.circle > img {
  border-radius: 50%;
  overflow: hidden;
}
.circle:hover {
  width: 200px;
  height: 200px;
  background-color: #ffff00;
  border-radius: 50%;
  overflow: hidden;
}
.circle:hover > img {
  border-radius: 50%;
  overflow: hidden;
}

.btn {
  display: inline-block;
  background: #00ff00;
  color: white;
  text-decoration: none;
  padding: 0 2rem;
  font-family: helvetica;
  font-size: 1.84615385rem;
  line-height: 2rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}
.typeset .btn {
  padding-top: 1rem;
  margin-top: 0;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  font-size: 1.84615385rem;
  line-height: 2rem;
}

.abs-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
}

.abs-contain {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
  max-height: 100%;
}

.cssgram {
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 30px;
}
.cssgram > img {
  border-radius: 50%;
  overflow: hidden;
}
.cssgram img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
}

.animated {
  display: block;
  width: 100px;
  height: 100px;
  background: red;
  -webkit-animation: fadeIn 1s 0s ease-in-out 1 normal forwards;
          animation: fadeIn 1s 0s ease-in-out 1 normal forwards;
}
.animated:hover {
  -webkit-animation: rubberBand 1s 0s ease-in-out 1 normal forwards, tada 1s 1s ease-in-out 1 normal forwards, flipOutX 1s 2s ease-in-out 1 normal forwards;
          animation: rubberBand 1s 0s ease-in-out 1 normal forwards, tada 1s 1s ease-in-out 1 normal forwards, flipOutX 1s 2s ease-in-out 1 normal forwards;
}

.position {
  display: block;
  width: 100px;
  height: 100px;
  background: blue;
  position: relative;
  -webkit-transform: translateZ(30px);
          transform: translateZ(30px);
}

.translate {
  display: block;
  width: 100px;
  height: 100px;
  background: blue;
  -webkit-transform: translateX(10px) translateY(30px);
      -ms-transform: translateX(10px) translateY(30px);
          transform: translateX(10px) translateY(30px);
}
.translate:hover {
  -webkit-transform: translateX(0) translateY(30px);
      -ms-transform: translateX(0) translateY(30px);
          transform: translateX(0) translateY(30px);
}

.filter {
  -webkit-filter: grayscale(40%) blur(20px);
          filter: grayscale(40%) blur(20px);
}

.transform {
  display: block;
  width: 100px;
  height: 100px;
  background: green;
  -webkit-transform: skew(20deg, 40deg) rotate(10deg);
      -ms-transform: skew(20deg, 40deg) rotate(10deg);
          transform: skew(20deg, 40deg) rotate(10deg);
}
.transform:hover {
  -webkit-transform: skew(20deg, 40deg) rotate(50deg);
      -ms-transform: skew(20deg, 40deg) rotate(50deg);
          transform: skew(20deg, 40deg) rotate(50deg);
}

.background {
  display: block;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("http://una.im/CSSgram/img/lakegeneva.jpg");
  background-position: 0 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .background {
    background-image: url("http://una.im/CSSgram/img/lakegeneva@coco.jpg");
  }
}

.ratio {
  width: 200px;
  position: relative;
  overflow: hidden;
  background: red;
  display: block;
}
.ratio:before {
  content: '';
  display: block;
  height: 0;
  padding-top: 56.25%;
}

.show-grid {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}
.show-grid:after {
  pointer-events: none;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #0ff 0, rgba(255, 255, 255, 0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 1rem;
}

.coco, .coco--mod {
  content: coco block;
}
.coco__hello, .coco__jojo {
  content: coco hello -moz-element;
  content: coco hello element;
}
.coco__hello--mod, .coco__hello--jesus {
  content: coco hello mod modifier;
}
.coco__hello--jesus {
  content: coco hello jesus modifier;
}
.coco__jojo {
  content: coco jojo extend hello;
}
.coco--mod {
  content: coco mod modifier;
}
.coco--mod__coco {
  content: coco mod modifier coco -moz-element;
  content: coco mod modifier coco element;
}
i.user {
  color: #f2bc2b;
}

.legend {
  color: #b3b3b3;
  font-size: 1.53846154rem;
  line-height: 2rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  display: block;
  max-width: 55ex;
}
.typeset .legend {
  padding-top: 0.50001rem;
  margin-top: 0;
  margin-bottom: 2.49999rem;
  padding-bottom: 0;
  font-size: 1.53846154rem;
  line-height: 2rem;
}

h1 {
  font-family: helvetica-ultralight;
  font-size: 4.23606807rem;
  line-height: 5rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  display: block;
  max-width: 55ex;
  text-transform: uppercase;
  text-shadow: 0.26047227px -1.47721163px 0rem red, 0.52094453px -2.95442326px 0rem red, 0.7814168px -4.43163489px 0rem red, 1.04188907px -5.90884652px 0rem red, 1.30236133px -7.38605815px 0rem red, 1.5628336px -8.86326978px 0rem red, 1.82330587px -10.34048141px 0rem red, 2.08377813px -11.81769304px 0rem red, 2.3442504px -13.29490467px 0rem red, 2.60472267px -14.7721163px 0rem red, 2.86519493px -16.24932792px 0rem red, 3.1256672px -17.72653955px 0rem red, 3.38613946px -19.20375118px 0rem red, 3.64661173px -20.68096281px 0rem red, 3.907084px -22.15817444px 0rem red, 4.16755626px -23.63538607px 0rem red, 4.42802853px -25.1125977px 0rem red, 4.6885008px -26.58980933px 0rem red, 4.94897306px -28.06702096px 0rem red, 5.20944533px -29.54423259px 0rem red, 5.4699176px -31.02144422px 0rem red, 5.73038986px -32.49865585px 0rem red, 5.99086213px -33.97586748px 0rem red, 6.2513344px -35.45307911px 0rem red, 6.51180666px -36.93029074px 0rem red, 6.77227893px -38.40750237px 0rem red, 7.0327512px -39.884714px 0rem red, 7.29322346px -41.36192563px 0rem red, 7.55369573px -42.83913726px 0rem red, 7.814168px -44.31634889px 0rem red;
}
.typeset h1 {
  padding-top: 0.12328788rem;
  margin-top: 0;
  margin-bottom: 1.87671212rem;
  padding-bottom: 0;
  font-size: 4.23606807rem;
  line-height: 5rem;
}

h2 {
  font-family: VT323;
  font-size: 3.33019073rem;
  line-height: 4rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.typeset h2 {
  padding-top: 0.91769801rem;
  margin-top: -1rem;
  margin-bottom: 2.08230199rem;
  padding-bottom: 0;
  font-size: 3.33019073rem;
  line-height: 4rem;
}

h3 {
  font-size: 2.61803403rem;
  line-height: 3rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.typeset h3 {
  padding-top: 0.64914894rem;
  margin-top: 0;
  margin-bottom: 2.35085106rem;
  padding-bottom: 0;
  font-size: 2.61803403rem;
  line-height: 3rem;
}

h4 {
  font-size: 2.05817105rem;
  line-height: 3rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.typeset h4 {
  padding-top: 0.83110441rem;
  margin-top: -1rem;
  margin-bottom: 2.16889559rem;
  padding-bottom: 0;
  font-size: 2.05817105rem;
  line-height: 3rem;
}

h5 {
  font-size: 1.618034rem;
  line-height: 2rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.typeset h5 {
  padding-top: 0.47414895rem;
  margin-top: 0;
  margin-bottom: 2.52585105rem;
  padding-bottom: 0;
  font-size: 1.618034rem;
  line-height: 2rem;
}

h6 {
  font-size: 1.27201965rem;
  line-height: 2rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.typeset h6 {
  padding-top: 0.58660361rem;
  margin-top: 0;
  margin-bottom: 2.41339639rem;
  padding-bottom: 0;
  font-size: 1.27201965rem;
  line-height: 2rem;
}

p {
  font-size: 1.27201965rem;
  line-height: 2rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.typeset p {
  padding-top: 0.58660361rem;
  margin-top: 0;
  margin-bottom: 2.41339639rem;
  padding-bottom: 0;
  font-size: 1.27201965rem;
  line-height: 2rem;
}

p.lead {
  font-size: 1.618034rem;
  line-height: 2rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  font-weight: bold;
  text-decoration: underline;
}
.typeset p.lead {
  padding-top: 0.47414895rem;
  margin-top: 0;
  margin-bottom: 2.52585105rem;
  padding-bottom: 0;
  font-size: 1.618034rem;
  line-height: 2rem;
}

blockquote {
  padding: 3rem;
  border-left: 5px solid #f2bc2b;
  margin-left: -2rem;
  font-size: 2.07692308rem;
  line-height: 3rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-style: italic;
  background: #eee;
}
.typeset blockquote {
  padding-top: 3rem;
  margin-top: 0;
  margin-bottom: 2rem;
  padding-bottom: 3rem;
  font-size: 2.07692308rem;
  line-height: 3rem;
}

.ul {
  margin-bottom: 2.49999rem;
  margin-left: -3.07692308rem;
}
.ul > * {
  font-size: 1.53846154rem;
  line-height: 2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  display: block;
  max-width: 55ex;
  padding-left: 3.07692308rem;
  position: relative;
  position: relative;
}
.typeset .ul > * {
  padding-top: 0.50001rem;
  margin-top: 0;
  margin-bottom: 0.49999rem;
  padding-bottom: 0;
  font-size: 1.53846154rem;
  line-height: 2rem;
}
.ul > *:before {
  left: 0rem;
  top: 0.61538462rem;
  color: #f2bc2b;
  font-size: 1.69230769rem;
}
.ul > *:hover {
  position: relative;
}
.ul > *:hover:before {
  left: 0;
  color: red;
}
.ul > *:hover:before {
  position: absolute;
  display: block;
}
.ul > *:hover > ul,
.ul > *:hover > ol,
.ul > *:hover > dl {
  margin-left: 0;
  margin-bottom: 0;
}
.ul > *:before {
  position: absolute;
  display: block;
}
.ul > * > ul,
.ul > * > ol,
.ul > * > dl {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0.50001rem;
}

.ul--inside {
  margin-bottom: 2.49999rem;
}
.ul--inside > * {
  font-size: 1.53846154rem;
  line-height: 2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  display: block;
  max-width: 55ex;
  padding-left: 3.07692308rem;
  position: relative;
  position: relative;
}
.typeset .ul--inside > * {
  padding-top: 0.50001rem;
  margin-top: 0;
  margin-bottom: 0.49999rem;
  padding-bottom: 0;
  font-size: 1.53846154rem;
  line-height: 2rem;
}
.ul--inside > *:before {
  left: 0rem;
  top: 0.92307692rem;
  color: #ff0000;
  font-size: 1.23076923rem;
}
.ul--inside > *:hover {
  position: relative;
}
.ul--inside > *:hover:before {
  left: 0;
  color: red;
}
.ul--inside > *:hover:before {
  position: absolute;
  display: block;
}
.ul--inside > *:hover > ul,
.ul--inside > *:hover > ol,
.ul--inside > *:hover > dl {
  margin-left: 0;
  margin-bottom: 0;
}
.ul--inside > *:before {
  position: absolute;
  display: block;
}
.ul--inside > * > ul,
.ul--inside > * > ol,
.ul--inside > * > dl {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0.50001rem;
}

.ul--small {
  margin-bottom: 2.39999rem;
  margin-left: -3.07692308rem;
}
.ul--small > * {
  font-size: 1.23076923rem;
  line-height: 2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 3.07692308rem;
  position: relative;
  position: relative;
}
.typeset .ul--small > * {
  padding-top: 0.60001rem;
  margin-top: 0;
  margin-bottom: 0.39999rem;
  padding-bottom: 0;
  font-size: 1.23076923rem;
  line-height: 2rem;
}
.ul--small > *:before {
  left: 0rem;
  top: 0.61538462rem;
  color: #f2bc2b;
  font-size: 1.69230769rem;
}
.ul--small > *:hover {
  position: relative;
}
.ul--small > *:hover:before {
  left: 0;
  color: red;
}
.ul--small > *:hover:before {
  position: absolute;
  display: block;
}
.ul--small > *:hover > ul,
.ul--small > *:hover > ol,
.ul--small > *:hover > dl {
  margin-left: 0;
  margin-bottom: 0;
}
.ul--small > *:before {
  position: absolute;
  display: block;
}
.ul--small > * > ul,
.ul--small > * > ol,
.ul--small > * > dl {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0.60001rem;
}

.ul--image {
  margin-bottom: 2.49999rem;
  margin-left: -3.07692308rem;
}
.ul--image > * {
  font-size: 1.53846154rem;
  line-height: 2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 3.07692308rem;
  position: relative;
  position: relative;
}
.typeset .ul--image > * {
  padding-top: 0.50001rem;
  margin-top: 0;
  margin-bottom: 0.49999rem;
  padding-bottom: 0;
  font-size: 1.53846154rem;
  line-height: 2rem;
}
.ul--image > *:before {
  left: 0rem;
  top: 0.92307692rem;
  width: 14px 20px;
}
.ul--image > *:hover {
  position: relative;
  position: relative;
}
.ul--image > *:hover:before {
  left: 0;
}
.ul--image > *:hover:before {
  position: absolute;
  display: block;
}
.ul--image > *:hover:before {
  content: '';
  display: block;
  width: 1ex;
  height: 1em;
  background-image: url("../img/list-puce-red.svgz");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
}
.ul--image > *:hover > ul,
.ul--image > *:hover > ol,
.ul--image > *:hover > dl {
  margin-left: 0;
  margin-bottom: 0;
}
.ul--image > *:before {
  position: absolute;
  display: block;
}
.ul--image > *:before {
  content: '';
  display: block;
  width: 1ex;
  height: 1em;
  background-image: url("../img/list-puce-gray.svgz");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
}
.ul--image > * > ul,
.ul--image > * > ol,
.ul--image > * > dl {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0.50001rem;
}

.ul--decimal {
  margin-bottom: 2.49999rem;
  margin-left: -3.07692308rem;
  counter-reset: s-list;
}
.ul--decimal > * {
  font-size: 1.53846154rem;
  line-height: 2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 3.07692308rem;
  position: relative;
}
.typeset .ul--decimal > * {
  padding-top: 0.50001rem;
  margin-top: 0;
  margin-bottom: 0.49999rem;
  padding-bottom: 0;
  font-size: 1.53846154rem;
  line-height: 2rem;
}
.ul--decimal > *:before {
  content: counter(s-list,upper-roman);
  counter-increment: s-list;
}
.ul--decimal > *:before {
  left: 0;
  font-size: 1.07692308rem;
  font-size: 1.15384615rem;
  line-height: 2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.typeset .ul--decimal > *:before {
  padding-top: 0.62501rem;
  margin-top: 0;
  margin-bottom: 0.37499rem;
  padding-bottom: 0;
  font-size: 1.15384615rem;
  line-height: 2rem;
}
.ul--decimal > *:hover {
  position: relative;
}
.ul--decimal > *:hover:before {
  left: 0;
  color: #f2bc2b;
}
.ul--decimal > *:hover:before {
  position: absolute;
  display: block;
}
.ul--decimal > *:hover > ul,
.ul--decimal > *:hover > ol,
.ul--decimal > *:hover > dl {
  margin-left: 0;
  margin-bottom: 0;
}
.ul--decimal > *:before {
  position: absolute;
  display: block;
}
.ul--decimal > * > ul,
.ul--decimal > * > ol,
.ul--decimal > * > dl {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0.50001rem;
}

.ul--circle {
  margin-bottom: 2.49999rem;
  margin-left: -3.07692308rem;
  counter-reset: s-list;
}
.ul--circle > * {
  font-size: 1.53846154rem;
  line-height: 2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 3.07692308rem;
  position: relative;
}
.typeset .ul--circle > * {
  padding-top: 0.50001rem;
  margin-top: 0;
  margin-bottom: 0.49999rem;
  padding-bottom: 0;
  font-size: 1.53846154rem;
  line-height: 2rem;
}
.ul--circle > *:before {
  content: counter(s-list,circle);
  counter-increment: s-list;
}
.ul--circle > *:before {
  left: 0;
  font-size: 1.07692308rem;
}
.ul--circle > *:hover {
  position: relative;
}
.ul--circle > *:hover:before {
  left: 0;
  color: #f2bc2b;
}
.ul--circle > *:hover:before {
  position: absolute;
  display: block;
}
.ul--circle > *:hover > ul,
.ul--circle > *:hover > ol,
.ul--circle > *:hover > dl {
  margin-left: 0;
  margin-bottom: 0;
}
.ul--circle > *:before {
  position: absolute;
  display: block;
}
.ul--circle > * > ul,
.ul--circle > * > ol,
.ul--circle > * > dl {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0.50001rem;
}

.rubberBand, .tada, .flipOutX, .fadeIn {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.c-pink {
  color: #ffff00;
}

.bkg-pink {
  background-color: #ffff00;
}

.c-orange {
  color: #f2bc2b;
}

.bkg-orange {
  background-color: #f2bc2b;
}

.c-orange--dark {
  color: #040300;
}

.bkg-orange--dark {
  background-color: #040300;
}

.c-orange--light {
  color: #f00;
}

.bkg-orange--light {
  background-color: #f00;
}

.f-jesus {
  -webkit-filter: grayscale(40%) blur(20px);
          filter: grayscale(40%) blur(20px);
}

.m-b-smaller {
  margin-bottom: 1rem;
}

.m-t-smaller {
  margin-top: 1rem;
}

.m-l-smaller {
  margin-left: 1rem;
}

.m-r-smaller {
  margin-right: 1rem;
}

.m-s-smaller {
  margin-left: 1rem;
  margin-right: 1rem;
}

.p-b-smaller {
  padding-bottom: 1rem;
}

.p-t-smaller {
  padding-top: 1rem;
}

.p-l-smaller {
  padding-left: 1rem;
}

.p-r-smaller {
  padding-right: 1rem;
}

.p-s-smaller {
  padding-left: 1rem;
  padding-right: 1rem;
}

.m-b-small {
  margin-bottom: 2rem;
}

.m-t-small {
  margin-top: 2rem;
}

.m-l-small {
  margin-left: 2rem;
}

.m-r-small {
  margin-right: 2rem;
}

.m-s-small {
  margin-left: 2rem;
  margin-right: 2rem;
}

.p-b-small {
  padding-bottom: 2rem;
}

.p-t-small {
  padding-top: 2rem;
}

.p-l-small {
  padding-left: 2rem;
}

.p-r-small {
  padding-right: 2rem;
}

.p-s-small {
  padding-left: 2rem;
  padding-right: 2rem;
}

.m-b-normal {
  margin-bottom: 3rem;
}

.m-t-normal {
  margin-top: 3rem;
}

.m-l-normal {
  margin-left: 3rem;
}

.m-r-normal {
  margin-right: 3rem;
}

.m-s-normal {
  margin-left: 3rem;
  margin-right: 3rem;
}

.p-b-normal {
  padding-bottom: 3rem;
}

.p-t-normal {
  padding-top: 3rem;
}

.p-l-normal {
  padding-left: 3rem;
}

.p-r-normal {
  padding-right: 3rem;
}

.p-s-normal {
  padding-left: 3rem;
  padding-right: 3rem;
}

.m-b-medium {
  margin-bottom: 4rem;
}

.m-t-medium {
  margin-top: 4rem;
}

.m-l-medium {
  margin-left: 4rem;
}

.m-r-medium {
  margin-right: 4rem;
}

.m-s-medium {
  margin-left: 4rem;
  margin-right: 4rem;
}

.p-b-medium {
  padding-bottom: 4rem;
}

.p-t-medium {
  padding-top: 4rem;
}

.p-l-medium {
  padding-left: 4rem;
}

.p-r-medium {
  padding-right: 4rem;
}

.p-s-medium {
  padding-left: 4rem;
  padding-right: 4rem;
}

.m-b-big {
  margin-bottom: 5rem;
}

.m-t-big {
  margin-top: 5rem;
}

.m-l-big {
  margin-left: 5rem;
}

.m-r-big {
  margin-right: 5rem;
}

.m-s-big {
  margin-left: 5rem;
  margin-right: 5rem;
}

.p-b-big {
  padding-bottom: 5rem;
}

.p-t-big {
  padding-top: 5rem;
}

.p-l-big {
  padding-left: 5rem;
}

.p-r-big {
  padding-right: 5rem;
}

.p-s-big {
  padding-left: 5rem;
  padding-right: 5rem;
}

.m-b-bigger {
  margin-bottom: 6rem;
}

.m-t-bigger {
  margin-top: 6rem;
}

.m-l-bigger {
  margin-left: 6rem;
}

.m-r-bigger {
  margin-right: 6rem;
}

.m-s-bigger {
  margin-left: 6rem;
  margin-right: 6rem;
}

.p-b-bigger {
  padding-bottom: 6rem;
}

.p-t-bigger {
  padding-top: 6rem;
}

.p-l-bigger {
  padding-left: 6rem;
}

.p-r-bigger {
  padding-right: 6rem;
}

.p-s-bigger {
  padding-left: 6rem;
  padding-right: 6rem;
}
