/* http://prismjs.com/download.html?themes=prism&languages=markup+css+scss */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #666;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;

	-moz-tab-size: 8;
	-o-tab-size: 8;
	tab-size: 8;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background:s-color(grey, light);
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background:s-color(grey, light);
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding:20px 30px 20px 30px;
	overflow:hidden;

	&:hover {
		overflow:auto;
	}
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: s-color(grey, light);
	color:#b1b1b1;
	@include s-vertical-rhythme((
		s-font : cousine 14px 2,
		padding-top : 2,
		padding-bottom : 2,
		margin-bottom : 2
	));

	.bkg-grey--light & {
		background: s-color(white);
	}
}

/* Inline code */
:not(pre) > code[class*="language-"] {
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #2f96b4;
}

.token.punctuation {
	color: #b1b1b1;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	color: #247188;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
	color: #247188;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #dcae43;
	background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #dcae43;
}


.token.regex,
.token.important {
	color: #e90;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}