/**
 * Sugar
 */

// animation to generate
$sugar-animatecss : rubberBand tada flipOutX fadeIn;

// import sugar
@import 'sugar/sugar';

// setup sugar
@include sugar((
	typo : (
		font-size : 13px,
		font-sizes : (
			11.5px : 0 800px,
			9.5px : 0 400px
		)
	),
	fonts : (
		helvetica : (
			font-face : '/fonts/helvetica-neue/font.css',
			font-family : 'Helvetica, "Helvetica Neue", Arial, sans-serif',
			cap-height : 0.65
		),
		lobster : (
			font-face : '/fonts/lobster/font.css',
			font-family : 'lobster, Times, serif'
		)
	),
	font-awesome : (
		classes : user gg-circle
	),
	colors : (
		green : #00ff00,
		pink : (
			color : #ffff00,
			classes : true
		),
		orange : (
			color : #f2bc2b,
			classes : color bkg,
			modifiers : (
				dark : -darken 55%,
				light : #f00
			)
		)
	),
	sizes : (
		smaller : (
			size : 1rem,
			classes : true
		),
		small : (
			size : 2rem,
			classes : true
		),
		normal : (
			size : 3rem,
			classes : true
		),
		medium : (
			size : 4rem,
			classes : true
		),
		big : (
			size : 5rem,
			classes : true
		),
		bigger : (
			size : 6rem,
			classes : true
		)
	),
	transitions : (
		fast : (
			transition : all .1s ease-in-out,
			classes : true
		),
		normal : all .2s ease-in-out,
		slow : all .5s ease-in-out
	)
));

* {
	@include s-transition(fast);
}

.media {
	@include s-media(200px) {
		content : 200px;
	}
	@include s-media(tv 200px 300px) {
		content : 200px 300px;
	}
	@include s-media(-minh 100px) {
		content : -min-height 100px;
	}
	@include s-media(screen landscape) {
		content : landscape;
	}
	@include s-media(portrait) {
		content : portrait;
	}
	@include s-media(retina desktop, mobile chrome) {
		content : retina;
	}
	@include s-media(ie11) {
		content : ie9;
	}
}

.rect {
	@include s-rect(100px 200px);
}

.bubble {
	margin-left: 100px;
	@include s-bubble(white 0 0 right, #ddd 2px) {
		&:hover {
			@include s-bubble(20px 10px);
		}
	}
	@include s-corner(5px);
	padding: 10px 15px;
	@include s-filter(-drop-shadow rgba(0,0,0,1) 0 0 10px);
}

.triangle {
	@include s-triangle(200px 100px s-color(green, -darken 20% ) top, 5px s-color(green, -darken 10%)) {
		&:hover {
			@include s-triangle(300px 200px s-color(pink), 100px);
		}
	}
}

.corner {
	display: block;
	width: 100px;
	height: 100px;
	background: pink;
	@include s-corner(-l 20px -r 100px) {
		&:hover {
			@include s-corner(-tl 100px);
		}
	}
}

.round {
	@include s-round(100px s-color(green)) {
		&:hover {
			@include s-round(200px);
		}
	}
}

.circle {
	@include s-round(100px s-color(pink), 2px solid black) {
		&:hover {
			@include s-round(200px);
		}
	}
}

.btn {
	display: inline-block;
	padding: s-size(smaller) s-size(small);
	margin-bottom: s-size(2);

	background: s-color(green);
	color: white;
	text-decoration: none;

	span {
		@include s-font(16px helvetica);
	}
}

.abs-cover {
	@include s-size(cover);
}
.abs-contain {
	@include s-size(contain);
}

@keyframes hello {
	0% {
		top : 0;
	}
	100% {
		top : 100%;
	}
}

.cssgram {
	@include s-filter(toaster);
	@include s-round();
	border:2px solid white;
	box-shadow:s-color(black, -o 30%) 0 0 30px;
	img {
		@include s-size(cover);
	}
}

.animated {
	display: block;
	width: 100px;
	height: 100px;
	background: red;
	@include s-animate(fadeIn);

	&:hover {
		@include s-animate(rubberBand, tada 1s, flipOutX);
	}
}

.position {
	display: block;
	width: 100px;
	height: 100px;
	background: blue;
	@include s-position(relative -x 10px -y 30px -z 30px);
}

.translate {
	display: block;
	width: 100px;
	height: 100px;
	background: blue;
	@include s-translate(10px 30px) {
		&:hover {
			@include s-translate(0);
		}
	}
}

.transform {
	display: block;
	width: 100px;
	height: 100px;
	background: green;
	@include s-transform(-skew 20deg 40deg -rotate 10deg) {
		&:hover {
			@include s-transform(-rotate 50deg);
		}
	}
}

.background {
	display: block;
	@include s-size(200px 200px);
	@include s-background(
		'http://una.im/CSSgram/img/lakegeneva.jpg'
		no-repeat 
		cover 
		-t 20px 
		-ret '@coco');
}

.ratio {
	@include s-size(200px);
	@include s-ratio(16/9);
	background: red;
	display: block;
}

.show-grid {
	@include s-show-rhythme();
	margin: 0 auto;
	max-width: 960px;
}

// BEM
@include s-Bem(coco) {
	content : coco block;

	@include s-bEm(coco) {
		content : coco hello element;

		@include s-beM(mod) {
			content : coco hello mod modifier;
		}
	}

	@include s-beM(mod) {
		content : coco mod modifier;

		@include s-bEm(coco) {
			content : coco mod modifier coco element;
		}
	}

}

i.user {
	@include s-icon(fa-user);
	color: s-color(orange);
}

h1 {
	@include s-font(ms(3.5) helvetica uppercase underline -mw);
}
h2 {
	@include s-font(ms(3) helvetica);
}
h3 {
	@include s-font(ms(2.5) helvetica);
}
h4 {
	@include s-font(ms(2) helvetica);
}
h5 {
	@include s-font(ms(1.5) helvetica);
}
h6 {
	@include s-font(ms(1) helvetica);
}
blockquote {
	padding: s-size(1);
	border-left: 5px solid s-color(#ddd);
	margin-left: s-size(-1);
}
p {
	@include s-font(ms(0.5) 2 helvetica);
	@include s-media(0 500px) {
		@include s-columns(1 40px);
	}
}
p.lead {
	@include s-font(ms(1) 2 helvetica bold underline);
}

@include sugar(classes);