/**
 * Sugar
 */
@import 'sugar/sugar';

@include sugar((
	typo : (
		font-size : 16px,
		line-height : 20px,
	),
	fonts : (
		helvetica : (
			font-face : '/fonts/helvetica-neue/font.css',
			declaration : 'Verdana, "Helvetica Neue", Arial, sans-serif',
			cap-height : 0.68
		),
		lobster : (
			font-face : '/fonts/lobster/font.css',
			declaration : 'lobster, Times, serif'
		)
	),
	colors : (
		green : #00ff00,
		pink : #ffff00
	)
));

.media {
	@include media(200px) {
		content : 200px;
	}
	@include media(tv 200px 300px) {
		content : 200px 300px;
	}
	@include media(-minh 100px) {
		content : -min-height 100px;
	}
	@include media(screen landscape) {
		content : landscape;
	}
	@include media(portrait) {
		content : portrait;
	}
}

.rect {
	// @include rect(100px 200px);
	// @include round();
}

.bubble {
	margin-left: 100px;
	@include bubble(red 20px 10px bottom, null, all .1s ease-in-out);
	&:hover {
		@include bubble(blue top 20px 10px);
	}
	// @include corner(5px);
	padding: 10px 15px;
	box-shadow: #000 0 0 10px;
}

.triangle {
	// @include triangle(200px 100px c(green) bottom, 5px c(green, invert), all .1s ease-in-out);
	// &:hover {
	// 	@include triangle(300px 200px color(pink) br, 100px color(pink, invert));
	// }
}

.round {
	@include round(100px c(green));
}

.circle {
	@include round(100px c(pink), 2px solid black);
}

body {
	color : color(green);
	background-image: -webkit-linear-gradient(top, cyan 0, rgba(255,255,255,0) 1px);
 background-image: -moz-linear-gradient(top, cyan 0, rgba(255,255,255,0) 1px);
  background-image: -o-linear-gradient(top, cyan 0, rgba(255,255,255,0) 1px);
  background-image: linear-gradient(to bottom, cyan 0, rgba(255,255,255,0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 1em;
}

h1 {
	// @include font(30px helvetica rythme);
}
h2 {
	// @include font(20px helvetica rythme);
}
p {
	// @include font(16px helvetica);
}