// import sugar settings
@import 'sugar';

// import prism
@import 'prism';

//
// Layout
//
body {
	overflow-x: hidden;
}
#header {
	background-image:url('http://sugarcss.io/assets/img/highlight-bkg.jpg');
	background-size:cover;
	background-position:50% 50%;
	min-height:150px;
	color: white;
	padding:s-size(big) 0;
	line-height:1;

	* {
		@include s-filter(-drop-shadow rgba(0,0,0,.2) 0 0 7px);
	}
}
#head {
	padding: s-size(bigger) 0;
}
.separator {
	width:100%;
	height:1px;
	background: s-color(grey, light);
	margin-bottom:50px;
	margin-top:50px;
}
#top-bar {
	background: black;
}
.section {
	padding: s-size(bigger) 0;
}

//
// Vertical rhythme
//
[data-toggle-rhythme],
[data-toggle-baseline] {
	cursor: pointer;
	@include s-vertical-rhythme((
		s-font : 14px uppercase s-color(grey)
	));
	&:hover,
	&.active {
		i {
			color : s-color(orange);
		}
	}
	margin-left: s-rem(20px);


}

//
// Round nav
//
.round-menu {
	display: block;
	margin: 0 auto;
	position: relative;
	width: 50px;
	height: 100px;
	margin-top:80px;
	@include s-transition();

	&:hover {
	
		.round-menu__item {
			&:nth-child(1) {
				@include s-translate(-70px -20px);
				transition-delay: 0s !important;
			}
			&:nth-child(2) {
				@include s-translate(0 -70px);
				transition-delay: .1s !important;
			}
			&:nth-child(3) {
				@include s-translate(70px -20px);
				transition-delay: .2s !important;
			}
		}
	}
}
	.round-menu__item {
		position: absolute;
		top:10px; left:10px;
		transition : all .4s cubic-bezier(0.64, 0.57, 0.67, 1.53) !important;		
	}

	.round-menu__toggle-button,
	.round-menu__item-button {
		position: absolute;
		top: 0; left: 0;
		background: s-color(orange);
		width: 50px; height: 50px;
		@include s-corner(50%);
		text-align: center;
		border:none;

		i {
			@include s-font(white 18px);
		}
	}
	.round-menu__toggle-button {
		width: 70px; height: 70px;
		@include s-corner(35px);
	}

//
// Motion blur
//
[data-motion-blur] {
}
.drag-box {
	width:100px; height:100px;
	background: red;
	background: url(http://graph.facebook.com/622487880/picture?type=large) no-repeat 50% 50%;
	background-size: cover;
	@include s-translate(0 0);
	transition:none !important;
}
.motion-box {
	width:100px; height:100px;
	background: red;
	
	background: url(http://graph.facebook.com/622487880/picture?type=large) no-repeat 50% 50%;
	background-size: cover;
	position: relative;
	@include s-animation(cross-screen .8s infinite);
}
.motion-box--round {
	@include s-animation(round-screen 2s infinite);
}
@keyframes round-screen {
	0% {
		left : 0;
		top : 0;
	}
	25% {
		left : 100%;
		top : 0;
		@include s-translate(-100%);
	}
	50% {
		left : 100%;
		top : -200px;
		@include s-translate(-100%);
	}
	75% {
		left : 0;
		top : 0;
		@include s-translate(0);
	}
	100% {
		left : 0;
		top : 0;
	}
}
@keyframes cross-screen {
	0% {
		left:0;
	}
	50% {
		left:100%;
		@include s-translate(-100%);
	}
	100% {
		left:0;
	}
}

//
// Slidizle
//
[data-slidizle] {
	position:relative;
	cursor: pointer;
	user-select: none;
}

	[data-slidizle-content] {
		position:relative;
		width: 99999px;
		@include s-transition();

		@for $i from 0 through 10 {
			.slide-#{$i} & {
				$trans : - 640 * $i;
				@include s-translate(s-px($trans));
				@include s-transitionstart();
				// left : ;
			}
		}
	}

		[data-slidizle-item] {
			float: left;
			margin: 0 40px 0 0;
			position:relative;
			
			width: 600px;
			@include s-ratio(16/9);

			img {
				@include s-size(cover);
			}

			// .slidizle-left & {
			// 	@include s-animation(slider-out-left .2s ease-in-out);

			// 	&.active {
			// 		@include s-animation(slider-in-left .2s ease-in-out);
			// 	}
			// }
			// .slidizle-right & {
			// 	@include s-animation(slider-out-right .2s ease-in-out);

			// 	&.active {
			// 		@include s-animation(slider-in-right .2s ease-in-out);
			// 	}
			// }
		}

@keyframes slider-in-left {
	from {
		left : -1000px;
	}
	to {
		left : 0;
	}
}
@keyframes slider-out-left {
	from {
		left : 0;
	}
	to {
		left : -1000px;
	}
}
@keyframes slider-in-right {
	from {
		left : 1000px;
	}
	to {
		left : 0;
	}
}
@keyframes slider-out-right {
	from {
		left : 0;
	}
	to {
		left : 1000px;
	}
}

//
// Buttons
//
.btn {
	display: inline-block;
	background: s-color(orange);
	color: white;
	text-decoration: none;
	padding: 0 s-size(2);
	@include s-transition(.1s);
	@include s-vertical-rhythme((
		s-font : 20px,
		padding-top : 1,
		padding-bottom : 1,
		margin-bottom : 2
	));
	&:hover {
		background: s-color(orange, -darken 10%);
	}
}

// .hey {
// 	@include s-hey(top right 20px s-color(orange, dark) -margin-top -7px -margin-left 7px);
// }

//
// Typeset
//
.typeset {
	* {
		@include s-transition();
	}
}

figure {
	height: 10rem;
	position: relative;
	overflow: hidden;
	margin-bottom: 1rem;

	img {
		@include s-size(cover);
		width:100%;
	}
}

.show-rhythme {
	@include s-show-rhythme();
}

//
// List
//
.list {
	&.list--inline {
		.list__item {
			display:inline-block;
		}
	}
}
.list--top-bar {
	
	@extend .list--inline;

	.list__item {

		a {
			display: inline-block;
			padding:10px;

			&:hover,
			&.active {
				color: white;
				background: s-color(orange);
				text-shadow:rgba(0,0,0,.3) 1px 1px 0;
			}
		}
	}
}

//
// Read more
//
.read-more {
	overflow: hidden;
	position: relative;
	@include s-transition(all 1s ease-in-out);

	&:after {
		position: absolute;
		bottom:0; left:0;
		width:100%;
		height:100px;
		background: linear-gradient(to bottom, transparentize(white,1) 0%, white 100%);
	}

	&:target {
		max-height: 5000px !important;

		&:after {
			opacity:0;
			pointer-events:none;
		}
	}
}

//
// Typography
//
h1 {
	@include s-vertical-rhythme((
		s-font : ms(3) helvetica-light uppercase,
		margin-bottom : 2,
		border-bottom : 22px dashed red
	));
}
h2 {
	@include s-vertical-rhythme((
		s-font : ms(2.5),
		margin-bottom : 2,
		border-bottom : 5px solid red
	));
}
h3 {
	@include s-vertical-rhythme((
		s-font : ms(2),
		margin-bottom : 2
	));
}
h4 {
	@include s-vertical-rhythme((
		s-font : ms(1.5),
		margin-bottom : 2
	));
}
h5 {
	@include s-vertical-rhythme((
		s-font : ms(1),
		margin-bottom : 2
	));
}
h6 {
	@include s-vertical-rhythme((
		s-font : ms(0.5),
		margin-bottom : 2
	));
}
p {
	@include s-vertical-rhythme((
		s-font : ms(0.5) 2 s-color(blue) justify,
		margin-bottom : 2
	));
}
p.heading {
	@include s-vertical-rhythme((
		s-font : ms(1) 2 s-color(blue),
		margin-bottom : 2
	));
	@include s-rhythme-width();
}
a {
	@include s-font(s-color(orange) -td none);
}
strong {
	@include s-font(helvetica-bold);
}
small {
	font-size: 0.5em;
}
blockquote {	
	padding: s-size(2);
	border-left: 5px solid s-color(orange);
	margin-left: s-size(-2);
	background: s-color(#eee);
	@include s-vertical-rhythme((
		s-font : 20px italic,
		padding-top : 2,
		padding-bottom : 2,
		margin-bottom : 2
	));
}

.top {
	display: block;
	background: s-color(orange);
	color: white;
	@include s-position(bottom right fixed);
	padding:s-size(smaller);
}


//
// Bubble
//
.bubble {
	position:relative;
	padding:s-size(medium);
	color:white;
	width:100%;
	@include s-font(22px center);
	margin-bottom: s-size(small);
	@include s-corner(s-rem(5px));

	&:hover {
		@include s-animation(tada);
		z-index:1;
	}

	@include s-bubble(s-color(orange) 10px, s-color(orange, -darken 15%) 2px) {

		&.bubble-top-left {
			@include s-bubble(top left);
		}
		&.bubble-top-center {
			@include s-bubble(top center);
		}
		&.bubble-top-right {
			@include s-bubble(top right);
		}
		&.bubble-bottom-left {
			@include s-bubble(bottom left);
		}
		&.bubble-bottom-center {
			@include s-bubble(bottom center);
		}
		&.bubble-bottom-right {
			@include s-bubble(bottom right);
		}
		&.bubble-left-top {
			@include s-bubble(left top);
		}
		&.bubble-left-center {
			@include s-bubble(left center);
		}
		&.bubble-left-bottom {
			@include s-bubble(left bottom);
		}
		&.bubble-right-top {
			@include s-bubble(right top);
		}
		&.bubble-right-center {
			@include s-bubble(right center);
		}
		&.bubble-right-bottom {
			@include s-bubble(right bottom);
		}
	}
}


@include sugar(classes);