/**
 * @name 	SAnimationComponent Classes
 * This file provide the mixins to generate animation classes
 */

/**
 * Provide the classes for the anim="letters-in-reveal" animation
 * - ```[anim="letters-in-reveal"]```
 * @param 		{Integer} 		[$words-letters-count=100] 		The max letters count of words that the animation will handle
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
 @mixin s-anim-letters-in-reveal-classes(
	 $words-letters-count : 100
 ) {
	@include s-anim-letters-in-reveal-bare($words-letters-count);
	@include s-anim-letters-in-reveal-style();
}

/**
 * Provide the bare styling for the anim="letters-in-reveal" classes
 * - ```[anim="letters-in-reveal"]```
 * @param 		{Integer} 		[$words-letters-count=100] 		The max letters count of words that the animation will handle
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin s-anim-letters-in-reveal-bare(
	$words-letters-count : 100
) {
	[anim="letters-in-reveal"] {
		opacity:0.001;
		transition:opacity .2s linear .2s;

		&.anim-play {
			opacity:1;
			transition:opacity 0s linear 0s;

			.split-letters__letter {
				@include s-translate(0,0);
			}
		}

		[anim-activator] & {
			.split-letters__letter {
				transform:translateX(-110%) !important;
			}
		}
		[anim-activator].active &,
		[anim-activator][active] & {
			opacity:1;

			.split-letters__letter {
				transform:translateX(0) !important;
			}
		}

		.split-letters__letter-container {
			position:relative;
			display:inline-block;
			overflow: hidden;
			min-height:1.1em;

			@for $i from 0 through $words-letters-count {
				&:nth-child(#{$i}) .split-letters__letter {
					transition-delay:(.01s * $i) !important;
				}
			}
		}
			.split-letters__letter {
				display:inline-block;
				@include s-translate(-110%,0);
				@include s-transition(all .4s cubic-bezier(0.380, 0.010, 0.000, 1) .1s);
			}

	}
}

/**
 * Provide the style styling for the anim="letters-in-reveal" classes
 * - ```[anim="letters-in-reveal"]```
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin s-anim-letters-in-reveal-style() {

}
