/**
 * @name 	SAnimationComponent Classes
 * This file provide the mixins to generate animation classes
 */

/**
 * Provide the classes for the anim="lines-in-boxes" animation
 * - ```[anim="lines-in-boxes"]```
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
 @mixin s-anim-lines-in-boxes-classes(
 ) {
   @include s-anim-lines-in-boxes-bare();
   @include s-anim-lines-in-boxes-style();
}

@keyframes lines-in-boxes {
	0% {
		width:0;
		transform:translateX(200vw);
	}
	49.99999% {
		transform:translateX(200vw);
	}
	50% {
		width:100%;
		left:0;
		transform:translateX(0);
	}
	100% {
		width:0;
		left:100%;
		transform:translateX(0);
	}
}
@keyframes lines-in-boxes-hover {
	0% {
		width:0;
		transform:translateX(200vw);
	}
	49.99999% {
		transform:translateX(200vw);
	}
	50% {
		width:100%;
		left:0;
		transform:translateX(0);
	}
	80% {
		width:0;
		left:100%;
		transform:translateX(0);
	}
	100% {
		width:0;
		left:100%;
		transform:translateX(0);
	}
}

@keyframes lines-in-boxes-text {
	0% {
		transform:translateX(-200vw);
	}
	49.99999% {
		transform:translateX(-200vw);
	}
	50% {
		transform:translateX(0);
	}
	100% {
		transform:translateX(0);
	}
}

/**
* Provide the bare styling for the anim="lines-in-boxes" classes
* - ```[anim="lines-in-boxes"]```
* @author 		Olivier Bossel <olivier.bossel@gmail.com>
*/
@mixin s-anim-lines-in-boxes-bare(
) {
   [anim="lines-in-boxes"] {
	   opacity:0.001;
	   transition:opacity .2s linear .2s;

	   &.anim-play {
		   opacity:1;
		   transition:opacity 0s linear 0s;

		   .split-lines__line {
			   @include s-translate(0,0);
			   animation: lines-in-boxes-text .7s cubic-bezier(0.750, 0, 0.105, 1) 0s forwards;

				&:before {
				   animation: lines-in-boxes .7s cubic-bezier(0.750, 0, 0.105, 1) 0s forwards;
				}
				&:after {
					animation: lines-in-boxes-hover .7s cubic-bezier(0.750, 0, 0.105, 1) 0s forwards;
				}
		   }
	   }

	   [anim-activator] & {
		   .split-lines__line {

		   }
	   }
	   [anim-activator].active &,
	   [anim-activator][active] & {
		   opacity:1;

		   .split-lines__line {
			   transform:translateX(0) !important;
		   }
	   }

	//    .split-lines__line {
	// 	   position:relative;
	// 	   display:inline-block;
	// 	   overflow: hidden;
	//    }
		.split-lines__line {
			display:inline-block;
			// text-indent:-9999999px;

			transform:translateX(-200vw);

			&:before,
			&:after {
				content:'';
				display:block;
				width:0; height:100%;
				position:absolute;
				top:0; left:0;
				background:s-color(primary);
				transform:translateX(200vw);
			}
			&:after {
				background-color:s-color(primary, -darken 10%);
				transform:translateX(0);
			}
		}
   }
}

/**
* Provide the style styling for the anim="lines-in-boxes" classes
* - ```[anim="lines-in-boxes"]```
* @author 		Olivier Bossel <olivier.bossel@gmail.com>
*/
@mixin s-anim-lines-in-boxes-style() {

}
