/**
 * Print out the responsive style for a table.
 * This responsive style make the table display as block and take the "label" attribute on the td to display correctly the line label
 */
@mixin s-table-responsive() {
	/* Force table to not be like tables anymore */
	&, thead, tbody, th, td, tr {
		display: block;
	}
	/* Hide table headers (but not display: none;, for accessibility) */
	thead .tr,
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.td,
	td {
		/* Behave  like a "row" */
		position: relative;
		padding-left: 50%;
		width:100% !important;
	}
	.td:before,
	td:before {
		position: absolute;
		width: 45%;
		padding: s-lnf(padding-horizontal) s-lnf(padding-vertical);
		white-space: nowrap;
		content:attr(label);
	}
}
