@function s-component-item(
	$name : null,
	$value : null
) {
	$componentName : s-component();
	@if not $componentName {
		@error('You try to use the s-component-item-selector function outside a s-component-name mixin. That\'s not possible.');
	}
	@if $value {
		@if not $name {
			@return unquote('[#{$componentName}="#{$value}"]');
		}
		@return unquote('[#{$componentName}-#{$name}="#{$value}"]');
	}
	@if not $name {
		@return unquote('[#{$componentName}]');
	}
	@return unquote("[#{$componentName}-#{$name}]");
}
