@function s-filter-map(
	$filter
) {
	$filters : map-keys(sugar('settings.filters'));
	$map : ();
	@each $f in $filter {
		// check if the filter exist in registered ones
		@if type-of($f) == string and index($filters,$f) {
			// we have a filter
			$map : map-merge($map, s-filter-map(sugar('settings.filters.#{$f}')));
		} @else {
			// split the filter
			$open_idx : str-index($f,'(');
			$f_name : str-slice($f,1,$open_idx - 1);
			$f_value : str-slice($f,$open_idx+1,-2);
			$f_value : _split($f_value,' ');
			$map : map-set($map,$f_name,s-replace-tokens($f_value));
		}
	}
	@return $map;
}
