/**
 * Convert the passed value to the closest odd value
 *
 * @param 			{Number} 		$value 		The value to convert
 * @return 			{Number} 					The closest odd converted value
 *
 * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@function s-odd($value) {
	$dec : s-strip-units($value % 2);
	$value : round($value);
	@if s-strip-units($value) % 2 == 0 {
		@if $dec >= 1 {
			$value : $value + 1;
		} @else {
			$value : $value - 1;
		}
	}
	@return $value;
}
