/**
 * Process selector to avoid having --default, etc...
 * @param 		{String} 		$selector 		The selector to process
 * @return 		{String} 						The processed selector
 * @example 	scss
 * s-selector('.input--default'); // => .input
 * s-selector('.input-default'); // => .input
 * s-selector('.input.default'); // => .input
 */
@function s-selector($selector) {
	$selector : str-replace($selector,'--default','');
	$selector : str-replace($selector,'-default','');
	$selector : str-replace($selector,'.default','');
	@return $selector;
}
