/**
 * Here's are the selector methods that are available in this version of sugar
 *
 * - `BEM` : Generate BEM selectors like `.block__element--modifier|state`
 * - `SMACCS` : Generate SMACCS selectors like `.block-element-modifier.is-state`
 * - `WEBCOMPONENT` : Generate selectors to match webcomponents like `block`, `block-element`, `block[modifierName="modifier"]`, `block[modifier]` or `block[state]`
 * - `WEBCOMPONENT-IS` : Generate selectors to match the is="name" webcomponent syntax like `[is="block"]`, `[is="block-element"]`, `[is="block"][modifier]`, etc...
 */
