/**
 * This file contains all the default settings that can be overrided by the [s-setup mixin](./mixins/_s-setup.scss).
 *
 * @author 			Olivier Bossel <olivier.bossel@gmail.com>
 */
$_sugar-classes : () !default; 						// store all the classes in their namespaces
$_sugar-settings : (								// store all the settings
	unit 						: rem, 				// set the base unit to use across the system
	reset 						: true, 			// by default, a reset will be applied
	border-box 					: true, 			// set if need to set all as border box model
	sizes 						: (					// store all the ratios between sizes
		smaller 					: 0.3,
		small 						: 0.6,
		default 					: 1, 				// the default size is required and need to stay to 1
		medium 						: 1.4,
		big 						: 2,
		bigger 						: 3
	),
	typography					: (
		font-family 				: default, 			// set the font to use by default
		font-size 					: 14px, 			// default font-size
		font-sizes 					: null, 			// map of font-sizes by media (size : media)
		line-letters-count			: 55,				// optimal letters count in a line
		font-format 				: ( 				// font format used in font-face
			eot 						: embedded-opentype,
			woff2 						: woff2,
			woff 						: woff,
			ttf 						: truetype,
			otf 						: opentype,
			svg 						: svg,
			svgz 						: svgz
									)
								),
	look-and-feel 				: ( 				// store some settings for the look and feel
		border-radius 				: 0em,
		padding-vertical 			: 1.4em,
		padding-horizontal 			: 0.8em,
		disabled-opacity 			: .5,
		line-height 				: 1.4
	),
	spaces 						: (					// store all the spaces available
		default 					: 1rem
								),
	colors 						: (					// store all the colors
		default 					: (
			color 						: #848e91
									),
		title 						: (
			color 						: #2b3438
									),
		text 						: (
			color 						: default
									),
		link 						: (
			color 						: primary
									),
		primary 					: (
			color 						: #f2bc2b
									),
		secondary 					: (
			color 						: #2b3438
									),
		success 					: (
			color 						: #5cb85c
									),
		warning 					: (
			color 						: #f0ad4e
									),
		error 						: (
			color 						: #d9534f
									),
		info 						: (
			color 						: #2199e8
									)
								),
	modular-scale 				: (
		base 						: 1rem,
		ratio 						: 1.33
								),
	text-format 				: (
		scope-class 				: tf
								),
	vertical-rhythme 			: ( 				// Vertical rhythme options
		enabled 					: true,				// set if need the vertical rhythme options or not
		scope-class 				: vr 				// the class in which the vertical rhythme will be applied
								),
	BEM 						: ( 				// BEM settings
		standelone-modifier			: false, 			// set if by default need to extend base element
		element-separator 			: '__', 			// element separator
		modifier-separator 			: '--' 				// modifier separator
								),
	fonts  						: ( 				// store all the fonts
		default 					: (
			font-family 				: ('Helvetica Neue',Helvetica,Verdana,Arial,sans-serif),
			font-weight 				: normal,
			cap-height 					: 0.65
									),
		quote 					: (
			font-family 				: (Palatino,Times,Georgia,serif),
			font-weight 				: normal,
			cap-height 					: 0.65
									),
		code 						: (
			font-family 				: (Menlo,Monaco,Consolas,"Courier New",monospace),
			font-weight 				: normal,
			cap-height 					: 0.65
									)
								),
	filters 					: ( 				// store all the registered filters
								),
	transitions 				: ( 				// store all the transition settings
		fast 						: all .1s ease-in-out 0s,
		default  					: all .2s ease-in-out 0s, // default transition
		slow 						: all .5s ease-in-out 0s
								)
);
