/**
 * Sugar
 */

// import cousine font
// @import url(https://fonts.googleapis.com/css?family=Cousine);

// import sugar
@import 'sugar/sugar';

// setup sugar
@include s-setup((
	typo : (
		font-family : helvetica,
		font-size : 13px,
		font-sizes : (
			11.5px : (
				min-width : 0,
				max-width : 800px
			),
			9.5px : (
				min-width : 0,
				max-width : 400px
			)
		)
	),
	fonts : (
		helvetica : (
			font-family : 'Open Sans',
			cap-height : 0.65
		),
		helvetica-bold : (
			font-family : 'Open Sans',
			font-weight : 700,
			cap-height : 0.65
		),
		helvetica-light : (
			font-family : 'Open Sans',
			font-weight : 300,
			cap-height : 0.65
		),
		cousine : (
			font-family: 'Cousine',
			cap-height : 0.61
		)
	),
	font-awesome : (
		icons : user gg-circle angle-right bars check coffee camera-retro cloud arrow-up linkedin github home twitter beer caret-down
	),
	animate-css : (
		animations : rubberBand tada flipOutX fadeIn
	),
	colors : (
		default : (
			color : #8195a1
		),
		primary : orange,
		grey : (
			color : #c1c1c1,
			modifiers : (
				light : #fafafa,
				dark : -darken 15%
			)
		),
		blue : (
			color : #8195a1
		),
		green : #00ff00,
		orange : (
			color : #f2bc2b,
			classes : color bkg,
			modifiers : (
				light : #f2ebd6,
				dark : #563c05
			)
		)
	),
	filters : (
		toaster : cssgram-toaster,
		1977 : cssgram-_1977,
		walden : cssgram-walden,
		moon : cssgram-moon
	),
	transitions : (
		transitions : (
			fast : all .1s ease-in-out,
			normal : all .2s ease-in-out,
			slow : all .5s ease-in-out
		)
	),
	classes : 'helper',
	components : (
		typeset : (
			titles : (
				default : (
					color : black
				),
				h1 : (
					font-family : helvetica-light
				),
				h2 : (
					font-family : helvetica-light
				),
				h3 : (
					font-family : helvetica-light
				)
			)
		)
	)
)); 

// init
@include s-init();