// import sugar settings
@import 'sugar';

$colors : (default,primary,secondary,warning,error,success,info);
$sizes : (small,default,medium,big,bigger);

//
// Dropdown
//
@include s-dropdown(
	$sizes : $sizes,
	$colors : $colors
);
@include s-dropup();

//
// Activate
//
@include s-activate();

//
// Nav
//
@include s-nav-tabs(
	$colors : $colors
);

//
// ripple
//
@include s-ripple();

//
// typeset
//
@include s-typeset-titles();
@include s-typeset-paragraphs();
@include s-typeset-decorators();
@include s-typeset-lists();
@include s-typeset-blocks();
@include s-typeset-tables(
	$sizes : $sizes
);

// form group
@include s-formset-group();

// form
@include s-formset-input(
	$colors : $colors
);

// addons
@include s-formset-input-addon(
	$colors : $colors
);

// label
@include s-formset-label-bare();
@include s-formset-label-style();

// input-reply
@include s-formset-input-reply(
	$colors : $colors
);

@include s-formset-radiobox(
	$colors : $colors,
	$animations : true
);
@include s-formset-fieldset(
	$sizes : $sizes
);
@include s-formset-datepicker(
	$colors : $colors
);

@include s-formset-range(
	$colors : $colors
);

@include s-formset-advanced-select(
	$colors : $colors
);

//
// Button
//
@include s-button(
	$colors : $colors
);
