// import sugar settings
@import 'sugar';

// import prism
@import 'prism';

// drawer
@include s-drawer('menu' reveal left 450px) {
	@include s-media(-max-width 500px) {
		@include s-drawer(300px);
	}
}
@include s-drawer('author' push right 500px) {
	@include s-media(-max-width 500px) {
		@include s-drawer(300px);
	}
}

[data-s-drawer-bkg="menu"] {
	@include s-background('../img/menu-bkg.jpg' cover);
}
[data-s-drawer-bkg="author"] {
	@include s-background('../img/author-bkg.jpg' cover);
}
[data-s-drawer="menu"],
[data-s-drawer="author"]
 {
	color: white;
	padding:s-rem(60px);

	&, * {
		text-shadow:rgba(0,0,0,.5) 1px 1px 5px;
	}
}
[data-s-drawer="author"] {
	padding:s-rem(80px);

	&, * {
		color: white;
		text-shadow:rgba(0,0,0,.5) 1px 1px 5px;
	}
}
[data-s-drawer-content] {
	@include s-transition(transform);
	overflow-x: hidden;

	@include s-drawer-opened('menu') {
		// overflow: hidden;
		// @include s-transform(-scaleX 0.9 -scaleY 0.9 -translateX 450px);
		overflow-x: hidden;
		box-shadow:rgba(0,0,0,.2) 0 0 4px;	
	}
	@include s-drawer-opened('author') {
		@include s-transform(-scaleX 0.9 -scaleY 0.9 -translateX -430px);
		box-shadow:rgba(0,0,0,.3) 0 0 50px;

		@include s-media(-max-width 500px) {
			@include s-transform(-scaleX 0.9 -scaleY 0.9 -translateX -300px);
		}
	}
}
body.s-drawer-author {
	[data-s-drawer-content] {
		height: 100%;
		overflow: hidden;
	}
}
body[class*="s-drawer-"] {
	overflow:hidden;
}

//
// Layout
//
body {
	overflow-x: hidden;
	background: s-color(orange);
}
#header {
	background-image:url('http://sugarcss.io/assets/img/highlight-bkg.jpg');
	background-size:cover;
	background-position:50% 50%;
	min-height:150px;
	color: white;
	padding:s-space(big) 0;
	line-height:1;
	
	h1, h2 {
		color : s-color(white);
	}
	* {
		@include s-filter(-drop-shadow rgba(0,0,0,.2) 0 0 7px);
	}
}
#head {
	padding: s-space(bigger) 0;
}
.separator {
	width:100%;
	height:1px;
	background: s-color(grey, light);
	margin-bottom:50px;
	margin-top:50px;
}
#top-bar {
	background: black;
}
#author-toggle {
	background: s-color(orange);
	position:fixed;
	top:0; right:0;
	font-size:20px;
	color: white;
	padding:10px 15px;
	min-height:s-rem(43px);
	z-index:5;
	cursor: pointer;
}
#menu-toggle {
	background: s-color(orange);
	position:fixed;
	top:0; left:0;
	font-size:20px;
	color: white;
	padding:10px 15px;
	min-height:s-rem(43px);
	z-index:5;
	cursor: pointer;
}
.section {
	padding: round(s-space(bigger)) 0;
	background: white;
}
.avatar {
	@include s-background('https://scontent-frt3-1.xx.fbcdn.net/hphotos-prn2/t31.0-8/966874_10151525520437881_1657835185_o.jpg' cover);
	@include s-corner(50%);
	box-shadow:rgba(0,0,0,.3) 0 0 5px;
}
pre > code {
	background: none !important;
	color: s-color(text) !important;
}


//
// Icons
//
.icons-presenter i {
	background: s-color(orange);
	width:50px; height:50px;
	text-align: center;
	color: white;
	font-size: 18px;
	@include s-corner(5px);

	&:before {
		top: 16px;
		position: relative;
	}
}

//
// Vertical rhythme
//
[data-toggle-rhythme],
[data-toggle-baseline] {
	cursor: pointer;
	@include s-vertical-rhythme((
		s-font : 14px uppercase s-color(grey)
	));
	&:hover,
	&.active {
		i {
			color : s-color(orange);
		}
	}
	margin-left: s-rem(20px);


}

//
// Round nav
//
.round-menu {
	display: block;
	margin: 0 auto;
	position: relative;
	width: 100%;
	height: 200px;
	margin-top:80px;
	@include s-transition();

	&:hover {
	
		.round-menu__item {
			&:nth-child(1) {
				@include s-translate(-70px -20px);
				transition-delay: 0s !important;
			}
			&:nth-child(2) {
				@include s-translate(0 -70px);
				transition-delay: .1s !important;
			}
			&:nth-child(3) {
				@include s-translate(70px -20px);
				transition-delay: .2s !important;
			}
		}
	}
}
	.round-menu__item {
		position: absolute;
		top:10px; left:10px;
		transition : all .4s cubic-bezier(0.64, 0.57, 0.67, 1.53) !important;		
	}

	.round-menu__toggle-button,
	.round-menu__item-button {
		position: absolute;
		top: 0; left: 0;
		background: s-color(orange);
		width: 50px; height: 50px;
		@include s-corner(50%);
		text-align: center;
		border:none;

		i {
			@include s-font(white 18px);
		}
	}
	.round-menu__toggle-button {
		width: 70px; height: 70px;
		@include s-corner(35px);
	}

.gooey-demo {
	position: relative;
	width:calc(100% - 70px);
	height:70px;
}
	.gooey-round {
		width:50px; height:50px;
		background:s-color(orange);
		border-radius:50%;
		position: absolute;
		top:10px; left:0;

		&:nth-child(2) {
			left: 25%;
		}
		&:nth-child(3) {
			left: 50%;
		}
		&:nth-child(4) {
			left: 75%;
		}
		&:nth-child(5) {
			left: 100%;
		}
	}
	.gooey-animated-round {
		width:70px; height:70px;
		background:s-color(orange);
		border-radius:50%;
		position: absolute;
		transform: translateX(-10px);
		top:0; left:0;
		animation: gooey-cross-screen 10s ease-in-out infinite;
	}
@keyframes gooey-cross-screen {
	0% {
		left:0;
	}
	50% {
		left:100%;
	}
	100% {
		left:0;
	}
}

//
// Motion blur
//
[data-motion-blur] {
}
.drag-box {
	width:100px; height:100px;
	background: red;
	background: url(http://graph.facebook.com/622487880/picture?type=large) no-repeat 50% 50%;
	background-size: cover;
	@include s-translate(0 0);
	transition:none !important;
}
.motion-box {
	width:100px; height:100px;
	background: red;
	
	background: url(http://graph.facebook.com/622487880/picture?type=large) no-repeat 50% 50%;
	background-size: cover;
	position: relative;
	@include s-animation(cross-screen .8s infinite);
}
.motion-box--round {
	@include s-animation(round-screen 2s infinite);
}
@keyframes round-screen {
	0% {
		left : 0;
		top : 0;
	}
	25% {
		left : 100%;
		top : 0;
		@include s-translate(-100%);
	}
	50% {
		left : 100%;
		top : -200px;
		@include s-translate(-100%);
	}
	75% {
		left : 0;
		top : 0;
		@include s-translate(0);
	}
	100% {
		left : 0;
		top : 0;
	}
}
@keyframes cross-screen {
	0% {
		left:0;
	}
	50% {
		left:100%;
		@include s-translate(-100%);
	}
	100% {
		left:0;
	}
}

//
// Slidizle
//
[data-slidizle] {
	position:relative;
	cursor: pointer;
	user-select: none;
}

	[data-slidizle-content] {
		position:relative;
		width: 99999px;
		@include s-transition();

		@for $i from 0 through 10 {
			.slide-#{$i} & {
				$trans : - 640 * $i;
				@include s-translate(s-px($trans));
				@include s-transitionstart();
				// left : ;
			}
		}
	}

		[data-slidizle-item] {
			float: left;
			margin: 0 40px 0 0;
			position:relative;
			
			width: 600px;
			@include s-size(16/9);

			img {
				@include s-space(cover);
			}

			// .slidizle-left & {
			// 	@include s-animation(slider-out-left .2s ease-in-out);

			// 	&.active {
			// 		@include s-animation(slider-in-left .2s ease-in-out);
			// 	}
			// }
			// .slidizle-right & {
			// 	@include s-animation(slider-out-right .2s ease-in-out);

			// 	&.active {
			// 		@include s-animation(slider-in-right .2s ease-in-out);
			// 	}
			// }
		}

@keyframes slider-in-left {
	from {
		left : -1000px;
	}
	to {
		left : 0;
	}
}
@keyframes slider-out-left {
	from {
		left : 0;
	}
	to {
		left : -1000px;
	}
}
@keyframes slider-in-right {
	from {
		left : 1000px;
	}
	to {
		left : 0;
	}
}
@keyframes slider-out-right {
	from {
		left : 0;
	}
	to {
		left : 1000px;
	}
}

// .hey {
// 	@include s-hey(top right 20px s-color(orange, dark) -margin-top -7px -margin-left 7px);
// }

//
// Typeset
//
// .typeset {
// 	* {
// 		@include s-transition();
// 	}
// }

figure {
	height: 10rem;
	position: relative;
	overflow: hidden;
	margin-bottom: 1rem;

	img {
		@include s-space(cover);
		width:100%;
	}
}

.show-rhythme {
	@include s-show-rhythme();
}

//
// List
//
.list {
	&.list--inline {
		.list__item {
			display:inline-block;
		}
	}
}
.list--top-bar {
	color: s-color(orange);

	@extend .list--inline;

	.list__item {

		> a {
			display: inline-block;
			padding:15px;

			&:hover,
			&.active {
				color: white;
				background: s-color(orange);
				text-shadow:rgba(0,0,0,.3) 1px 1px 0;
			}
		}
	}
}
.list--menu {
	color: white;
	@include s-list();

	.list__item {
		@include s-list-item(
			-padding-left 30px
            -style-icon fa-bars
            -bullet-color s-color(orange, dark)
            -bullet-size 22px
		);
		border-bottom:1px solid s-color(orange, -darken 30% -opacity .2);
		border-top:1px solid s-color(white, -opacity .2);
		padding-top:s-rem(10px);
		padding-bottom:s-rem(10px);

		&:last-child {
			border-bottom:none;
		}
		&:first-child {
			border-top:none;
		}

		a {
			@include s-font(white 20px);
		}
	}
}

//
// Read more
//
.read-more {
	overflow: hidden;
	position: relative;
	@include s-transition(all 1s ease-in-out);

	&:after {
		position: absolute;
		bottom:0; left:0;
		width:100%;
		height:100px;
		background: linear-gradient(to bottom, transparentize(white,1) 0%, white 100%);
	}

	&:target {
		max-height: 5000px !important;

		&:after {
			opacity:0;
			pointer-events:none;
		}
	}
}

//
// Dropdown
//
@include s-dropdown(-sizes smaller default bigger);
@include s-dropup();

//
// Nav
//
@include s-nav-tabs(-sizes small default medium big bigger);

//
// typeset
//
@include s-typeset-titles();
@include s-typeset-paragraphs();
@include s-typeset-decorators();
@include s-typeset-lists();
@include s-typeset-blocks();
@include s-typeset-tables(-sizes smaller small medium big bigger);

// form
@include s-formset(
	-sizes smaller small default medium big bigger
);
@include s-formset-radiobox(
	-sizes smaller small default medium big bigger
);
@include s-formset-fieldset(
	-sizes smaller small default medium big bigger
);

//
// Button
//
@include s-button(
	-sizes smaller small default medium big bigger
);

a {
	@include s-font(s-color(orange) -td none);
}
strong {
	@include s-font(helvetica-bold);
}

.top {
	display: block;
	background: s-color(orange);
	color: white;
	@include s-position(bottom right fixed);
	padding:s-space(smaller);
	z-index:5;
}


//
// Bubble
//
.bubble {
	position:relative;
	padding:s-space(medium);
	color:white;
	width:100%;
	@include s-font(22px center);
	margin-bottom: s-space(small);
	@include s-corner(s-rem(5px));

	&:hover {
		@include s-animation(tada);
		z-index:1;
	}

	@include s-bubble(s-color(orange) 10px, s-color(orange, -darken 15%) 2px) {

		&.bubble-top-left {
			@include s-bubble(top left);
		}
		&.bubble-top-center {
			@include s-bubble(top center);
		}
		&.bubble-top-right {
			@include s-bubble(top right);
		}
		&.bubble-bottom-left {
			@include s-bubble(bottom left);
		}
		&.bubble-bottom-center {
			@include s-bubble(bottom center);
		}
		&.bubble-bottom-right {
			@include s-bubble(bottom right);
		}
		&.bubble-left-top {
			@include s-bubble(left top);
		}
		&.bubble-left-center {
			@include s-bubble(left center);
		}
		&.bubble-left-bottom {
			@include s-bubble(left bottom);
		}
		&.bubble-right-top {
			@include s-bubble(right top);
		}
		&.bubble-right-center {
			@include s-bubble(right center);
		}
		&.bubble-right-bottom {
			@include s-bubble(right bottom);
		}
	}
}

// print out sugar classes
@include s-classes();