@mixin s-activate-component(
) {
	$componentName : s-component('s-activate');
	@include s-component($componentName) {
		[#{$componentName}-target] {
			display: none;
		}
		[#{$componentName}-target]:target,
		[#{$componentName}-target].active {
			display: block;
		}
	}
}
