@import '../../../index';

@include s-init();

@include s-classes();

#fullscreen {
	background-image: url(s-base64-icon(angle-left));
	background-size: 10px;
}

.coffeekraken-logo {
	@include s-coffeekraken-logo(primary, secondary);
	background-size: cover;
	width:300px;
}

.kraken {
	background-image: url('../../dist/img/kraken.png');
	width: 300px; height: 300px;
}
