$_s-select-component-inited : false;
@mixin s-select-component-init() {
	@if not $_s-select-component-inited {
		$_s-select-component-inited : true ! global;

		%s-select {
			position:relative;
			cursor: pointer;

			select:disabled + & {
				opacity:s-lnf(disabled-opacity);
				pointer-events:none;
				cursor: not-allowed;
			}
		}
		%s-select__dropdown {
			opacity:0;
			pointer-events:none;
			position:absolute;
			top:100%; left:0;
			z-index: 1;
			width:100%;
			height:0;
			overflow-y: hidden;
		}
		%s-select__selection {
			vertical-align: middle;
			> * {
				display:inline-block;
				vertical-align: middle;
			}
		}
		%s-select--dropup__dropdown {
			top:auto; bottom:calc(#{unquote("100% + #{10px}")});
		}
		%s-select--opened__dropdown {
			opacity:1;
			pointer-events:all;
			height:auto;
		}
		%s-select__search-field {
		}
		%s-select__options {
			overflow-y: auto;
			overflow-x: hidden;
			height: 100%;
			max-height: 100vh;
		}
		%s-select__option {
			list-style: none;
			cursor: pointer;
		}
		%s-select__option--disabled {
			opacity: s-lnf(disabled-opacity);
			pointer-events: none;
		}
		%s-select__option--hidden {
			display:none;
		}
		%s-select__selection {
		}
		%s-select__selection-tag {
			display:inline-block;
		}
		%s-select__reset {
			display:none;
			background-size:100% 100%;
			background-color: transparent;
			border: none;
			position:absolute;

			:hover > & {
				display:inline-block;
			}
		}
		%s-select__selection-tag-close {
			background-size:100% 100%;
		}
	}
}

@mixin s-select-component(
	$colors : null
) {
	@include s-select-component-bare();
	@if $colors {
		@include s-select-component-style($colors);
	}
}

@mixin s-select-component-bare() {
	@include s-select-component-init();
	@include s-component('s-select') {
		// silent classes
		#{s-component-selector()} {
			@extend %s-select;
		}
		#{s-component-selector('dropdown')} {
			@extend %s-select__dropdown;
		}
		#{s-component-selector('selection')} {
			@extend %s-select__selection;
		}
		#{s-component-selector('dropup')} #{s-component-selector('dropdown')} {
			@extend %s-select--dropup__dropdown;
		}
		#{s-component-selector(null, null, 'opened')} #{s-component-selector('dropdown')} {
			@extend %s-select--opened__dropdown;
		}
		// #{s-component-selector('_search-field {
		// 	@extend %s-select__search-field;
		// }
		#{s-component-selector('options')} {
			@extend %s-select__options;
		}
		#{s-component-selector('option')} {
			@extend %s-select__option;
		}
		#{s-component-selector('option', null, 'disabled')} {
			@extend %s-select__option--disabled;
		}
		#{s-component-selector('option', null, 'hidden')} {
			@extend %s-select__option--hidden;
		}
		// #{s-component-selector('_selection {
		// 	@extend %s-select__selection;
		// }
		#{s-component-selector('selection-tag')} {
			@extend %s-select__selection-tag;
		}
		#{s-component-selector('selection-tag-close')} {
			@extend %s-select__selection-tag-close;
			height: 0.8em;
			width: 0.8em;
			vertical-align: middle;
			cursor: pointer;
			display:inline-block;
		}
		#{s-component-selector('reset')} {
			@extend %s-select__reset;
			right : s-lnf(padding-horizontal) * 3;
			top: s-lnf(padding-vertical);
			height: 1em;
			width: 1em;
			vertical-align: middle;
			cursor: pointer;
		}

		// style
		#{s-component-selector('search-field')} {
			border-radius: s-lnf(border-radius);
			padding: s-lnf(padding-horizontal) s-lnf(padding-vertical);
		}

		#{s-component-selector()}.input {
			@include s-input-component-select-field-bare();
			$paddingTag : s-lnf(padding-horizontal);
			$padding : s-lnf(padding-horizontal) * .6;
			$fontSizeTag : s-lnf(font-size) * .8;

			$h : 1em;
			&#{s-component-selector('multiple')} {
				transition:none;

				&:not(#{s-component-selector(null,'placeholder')}) {
					padding: $padding / 2 $padding;
					height: auto !important;
				}
			}
			#{s-component-selector('dropdown')} {
				border-radius: s-lnf(border-radius);
			}
			#{s-component-selector('search-container')} {
				padding: s-lnf(padding-horizontal) s-lnf(padding-vertical);
			}
			#{s-component-selector('search-field')} {
				@include s-input-component-field-size();
				border-radius: s-lnf(border-radius);
			}
			#{s-component-selector('selection-tag')} {
				border-radius:s-lnf(border-radius);
				font-size: 0.8em;
				margin-right: s-lnf(padding-vertical) / 2;
				margin-top: $padding / 2;
				margin-bottom: $padding / 2;
				padding:$paddingTag / 2 s-lnf(padding-vertical) / 2;
			}
			#{s-component-selector('selection-tag-close')} {
				margin-left: s-lnf(padding-vertical) / 3;
			}
			#{s-component-selector('option')}:not(#{s-component-selector('option','custom')}),
			#{s-component-selector('optgroup')}:not(#{s-component-selector('optgroup','custom')}) {
				padding: s-lnf(padding-horizontal) s-lnf(padding-vertical);
			}
			#{s-component-selector('option','in-optgroup')} {
				padding-left: s-lnf(padding-horizontal) * 2 !important;
			}
		}
	}
}

@mixin s-select-component-style(
	$colors : default primary secondary
) {
	@include s-select-component-init();
	@include s-component('s-select') {
		#{s-component-selector()} {
			background-color: white;
			@include s-input-component-select-field-style(default);

			@include s-vertical-rhythme {
				margin-bottom:1rem;
			}
		}
		#{s-component-selector('search-field')} {
			width:100%;
			height:100%;
			outline:none;
			color: s-color(text);
			background-color: white;
			border:1px solid s-color(default, -opacity .5);

			@include s-placeholder() {
				color: s-color(text, -opacity .4);
			}
		}
		#{s-component-selector('dropdown')} {
			top:calc(#{unquote("100% + #{3px}")});
			margin-top:-20px;
			@include s-transition(fast);
			background:white;
			@include s-depth(6);
		}
		#{s-component-selector(null, null, 'opened')} #{s-component-selector('dropdown')} {
			margin-top:0;
		}
		#{s-component-selector()}.input {
			#{s-component-selector('optgroup')}:not(#{s-component-selector('optgroup','custom')}) {
				font-weight: bold;
			}
		}
		#{s-component-selector('option')} {
			color: s-color(text);
			@include s-transition(fast);
		}
		select[required] + #{s-component-selector(null, 'placeholder')} {
			#{s-component-selector('selection')} {
				&:after {
					content: ' *';
					color: s-color(error);
					font-size:.7em;
				}
			}
		}

		@each $color in $colors {

			#{s-component-selector(null, $color, null, 'color')} {
				#{s-component-selector('search-container')} {
					background: s-color($color, -opacity .1);
					border-bottom:1px solid s-color($color, -opacity .2);
				}
				#{s-component-selector('selection-tag')} {
					background: s-color($color, -opacity .6);
					color:white;
				}
				#{s-component-selector('reset')},
				#{s-component-selector('selection-tag-close')} {
					background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><style>path{fill%3A#{str-replace("#{s-color($color)}","#","%23")};}</style><path d="M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4  L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1  c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1  c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z"/></svg>');
					opacity:.65;

					&:hover {
						opacity:1;
					}
				}
				#{s-component-selector('option', null, 'selected')} {
					background: s-color($color, -opacity .2);
				}
				#{s-component-selector('option')} {
					&.active {
						background: s-color($color, -opacity .3);
					}
					&:hover,
					&:active {
						background: s-color($color, -opacity .6);
						color: white;
					}
				}
				#{s-component-selector('search-result')} {
					background:s-color($color);
					color:white;
				}
			}
		}
	}
}
