//
// Sugar drawer component
//

@mixin s-drawer-opened(
	$name : null
) {
	$drawer-toggle-sel : '[data-drawer-toggle]';
	@if $name {
		$drawer-toggle-sel : '[data-drawer-toggle="#{$name}"]';
	}
	#{$drawer-toggle-sel}:checked ~ & {
		@content;
	}
}

@mixin s-drawer(
	$settings : ()
) {

	// mix settings with base one
	$settings : map-merge(sugar('settings.drawer'), $settings);
	$side : map-get($settings, side);
	$type : map-get($settings, type);
	$transition : map-get($settings, transition);
	$name : map-get-or($settings, name);

	html, body {
		height: 100%;
	}

	[data-drawer-toggle] {
		position: fixed;
		top:0; left:0;
		opacity: 0;
	}

	[data-drawer-toggle-label] {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: pointer;
	}

	$drawer-sel : '[data-drawer]';
	$drawer-overlay-sel : '[data-drawer-overlay]';
	$drawer-toggle-sel : '[data-drawer-toggle]';
	@if $name {
		$drawer-sel : '[data-drawer="#{$name}"]';
		$drawer-overlay-sel : '[data-drawer-overlay="#{$name}"]';
		$drawer-toggle-sel : '[data-drawer-toggle="#{$name}"]';
	}

	#{$drawer-sel} {
		position: fixed;
		top: 0;
		@if $side == left {
			@if $type == push or $type == slide {
				@include s-translate(map-get($settings, width) * -1);
			} @else if $type == reveal {
				left: 0;
			}
		} @else if $side == right {
			@if $type == push or $type == slide {
				@include s-translate(0);
				left: 100%;
			} @else if $type == reveal {
				right: 0;
			}
		}
		@if $type == slide {
			z-index: 1;
		}
		height: 100%;
		width: map-get($settings, width);
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		@include s-transition($transition);
	}
	/* actual page content pane */
	[data-content] {
		@include s-translate(0);
		width: 100%;
		@include s-transition($transition);
		background-color: white;
	}

	#{$drawer-overlay-sel} {
		position: fixed;
		z-index:10;
		top:0;
		left:0;
		height: 100%;
		width: 100%;
		background: rgba(255, 255, 255, 0);
		opacity: 0;
		pointer-events: none;
		@include s-translate(0px);
		@include s-transition($transition);
	}

	#{$drawer-toggle-sel}:checked ~ #{$drawer-overlay-sel} {
		opacity: 1;
		pointer-events: all;
		@if $side == left {
			@include s-translate(map-get($settings, width));
		} @else if $side == right {
			@include s-translate(map-get($settings, width) * -1);
		}
		cursor: pointer;
	}

	#{$drawer-toggle-sel}:checked ~ #{$drawer-sel} {
		@if $type == push or $type == slide {
			@if $side == left {
				@include s-translate(0);
			} @else if $side == right {
				@include s-translate(map-get($settings, width) * -1);
			}
		}
	}

	#{$drawer-toggle-sel}:checked ~ [data-content] {
		@if $type != slide {
			@if $side == left {
				@include s-translate(map-get($settings, width));
			} @else if $side == right {
				@include s-translate(map-get($settings, width) * -1);
			}
		}
	}

}