@include sugar((
	typography : (
		titles : (
			default : (
				margin-bottom : 2
			),
			h1 : (
				font-size : ms(3)
			),
			h2 : (
				font-size : ms(2.5)
			),
			h3 : (
				font-size : ms(2)
			),
			h4 : (
				font-size : ms(1.5)
			),
			h5 : (
				font-size : ms(1)
			),
			h6 : (
				font-size : ms(0.5)
			)
		),
		paragraphs : (
			default : (
				font-size : ms(0.5),
				margin-bottom : 2
			),
			lead : (
				font-size : ms(1)
			)
		)
	)
));

//
// Typography base
//
@mixin s-typography(
	$props : ()
) {

	$props : s-parse-properties($props, (
		titles : integer
	));

	$titles : map-get-or($props, titles, 6);

	

	small {
		font-size: 0.8em;
	}

}

@mixin s-typography-titles(
	$props : ()
) {
	$props : s-parse-properties($props, (
		count : integer,
		color : color,
		colors : list-color
	));

	$count : map-get-or($props, count, 6);
	$color : map-get($props, color);
	$colors : map-get($props, colors);

	@for $i from 1 through $count {
		h#{$i} {
			$s : sugar('settings.typography.titles.h#{$i}');
			// merge with default
			$s : map-extend(sugar('settings.typography.titles.default'), $s);
			@include s-vertical-rhythme((
				s-font : map-get($s, font-size) map-get($s, font-family),
				margin-bottom : map-get($s, margin-bottom)
			));
			// delete used properties
			$s : map-remove($s, font-size);
			$s : map-remove($s, font-family);
			$s : map-remove($s, margin-bottom);
			@each $prop, $value in $s {
				@include s-property-proxy($prop, $value);
			}
			@if $colors and nth($colors,$i) {
				color : nth($colors,$i);
			} @else if $color {
				color : $color;
			}
		}
	}
}

@mixin s-typography-paragraphs(
	$props : ()
) {
	$props : s-parse-properties($props, (
		color : color,
		colors : map-color
	));

	$color : map-get($props, color);
	$colors : map-get($props, colors);

	$paragraphs : sugar('settings.typography.paragraphs');
	@each $name, $s in $paragraphs {
		$sel : 'p.#{$name}';
		$sel-class : '.p-#{$name}';
		@if $name == default {
			$sel : 'p';
			$sel-class : '.p';
		}
	
		// extend
		$s : map-extend(sugar('settings.typography.paragraphs.default'), $s);

		#{$sel},
		#{$sel-class} {
			@include s-vertical-rhythme((
				s-font : map-get($s, font-size) map-get($s, font-family),
				margin-bottom : map-get($s, margin-bottom)
			));
			// delete used properties
			$s : map-remove($s, font-size);
			$s : map-remove($s, font-family);
			$s : map-remove($s, margin-bottom);
			@each $prop, $value in $s {
				@include s-property-proxy($prop, $value);
			}

			@if $colors and map-get($colors, $name) {
				color : map-get($colors,$name);
			} @else if $color {
				color : $color;
			}
		}
	}
}

@mixin s-typography-decorators(
	$props : ()
) {
	.small,	small {
		font-size: 0.6em;
	}
	.strong, strong {
		font-weight: bold;
	}
	.mark, mark {
		background: s-color(yellow, -saturate 20%);
	}
	.s, .del,
	s, del {
		text-decoration: line-through;
	}
	.u, .ins,
	u, ins {
		text-decoration: underline;
	}
	.b, .i,
	b, i {
		font-style: italic;
	}
}