//
// Some filters
//

//
// filter universal mixin
//
@mixin s-filter(
	$filters...
) {
	@each $filter in $filters {
		@include _s-filter($filter);
	}
}
@mixin _s-filter(
	$filter
) {

	$filters : sugar('settings.filters');
	// cssgram
	@if type-of($filter) == string and str-slice($filter,1,8) == 'cssgram-' {
		$name : str-slice($filter,9);
		@if $cssgram and type-of($cssgram) == list and index($cssgram, $name) {
			@extend %cssgram-#{$name} !optional;
		}
	} @else if type-of($filter) == string and map-get($filters, $filter) {
		// apply the registered filter
		$filter : map-get($filters, $filter);
		@if type-of($filter) == map {
			$filter : map-get($filter, filter);
		}
		@include s-filter($filter);
	} @else if type-of($filter) != string {
		$filter : _sugar-parse-properties($filter, (
			drop-shadow : true,
			blur : true,
			brightness : true,
			contrast : true,
			grayscale : true,
			hue-rotate : true,
			invert : true,
			opacity : true,
			saturate : true,
			sepia : true,
			url : true	
		), (
			drop-shadow : ds,
			blur : bl,
			brightness : br,
			contrast : con,
			grayscale : gr,
			hue-rotate : hue,
			invert : i,
			opacity : o,
			saturate : sat,
			sepia : sep,
			url : u
		));
		
		// loop on each filters
		$filters : ();
		@each $name, $value in $filter {
			$filters : append($filters, unquote("#{$name}(#{$value})"));
		}
		filter : $filters;
	}
}