//
// Helper classes
//

//
// Pull
//
@include sugar-register-class('helper.pull.left', pull-left) {
	float: left;
}
@include sugar-register-class('helper.pull.right', pull-right) {
	float: right;
}


//
// Clear
//
@include sugar-register-class('helper.clear.left', clear-left) {
	clear: left;
}
@include sugar-register-class('helper.clear.right', clear-right) {
	clear: right;
}
@include sugar-register-class('helper.clear.both', clear) {
	clear: both;
}


//
// Show / hide
//
@include sugar-register-class('helper.display.show', show) {
	display : block;
}
@include sugar-register-class('helper.display.show-inline', show-inline) {
	display: inline-block;
}
@include sugar-register-class('helper.display.hidden', hidden) {
	display: none;
}
@include sugar-register-class('helper.display.visible', visible) {
	visibility: visible;
}
@include sugar-register-class('helper.display.invisible', invisible) {
	visibility: hidden;
}
@include sugar-register-class('helper.display.visually-hidden', visually-hidden) {
	@include s-visually-hidden();
}

//
// Text
//
@include sugar-register-class('helper.text.hide', text-hide) {
	@include s-text-hide();
}
@include sugar-register-class('helper.text.truncate', truncate) {
	@include s-truncate();
}
@include sugar-register-class('helper.text.align.left', text-left) {
	text-align: left;
}
@include sugar-register-class('helper.text.align.right', text-right) {
	text-align: right;
}
@include sugar-register-class('helper.text.align.center', text-center) {
	text-align: center;
}
@include sugar-register-class('helper.text.align.justify', text-justify) {
	text-align: justify;
}
@include sugar-register-class('helper.text.transform.lowercase', text-lowercase) {
	text-transform: lowercase;
}
@include sugar-register-class('helper.text.transform.uppercase', text-uppercase) {
	text-transform: uppercase;
}
@include sugar-register-class('helper.text.transform.capitalize', text-capitalize) {
	text-transform: capitalize;
}

//
// Blocks
//
@include sugar-register-class('helper.block.center', block-center) {
	display : block;
	margin-left : auto;
	margin-right : auto;
}

//
// Clearfix
//
@include sugar-register-class('helper.clearfix.default', clearfix) {
	@include s-clearfix(micro);
}
@include sugar-register-class('helper.clearfix.float', clearfix-float) {
	@include s-clearfix(float);
}
@include sugar-register-class('helper.clearfix.micro', clearfix-micro) {
	@include s-clearfix(micro);
}
@include sugar-register-class('helper.clearfix.overflow', clearfix-overflow) {
	@include s-clearfix(overflow);
}
@include sugar-register-class('helper.clearfix.facebook', clearfix-facebook) {
	@include s-clearfix(facebook);
}