//
// Helpers functions
//


//
// Size
//
@function s-size(
	$size
) {
	$sizes : sugar('settings.sizes');
	$s : map-get($sizes, $size);
	@if $s {
		@if type-of($s) == map {
			@return map-get($s, size);
		} @else {
			@if unitless($s) {
				@return s-rem($s);
			}
			@return $s;
		}	
	} @else {
		@if unitless($size) {
			@return s-rem($size);
		}
		@return $size;
	}
}


//
// Ratio
//
@function s-ratio(
	$ratio
) {
	$ratio : _sugar-parse-properties($ratio, (
		width : number,
		height : number
	));
	$width : map-get($ratio, width);
	$height : map-get($ratio, height);
	@if $width == null or $height == null {
		@error("missing width or height in s-ratio...");
	}
	@return percentage(1 / $width * $height);
}


//
// Strip units
//
@function s-strip-units($number) {
	@return $number / ($number * 0 + 1);
}