//
// Icons specific
//
@mixin s-icon(
	$icon
) {
	$icon : _sugar-parse-properties($icon, (
		name : string
	), (
		name : n
	));
	$name : map-get($icon, name);
	
	// if font-awesome
	@if str-slice($name,1,3) == 'fa-' {
		@extend %fa;
		@extend %#{$name} !optional;
	} @else {

	}
}