//
// Lists specific
//
$s-list-props : (
	style-type : circle disc square armenian cjk-ideographic decimal decimal-leading-zero georgian hebrew hiragana hiragana-iroha katakana katakana-iroha lower-alpha lower-greek lower-latin lower-roman upper-alpha upper-latin upper-roman none inherit,
	style-image : url,
	style-icon : string,
	bullet-color : color,
	bullet-size : true,
	bullet-offset : true,
	bullet-font : true,
	padding-left : number
);
$s-list-alias : (
	style-type : type t,
	style-image : image img,
	style-icon : icon i,
	bullet-color : bc,
	bullet-size : bs,
	bullet-offset : bo,
	padding-left : pl
);
@mixin s-list(
	$_list : ()
) {
	$list : _sugar-parse-properties($_list, (
		counter-reset : true
	));

	// handle nested
	$list : _sugar-handle-nested(s-list, $list);

	$reset : map-get-or($list, counter-reset, s-list);

	counter-reset : $reset;

	// handle nested
	@include _sugar-handle-nested(s-list) {
		@content;
	}
}

//
// List item
//
@mixin s-list-item(
	$list
) {
	$list : _sugar-parse-properties($list, $s-list-props, $s-list-alias);

	// handle nested
	@if not map-get($list, hover) {
		$list : _sugar-handle-nested(s-list-item, $list);
	}

	$style-type : map-get($list, style-type);
	$style-image : map-get($list, style-image);
	$style-icon : map-get($list, style-icon);
	$bullet-color : map-get($list, bullet-color);
	$bullet-size : map-get($list, bullet-size);
	$bullet-offset : map-get($list, bullet-offset);
	$bullet-font : map-get($list, bullet-font);
	$padding-left : map-get-or($list, padding-left, null);

	// padding
	@if $padding-left {
		padding-left: s-rem($padding-left);
	}

	// style type
	@if $style-type {
		&:before {
			content: counter(s-list, $style-type);
			counter-increment: s-list;
		}
	}

	&:before {
		@if $bullet-offset {
			$left : 0;
			$top : 0;
			@if length($bullet-offset) == 2 {
				$left : nth($bullet-offset,2);
				$top : nth($bullet-offset,1);
			} @else if type-of($bullet-offset) == number {
				$top : $bullet-offset;
			}
			left : s-rem($left);
			top : s-rem($top);
		} @else {
			left : 0;
		}
		@if $bullet-color {
			color : $bullet-color;
		}
		@if $bullet-size {
			@if type-of($bullet-size) == list and length($bullet-size) == 2 {
				width : nth($bullet-size,1) nth($bullet-size,2);
			} @else if type-of($bullet-size) == number {
				font-size: s-rem($bullet-size);
			}
		}
		@if $bullet-font {
			@include s-font($bullet-font);
		}
	}

	// before
	position: relative;
	&:before {
		position: absolute;
		display: block;
	}

	// style image
	@if $style-image {
		position: relative;
		&:before {
			content:'';
			display: block;
			width: 1ex; height:1em;
			background-image: url($style-image);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: 50% 50%;
		}
	
	} @else if $style-icon {
		position: relative;
		&:before {
			@include s-icon($style-icon);
		}
		
	}

	// reset margin-left for nested lists
	> ul,
	> ol,
	> dl, {
		margin-left: 0;
		margin-bottom: 0;
	}

	// handle nested
	@include _sugar-handle-nested(s-list-item) {
		@content;
	}
}