//
// Loaders specific
//

@mixin s-loader-grid(
	$props : (),
	$animation : ()
) {
	$props : _sugar-parse-properties($props, (
		shape : circle rect,
		color : color,
		colors : list,
		cols : integer,
		rows : integer,
		size : number,
		gap : number,
		offset : number,
		rotate : degree
	));
	$animation : _sugar-parse-properties($animation, (
		shape : circle rect,
		steps : integer,
		spread : number,
		rotate : number,
		scale : number,
		opacity : number,
		duration : second,
		delay : second,
		ease : string
	));
	
	$props : _sugar-handle-nested(loader-grid, $props);
	$animation : _sugar-handle-nested(loader-grid-animation, $animation);

	$color : map-get-or($props, color, red);
	$colors : map-get($props, colors);
	$cols : map-get-or($props, cols, 5);
	$rows : map-get-or($props, rows, 5);
	$size : map-get-or($props, size, 10px);
	$gap : map-get-or($props, gap, 5px);
	$shape : map-get-or($props, shape, rect);
	$offset : map-get-or($props, offset, 200px);
	$rotate : map-get-or($props, rotate, 0);

	$a-steps : map-get-or($animation, steps, 5);
	$a-spread : map-get($animation, spread);
	$a-rotate : map-get($animation, rotate);
	$a-scale : map-get($animation, scale);
	$a-opacity : map-get($animation, opacity);
	$a-duration : map-get-or($animation, duration, 1s);
	$a-delay : map-get-or($animation, delay, 0s);
	$a-shape : map-get($animation, shape);
	$a-ease : map-get-or($animation, ease, ease-in-out);
	
	// manage duration :
	$a-duration : $a-duration + $a-delay;

	width : $size;
	height : $size;
	@if $shape == circle {
		border-radius: 50%;
	}

	// position grid
	$width : $size * $cols + $gap * ($cols - 1);
	$height : $size * $rows + $gap * ($rows - 1);

	// @include s-translate((-$width / 2 - $size - $gap - $offset) (-$height / 2 - $size - $gap - $offset));
	@include s-transform(
		-translateX (-$width / 2 - $size - $gap - $offset)
		-translateY (-$height / 2 - $size - $gap - $offset)
		-rotate $rotate);
	transform-origin: ($offset + $width / 2 + $gap + $size) ($offset + $height / 2 + $gap + $size);

	$a-name : unquote("grid-#{unique-id()}");

	// calculate box shadows
	$shadows : ();
	$color-idx : 1;
	@for $i from 0 through $cols - 1 {
		@for $j from 0 through $rows - 1 {
			$x : ($size * $i + $gap * $i) + $size + $gap + $offset;
			$y : ($size * $j + $gap * $j) + $size + $gap + $offset;
			$c : $color;
			@if $colors and length($colors) == $cols * $rows {
				$c : nth($colors, $color-idx);
				$color-idx : $color-idx + 1;
			} @else if length($colors) == 2 {
				@if $j % 2 == 0 {
					$color-idx : $color-idx - 1;
				}
				$c : nth($colors, $color-idx % 2 + 1);
			}
			$shadows : append($shadows, $c $x $y 0 0, comma);
		}
	}

	&:before {
		@if $shape == circle {
			border-radius: 50%;
		}
		position: relative;
		z-index:1;
		content:'';
		display: block;
		width: $size;
		height: $size;
		animation : $a-name $a-duration $a-ease 0s infinite;
		box-shadow : $shadows;
		transform-origin: ($offset + $width / 2 + $gap + $size) ($offset + $height / 2 + $gap + $size);
	}

	// calculate percentage of delay
	$p-delay : 1 / $a-duration * $a-delay;
	// animation
	@keyframes #{$a-name} {
		@for $i from 1 through $a-steps {
			$percentage : percentage((1 - $p-delay) / $a-steps * $i);
			#{$percentage} {
				// loop on each box shadows
				$shadows : ();
				$color-idx : 1;
				@for $j from 0 through $cols - 1 {
					@for $k from 0 through $rows - 1 {
						$x : ($size * $j + $gap * $j) + $size + $gap + $offset;
						$y : ($size * $k + $gap * $k) + $size + $gap + $offset;
						$s-spread : 0;
						$blur : 0;
						$c : $color;
						@if $colors and length($colors) == $cols * $rows {
							$c : nth($colors, $color-idx);
							$color-idx : $color-idx + 1;
						} @else if length($colors) == 2 {
							@if $j % 2 != 0 {
								$color-idx : $color-idx - 1;
							}
							$c : nth($colors, $color-idx % 2 + 1);
						}
						$transparentize : 0;
						@if $a-opacity and $i < $a-steps {
							$transparentize : 1 - $a-opacity;
							$transparentize : $transparentize * 10;
							$t-rand : random($transparentize);
							$transparentize : $t-rand / 10;
							$c : transparentize($c, $transparentize);
						}
						@if $a-scale {
							@if $i >= $a-steps {
								$s-spread : 0;
							} @else {
								$s-spread : s-rem(random($a-scale - $size) + 0px);
							}
						}
						@if $a-spread and $i < $a-steps {
							$randX : random($a-spread / 2);
							$randY : random($a-spread / 2);
							@if random(10) < 5 {
								$randX : $randX * -1;
							}
							@if random(10) < 5 {
								$randY : $randY * -1;
							}
							$x : $x + $randX;
							$y : $y + $randY;
						}
						@if $i >= $a-steps {
							$shadows : append($shadows, $c $x $y 0 0, comma);
						} @else {
							$shadows : append($shadows, $c $x $y $blur $s-spread, comma);
						}
					}
				}
				@if $a-rotate and $i < $a-steps {

					$randX : random($a-rotate / 2);
					@if random(10) < 5 {
						$randX : $randX * -1;
					}
					transform : rotateZ($randX + 0deg);
				} @else {
					transform : rotateZ(0);
				}
				@if $i < $a-steps - 1 {
					@if $a-shape == circle {
						@include s-corner(50%);
					} @else if $a-shape == rect {
						@include s-corner(0);
					}
				}
				// apply shadows
				box-shadow: $shadows;
			}
		}
	}

	@include _sugar-handle-nested(loader-grid, loader-grid-animation) {
		@content;
	}
}

@mixin s-loader-spinner(
	$spinner : (),
	$animation : ()
) {	
	$spinner : _sugar-parse-properties($spinner, (
		type : elastic linear fade-in fade-out fade-in-out,
		size : number,
		width : number,
		color : color,
		bgcolor : color,
		length : number
	));
	$animation : _sugar-parse-properties($animation, (
		duration : second,
		ease : string	
	));
	
	$spinner : _sugar-handle-nested(loader-spinner, $spinner);
	$animation : _sugar-handle-nested(loader-spinner-animation, $animation);

	$type : map-get-or($spinner, type, linear);
	$size : map-get-or($spinner, size, 1em);
	$width : map-get-or($spinner, width, 0.3em);
	$color : map-get-or($spinner, color, red);
	$bgcolor : map-get-or($spinner, bgcolor, inherit);
	$length : map-get-or($animation, length, 3/4);

	$a-duration : map-get-or($animation, duration, 1s);
	$a-ease : ease;
	@if $type == elastic {
		$a-ease : map-get-or($animation, ease, ease);
	} @else {
		$a-ease : map-get-or($animation, ease, linear);
	}
	

	$a-name : unquote("spinner-#{unique-id()}");
	$p-step : 1 / $a-duration;

	@if $type == linear {
		& {
			font-size:$size;
			position:relative;
			text-indent:-9999em;
			border-top:$width solid transparentize($color,.8);
			border-right:$width solid transparentize($color,.8);
			border-bottom:$width solid transparentize($color,.8);
			border-left:$width solid transparentize($color,0);
			transform: translateZ(0);
			animation: $a-name $a-duration $a-ease 0s infinite;
		}
		&,&:after {
			border-radius:50%;
			width:1em;
			height:1em;
		}
		@keyframes #{$a-name} {
			0% {
				transform:rotate(0deg);
			}
			100% {
				transform:rotate(360deg);
			}
		}
	} @else if $type == elastic {
		background: inherit;
		&,&:before,&:after {
			border-radius:50%;
		}
		&:before,&:after {
			position:absolute;
			content:'';
		}
		&:before {
			width:5.2em;
			height:10.2em;
			background: $bgcolor;
			border-radius: 10.2em 0 0 10.2em;
			top:-0.1em;
			left:-0.1em;
			transform-origin:5.2em 5.1em;
			animation:$a-name $a-duration infinite $a-ease $a-duration * $length;
		}
		& {
			font-size:$size / 10;
			text-indent:-99999em;
			position:relative;
			width:10em;
			height:10em;
			box-shadow: inset 0 0 0 $width $color;
			transform: translateZ(0);
		}
		&:after {
			width:5.2em;
			height:10.2em;
			background: $bgcolor;
			border-radius: 0 10.2em 10.2em 0;
			top:-0.1em;
			left:5.1em;
			transform-origin:0px 5.1em;
			animation:$a-name $a-duration infinite ease;
		}
		@keyframes #{$a-name} {
			0% {
				transform:rotate(0deg);
			}
			100% {
				transform:rotate(360deg);
			}
		}
	} @else if $type == fade-out {
		& {
			font-size:$size;
			text-indent:-9999em;
			width:1em;
			height:1em;
			border-radius:50%;
			background: $color;
			background: linear-gradient(to right, transparentize($color,0) 10%, transparentize($color,1) 42%);
			position: relative;
			animation: $a-name $a-duration $a-ease 0s infinite;
			transform: translateZ(0);
		}
		&:before {
			width:50%;
			height:50%;
			background: $color;
			border-radius: 100% 0 0 0;
			position:absolute;
			top:0;
			left:0;
			content:'';
		}
		$width : $size - $width * 2;
		&:after {
			background:$bgcolor;
			width: $width;
			height: $width;
			border-radius:50%;
			content:'';
			margin:auto;
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
		}
		@keyframes #{$a-name} {
			0% {
				transform:rotate(0deg);
			}
			100% {
				transform:rotate(360deg);
			}
		}
	} @else if $type == fade-in {
		& {
			font-size:$size;
			text-indent:-9999em;
			width:1em;
			height:1em;
			border-radius:50%;
			background: $color;
			background: linear-gradient(to left, transparentize($color,1) 52%, transparentize($color,0) 90%);
			position: relative;
			animation: $a-name $a-duration $a-ease 0s infinite;
			transform: translateZ(0);
		}
		&:before {
			width:50%;
			height:50%;
			background: $color;
			border-radius: 0 0 0 100%;
			position:absolute;
			bottom:0;
			left:0;
			content:'';
		}
		$width : $size - $width * 2;
		&:after {
			background:$bgcolor;
			width: $width;
			height: $width;
			border-radius:50%;
			content:'';
			margin:auto;
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
		}
		@keyframes #{$a-name} {
			0% {
				transform:rotate(0deg);
			}
			100% {
				transform:rotate(360deg);
			}
		}
	} @else if $type == fade-in-out {
		font-size: $size;
		width: 1em;
		height: 1em;
		border-radius: 50%;
		//overflow: hidden;
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background: linear-gradient($color, transparentize($color,1) 60%);
			animation: $a-name $a-duration infinite linear;
		}
		$width : $size - $width * 2;
		&:after {
			background:$bgcolor;
			width: $width;
			height: $width;
			border-radius:50%;
			content:'';
			margin:auto;
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
		}
		@keyframes #{$a-name} {
			to {
				transform: rotate(360deg);
			}
		}
	}

	@include _sugar-handle-nested(loader-spinner, loader-spinner-animation) {
		@content;
	}
}

@mixin s-loader-circle(
	$props : (),
	$animation : ()
) {
	$props : _sugar-parse-properties($props, (
		color : color,
		colors : list,
		size : number,
		radius : number,
		count : integer,
		opacity : number
	));
	$animation : _sugar-parse-properties($animation, (
		shape : circle rect,
		spread : number,
		rotate : number,
		scale : number,
		opacity : number,
		near : integer,
		ease : string,
		duration : second,
		delay : second
	));

	$props : _sugar-handle-nested(loader-circle, $props);
	$animation : _sugar-handle-nested(loader-circle-animation, $animation);

	$color : map-get-or($props, color, red);
	$colors : map-get($props, colors);
	$size : map-get-or($props, size, 10px);
	$radius : map-get-or($props, radius, 30px);
	$count : map-get-or($props, count, 8);
	$opacity : map-get-or($props, opacity, 1);

	$a-name : unquote("circle-#{unique-id()}");
	$a-spread : map-get-or($animation, spread, null);
	$a-rotate : map-get-or($animation, rotate, null);
	$a-scale : map-get-or($animation, scale, null);
	$a-opacity : map-get-or($animation, opacity, null);
	$a-near : map-get-or($animation, near, round($count / 2));
	$a-ease : map-get-or($animation, ease, ease-in-out);
	$a-duration : map-get-or($animation, duration, 1s);
	$a-delay : map-get-or($animation, delay, 0s);

	// manage duration
	$a-duration : $a-duration + $a-delay;

	$base-shadows : ();
	@for $i from 0 through $count {
		$x : $radius * s-cos(360deg / $count * $i);
		$y : $radius * s-sin(360deg / $count * $i);
		$c : $color;
		@if $colors {
			$c : nth($colors, $i + 1);
		}
		@if $opacity {
			$c : transparentize($c, 1 - $opacity);
		}
		$base-shadows : append($base-shadows, $c $x $y 0 0, comma);	
	}

	$spread-map : ();
	// calculate percentage of delay
	$p-delay : 0;
	$p-step : 1 / $count;
	@if $a-delay > 0 {
		$p-delay : 1 / $a-duration * $a-delay;
		$p-step : (1 - $p-delay) / ($count + 1);
	}
	// animation
	@keyframes #{$a-name} {
		@for $step-idx from 0 through $count {
			$p : percentage($step-idx * $p-step);
			@if $a-delay > 0 {
				$p : percentage($step-idx * $p-step) + percentage($p-step);
			}
			#{$p} {
				$shadows : ();
				@for $count-idx from 0 through $count {
					$x : $radius * s-cos(360deg / $count * $count-idx);
					$y : $radius * s-sin(360deg / $count * $count-idx);
					
					$diff : abs($step-idx - $count-idx);
					@if $step-idx + $a-near > $count and $count-idx - $a-near < 0 {
						$diff : abs($count-idx - ($step-idx - $count));
					} @else if $step-idx - $a-near < 0 and $count-idx + $a-near > $count {
						$diff : abs($step-idx + ($count - $count-idx));
					}

					$c : $color;
					@if $colors {
						$c : nth($colors, $count-idx + 1);
					}
					$_opacity : 1;
					@if $a-opacity {
						@if $diff < $a-near {
							$_opacity : ($a-opacity - $opacity) / $a-near * ($a-near - $diff);
							$o : $opacity + $_opacity;
							// $transparentize : $_opacity;
							$c : transparentize($c, 1 - $o);
						} @else if $opacity {
							$c : transparentize($c, 1 - $opacity);
						}					
					} @else if $opacity {
						$c : transparentize($c, 1 - $opacity);
					}
					$scale : $size;
					@if $a-scale {
						@if $diff == 0 {
							$scale : $a-scale;
						} @else if $diff <= $a-near {
							$s : $a-scale - $size;
							$scale : $size + $s - $s / $a-near * $diff;
						}
					}
					@if $a-spread and $diff < $a-near {
						$randX : random(round($a-spread / 2));
						$randY : random(round($a-spread / 2));
						@if random(10) < 5 {
							$randX : $randX * -1;
						}
						@if random(10) < 5 {
							$randY : $randY * -1;
						}
						@if $step-idx == 0 {
							$s : (
								x : $randX,
								y : $randY
							);
							$spread-map : map-set($spread-map, $count-idx, $s);
						}
						@if $step-idx == $count {
							$map : map-get($spread-map, $count-idx);
							@if $map {
								$randX : map-get($map, x);
								$randY : map-get($map, y);
							} @else {
								$randX : 0;
								$randY : 0;
							}
						}
						$x : $x + $randX;
						$y : $y + $randY;
					}
					@if $count-idx < $count {
						$shadows : append($shadows, $x $y 0 ($scale - $size) $c, comma);
					}
				}
				box-shadow : $shadows;
			}
		}
		@if $a-delay > 0 and percentage($count * $p-step) + percentage($p-step) < 100 {
			#{percentage($count * $p-step) + percentage($p-step) * 2} {
				box-shadow: $base-shadows;
			}
		}
	}
	&:after {
		border-radius:50%;
		width : $size;
		height : $size;
		display : block;
		content : '';
		box-shadow: $base-shadows;
		animation : $a-name $a-duration $a-ease 0s infinite;
	}
	// @include s-translate(-50% -50%);
	// transform: rotate(- 360deg / $count / 2);
	@include s-transform(-translateX -50% -translateY -50% -rotate -90deg);

	@include _sugar-handle-nested(loader-circle, loader-circle-animation) {
		@content;
	}
}

@mixin s-loader-radial(
	$props : (),
	$animation : ()
) {
	$props : _sugar-parse-properties($props, (
		shape : circle rect,
		size : number,
		width : number,
		style : dotted dashed solid double groove ridge inset outset initial inherit,
		color : color,
		colors : list
	));
	$animation : _sugar-parse-properties($animation, (
		duration : second,
		delay : second,
		count : integer,
		spread : number,
		ease : string
	));

	$props : _sugar-handle-nested(loader-radial, $props);
	$animation : _sugar-handle-nested(loader-radial-animation, $animation);

	$shape : map-get-or($props, shape, circle);
	$size : map-get-or($props, size, 1em);
	$width : map-get-or($props, width, 0.2em);
	$style : map-get-or($props, style, solid);
	$color : map-get-or($props, color, red);
	$colors : map-get($props, colors);
	
	$a-ease : map-get-or($animation, ease, linear);
	$a-count : map-get-or($animation, count, 2);
	$a-duration : map-get-or($animation, duration, 2s);
	$a-delay : map-get-or($animation, delay, 0s);
	$a-spread : map-get-or($animation, spread, 0);

	// manage duration
	$a-duration : $a-duration + $a-delay;

	// calculate percentage of delay
	$p-delay : 1;
	@if $a-delay > 0 {
		$p-delay : 1 - 1 / $a-duration * $a-delay;
	}

	$a-name : unquote("radial-#{unique-id()}");
	$step : percentage($p-delay / $a-count);
	$current : 0%;
	$current-idx : 1;
	@keyframes #{$a-name}-b {
		@for $i from 0 through $a-count - 1 {
			@if $current < 100 {
				#{$current} {
					@include s-transform(-translateX -50% -translateY -50% -scaleX 0 -scaleY 0);
					opacity:0;
					top : 0;
					left : 0;
					@if $colors and length($colors) == $a-count * 2 {
						$c : nth($colors, $current-idx);
						border-color: $c;
						// background: radial-gradient(transparentize($c, 1) 30%, $c 50%, transparentize($c, 1) 70%);
					}
				}
				#{$current + $step / 2 - 0.0001%} {
					@include s-transform(-translateX -50% -translateY -50% -scaleX 0.5 -scaleY 0.5);
					opacity:1;
					@if $colors and length($colors) == $a-count * 2 {
						$c : nth($colors, $current-idx);
						border-color: $c;
						// background: radial-gradient(transparentize($c, 1) 30%, $c 50%, transparentize($c, 1) 70%);
					}
				}
				#{$current + $step - 0.0001%} {
					@include s-transform(-translateX -50% -translateY -50% -scaleX 1 -scaleY 1);
					opacity:0;
					@if $a-spread > 0 {
						$randX : random(round($a-spread));
						@if random(10) < 5 {
							$randX : $randX * -1;
						}
						$randY : random(round($a-spread));
						@if random(10) < 5 {
							$randY : $randY * -1;
						}
						top : $randY + unquote(unit($a-spread));
						left : $randX + unquote(unit($a-spread));
					}
					@if $colors and length($colors) == $a-count * 2 {
						$c : nth($colors, $current-idx);
						border-color: $c;
						// background: radial-gradient(transparentize($c, 1) 30%, $c 50%, transparentize($c, 1) 70%);
					}
				}
				#{$current + $step} {
					@include s-transform(-translateX -50% -translateY -50% -scaleX 0 -scaleY 0);
					top: 0;
					left: 0;
				}
			}
			$current : $current + $step;
			$current-idx : $current-idx + 2;
		}
	}
	$current : 0%;
	$current-idx : 2;
	@keyframes #{$a-name}-a {
		@for $i from 0 through $a-count - 1 {
			@if $current < 100 {
				#{$current} {
					@include s-transform(-translateX -50% -translateY -50% -scaleX 0 -scaleY 0);
					opacity:0;
					top : 0;
					left : 0;
					@if $colors and length($colors) == $a-count * 2 {
						$c : nth($colors, $current-idx);
						border-color: $c;
						//background: radial-gradient(transparentize($c, 1) 30%, $c 50%, transparentize($c, 1) 70%);
					}
				}
				#{$current + $step / 2 - 0.0001%} {
					@include s-transform(-translateX -50% -translateY -50% -scaleX 0.5 -scaleY 0.5);
					opacity:1;
					@if $colors and length($colors) == $a-count * 2 {
						$c : nth($colors, $current-idx);
						border-color: $c;
						// background: radial-gradient(transparentize($c, 1) 30%, $c 50%, transparentize($c, 1) 70%);
					}
				}
				#{$current + $step - 0.0001%} {
					@include s-transform(-translateX -50% -translateY -50% -scaleX 1 -scaleY 1);
					opacity:0;
					@if $a-spread > 0 {
						$randX : random(round($a-spread));
						@if random(10) < 5 {
							$randX : $randX * -1;
						}
						$randY : random(round($a-spread));
						@if random(10) < 5 {
							$randY : $randY * -1;
						}
						top : $randY + unquote(unit($a-spread));
						left : $randX + unquote(unit($a-spread));
					}
					@if $colors and length($colors) == $a-count * 2 {
						$c : nth($colors, $current-idx);
						// background: radial-gradient(transparentize($c, 1) 30%, $c 50%, transparentize($c, 1) 70%);
						border-color : $c;
					}
				}
				#{$current + $step} {
					@include s-transform(-translateX -50% -translateY -50% -scaleX 0 -scaleY 0);
					top: 0;
					left: 0;
				}
			}
			$current : $current + $step;
			$current-idx : $current-idx + 2;
		}
	}
	
	position: relative;
	&:before,
	&:after {
		content:'';
		display: block;
		width:$size;
		height:$size;
		position: absolute;
		top:0; left:0;
		@include s-translate(-50% -50%);
		opacity:0;
		@if $shape == circle {
			border-radius:50%;
		}
	}
	// cubic-bezier(1,.01,0,1)
	$c : $color;
	@if $colors and length($colors) == 2 {
		$c : nth($colors, 1);
	}
	&:before {
		border:$width $style $c;
		// background: radial-gradient(transparentize($c, 1) 30%, $c 50%, transparentize($c, 1) 70%);
		animation: #{$a-name}-b $a-duration $a-ease 0s infinite;
	}
	@if $colors and length($colors) == 2 {
		$c : nth($colors, 2);
	}
	&:after {
		border: $width $style $c;
		// background: radial-gradient(transparentize($c, 1) 30%, $c 50%, transparentize($c, 1) 70%);
		animation: #{$a-name}-a $a-duration $a-ease ($a-duration - $a-delay) / $a-count / 2 infinite;
	}

	@include _sugar-handle-nested(loader-radial, loader-radial-animation) {
		@content;
	}
}

@mixin s-loader-bars(
	$props : (),
	$animation : ()
) {
	$props : _sugar-parse-properties($props, (
		shape : circle rect,
		color : color,
		colors : list,
		width : number,
		height : number,
		count : integer,
		gap : number,
		opacity : number
	));
	$animation : _sugar-parse-properties($animation, (
		direction : up down both,
		opacity : number,
		duration : second,
		delay : second,
		near : integer,
		ease : string,
		spread : number,
		continuous : true
	));

	$props : _sugar-handle-nested(loader-bars, $props);
	$animation : _sugar-handle-nested(loader-bars-animation, $animation);

	$shape : map-get-or($props, shape, rect);
	$color : map-get-or($props, color, red);
	$colors : map-get($props, colors);
	$count : map-get-or($props, count, 5);
	$width : map-get-or($props, width, 0.5em);
	$height : map-get-or($props, height, 2em);
	$gap : map-get-or($props, gap, 0.5em);
	$opacity : map-get-or($props, opacity, 1);

	$a-opacity : map-get($animation, opacity);
	$a-duration : map-get-or($animation, duration, 1s);
	$a-delay : map-get-or($animation, delay, 0s);
	$a-near : map-get-or($animation, near, 1);
	$a-ease : map-get-or($animation, ease, ease-in-out);
	$a-spread : map-get-or($animation, spread, null);
	$a-direction : map-get-or($animation, direction, both);
	$a-continuous : map-get-or($animation, continuous, true);

	// manage duration
	$a-duration : $a-duration + $a-delay;
	@if $a-delay > 0 {
		$a-continuous : false;
	}

	// manage direction
	@if not $a-spread or $a-spread <= 0 {
		$a-direction : up;
	}

	$offset : $width;

	// position grid
	$_width : $width * ($count - 1) + $gap * ($count - 1);

	$a-name : unquote("bars-#{unique-id()}");

	// calculate box shadows
	$shadows : ();
	
	@if $a-direction == both or $a-direction == up {
		@for $i from 0 through $count - 1 {
			$x : ($width * $i + $gap * $i) + $width + $gap + $offset;
			$y : $height / 2 + $offset;
			$c : $color;
			@if $colors {
				$c : nth($colors, $i + 1);
			}
			@if $a-opacity {
				$c : transparentize($color, 1 - $opacity);
			}
			$shadows : append($shadows, $c $x $y 0 0, comma);
		}
	}
	@if $a-direction == both or $a-direction == down {
		@for $i from 0 through $count - 1 {
			$x : ($width * $i + $gap * $i) + $width + $gap + $offset;
			$y : $height / 2 + $offset;
			$c : $color;
			@if $colors {
				$c : nth($colors, $i + 1);
			}
			@if $a-opacity {
				$c : transparentize($color, 1 - $opacity);
			}
			$shadows : append($shadows, $c $x $y 0 0, comma);
		}
	}
	$base-shadows : $shadows;

	&:before {
		@if $shape == circle {
			border-radius: 50%;
		}
		width: $width;
		height: $height;
		content: '';
		display: block;
		animation : $a-name $a-duration $a-ease 0s infinite;
		box-shadow : $shadows;
		@include s-translate((-$_width / 2 - $width - $gap - $offset) (-$height / 2 - $offset));
		transform-origin: ($offset + $_width / 2 + $gap + $width) ($offset + $height / 2);
	}

	// calculate percentage of delay
	$p-delay : 0;
	$p-step : 1 / $count;
	@if $a-delay > 0 {
		$p-delay : 1 / $a-duration * $a-delay;
		$p-step : (1 - $p-delay) / ($count + 1);
	}
	// animation
	$step : 1 / $count;
	@keyframes #{$a-name} {
		@for $j from 0 through $count {
			$p : percentage($j * $p-step);
			@if $a-delay > 0 {
				$p : percentage($j * $p-step) + percentage($p-step);
			}
			#{$p} {
				// loop on each box shadows
				$shadows : ();

				@if $a-direction == both or $a-direction == up {
					@for $i from 0 through $count - 1 {
						$x : ($width * $i + $gap * $i) + $width + $gap + $offset;
						$y : $height / 2 + $offset;
						
						$diff : abs($j - $i);

						@if $a-continuous {
							@if $j + $a-near > $count and $i - $a-near < 0 {
								$diff : abs($i - ($j - $count));
							} @else if $j - $a-near < 0 and $i + $a-near > $count {
								$diff : abs($j + ($count - $i));
							}
						}

						@if $a-spread {
							@if $diff < $a-near {
								$y : $y - ($a-spread - ($a-spread / $a-near * $diff));
							} @else if $i == $j {
								$y : $y - $a-spread;
							}
						}
						
						$c : $color;
						@if $colors {
							$c : nth($colors, $i + 1);
						}
						$_opacity : 1;
						@if $a-opacity {
							@if $diff < $a-near {
								$_opacity : ($a-opacity - $opacity) / $a-near * ($a-near - $diff);
								$o : $opacity + $_opacity;
								// $transparentize : $_opacity;
								$c : transparentize($c, 1 - $o);
							} @else if $opacity {
								$c : transparentize($c, 1 - $opacity);
							}					
						} @else if $opacity {
							$c : transparentize($c, 1 - $opacity);
						}
						$shadows : append($shadows, $c $x $y 0 0, comma);
					}
				}

				@if $a-direction == both or $a-direction == down {
					@for $i from 0 through $count - 1 {
						$x : ($width * $i + $gap * $i) + $width + $gap + $offset;
						$y : $height / 2 + $offset;
						
						$diff : abs($j - $i);
						@if $a-continuous {
							@if $j + $a-near > $count and $i - $a-near < 0 {
								$diff : abs($i - ($j - $count));
							} @else if $j - $a-near < 0 and $i + $a-near > $count {
								$diff : abs($j + ($count - $i));
							}
						}

						@if $diff < $a-near {
							$y : $y + ($a-spread - ($a-spread / $a-near * $diff));
						} @else if $i == $j {
							$y : $y + $a-spread;
						}
						$c : $color;
						@if $colors {
							$c : nth($colors, $i + 1);
						}
						$_opacity : 1;
						@if $a-opacity {
							@if $diff < $a-near {
								$_opacity : ($a-opacity - $opacity) / $a-near * ($a-near - $diff);
								$o : $opacity + $_opacity;
								// $transparentize : $_opacity;
								$c : transparentize($c, 1 - $o);
							} @else if $opacity {
								$c : transparentize($c, 1 - $opacity);
							}					
						} @else if $opacity {
							$c : transparentize($c, 1 - $opacity);
						}
						$shadows : append($shadows, $c $x $y 0 0, comma);
					}
				}

				// apply shadows
				box-shadow: $shadows;
			}
		}
		@if $a-delay > 0 and percentage($count * $p-step) + percentage($p-step) < 100 {
			#{percentage($count * $p-step) + percentage($p-step) * 2} {
				box-shadow: $base-shadows;
			}
		}
	}

	@include _sugar-handle-nested(loader-bars, loader-bars-animation) {
		@content;
	}
}

@mixin s-loader-couch-potato(
	$props : (),
	$animation : ()
) {
	$props : _sugar-parse-properties($props, (
		size : number,
		color : color,
		colors : list
	));

	$animation : _sugar-parse-properties($animation, (
		duration : second,
		delay : second,
		ease : string,
		rotate : degree,
		scale : number
	));

	$props : _sugar-handle-nested(loader-couch-potato, $props);
	$animation : _sugar-handle-nested(loader-couch-potato-animation, $animation);

	$size : map-get-or($props, size, 1em);
	$color : map-get-or($props, color, red);
	$colors : map-get($props, colors);

	$a-duration : map-get-or($animation, duration, 1s);
	$a-delay : map-get-or($animation, delay, 0s);
	$a-ease : map-get-or($animation, ease, ease-in-out);
	$a-rotate : map-get-or($animation, rotate, 360deg);
	$a-scale : map-get-or($animation, scale, 0.7);

	$a-duration : $a-duration + $a-delay;

	$a-name : unquote("couch-potato-#{unique-id()}");
	
	$c : $color;
	@if $colors and length($colors) == 2 {
		$c : nth($colors, 1);
	}
	&:before {
		display: block;
		width : $size;
		height: $size;
		content:'';
		@include s-translate(-50% -50%);
		background: $c;
		transform-origin: $size/2 $size/2;
		animation: $a-name $a-duration $a-ease 0s infinite;
	}
	
	$p-delay : 0;
	@if $a-delay > 0 {
		$p-delay : 1 / $a-duration * $a-delay;
	}
	@keyframes #{$a-name} {
		0% {
			border-radius:0;
			@include s-transform(-rotate 0deg -scale 1);
		}
		#{(100% - percentage($p-delay)) / 2} {
			border-radius:50%;
			@include s-transform(-rotate $a-rotate / 2 -scale $a-scale);
			@if $colors and length($colors) == 2 {
				$c : nth($colors, 2);
			}
			background: $c;
		}
		#{100% - percentage($p-delay)} {
			border-radius:0;
			@include s-transform(-rotate $a-rotate -scale 1);
			@if $colors and length($colors) == 2 {
				$c : nth($colors, 1);
			}
			background: $c;
		}
		100% {
			border-radius:0;
			@include s-transform(-rotate $a-rotate -scale 1);
		}
	}

	@include _sugar-handle-nested(loader-couch-potato, loader-couch-potato-animation) {
		@content;
	}
}

@mixin s-loader-flip-ball(
	$props : (),
	$animation : ()
) {
	$props : _sugar-parse-properties($props, (
		shape : circle rect,
		size : number,
		color : color,
		colors : list
	));

	$animation : _sugar-parse-properties($animation, (
		duration : second,
		delay : second,
		ease : string
	));

	$props : _sugar-handle-nested(loader-flip-ball, $props);
	$animation : _sugar-handle-nested(loader-flip-ball-animation, $animation);	

	$shape : map-get-or($props, shape, circle);
	$size : map-get-or($props, size, 1em);
	$color : map-get-or($props, color, red);
	$colors : map-get($props, colors);

	$a-duration : map-get-or($animation, duration, 1s);
	$a-delay : map-get-or($animation, delay, 0s);
	$a-ease : map-get-or($animation, ease, ease-in-out);

	$a-duration : $a-duration + $a-delay;

	$a-name : unquote("google-ball-#{unique-id()}");
	
	$c : $color;
	@if $colors {
		$c : nth($colors, length($colors));
	}

	display: inline-block;
	background: $c;
	width: $size;
	height: $size;
	@if $shape == circle {
		border-radius: 50%;
	}
	animation: #{$a-name}-rotate $a-duration $a-ease 0s infinite;
	position: relative;

	&:after,
	&:before {
		display: block;
		width : $size;
		height: $size/2;
		@if $shape == circle {
			border-radius: $size $size 0 0;
		}
		content:'';
		background: $c;
		transform-origin: $size / 2 $size / 2;
		position: absolute;
		top: 0; left:0;
	}
	&:after {
		animation: #{$a-name}-after $a-duration $a-ease 0s infinite;
		// display: none;
	}
	&:before {
		animation: #{$a-name}-before $a-duration $a-ease 0s infinite;
		// background : white;
	}
	
	$p-delay : 0;
	@if $a-delay > 0 {
		$p-delay : 1 / $a-duration * $a-delay;
	}
	$steps : 2;
	@if $colors {
		$steps : length($colors);
	}

	@keyframes #{$a-name}-after {
		@for $i from 1 through $steps {
			#{percentage(1 / $steps * $i) - 0.0001%} {
				@include s-transform(-rotateX 180deg);
			}
			#{percentage(1 / $steps * $i)} {
				background: nth($colors, $i);
				@include s-transform(-rotateX 0deg);
			}
			#{percentage(1 / $steps * $i) - percentage(1 / $steps) / 2} {
				$c : null;
				@if $i - 1 <= 0 {
					$c : nth($colors, length($colors));
				} @else {
					$c : nth($colors, $i - 1);
				}	
				background: s-color($c, -darken 10%);
			}
			#{(percentage(1 / $steps * $i) - percentage(1 / $steps) / 2 + 0.0001%)} {
				$c : null;
				@if $i + 1 > length($colors) {
					$c : nth($colors, 1);
				} @else {
					$c : nth($colors, $i + 1);
				}
				background: s-color(nth($colors, $i), -lighten 8%);
			}
		}
	}
	@keyframes #{$a-name}-before {
		@for $i from 1 through $steps {
			#{percentage(1 / $steps * $i) - 0.0001%} {
				background: nth($colors, $i);
			}
			#{percentage(1 / $steps * $i)} {
				$c : null;
				@if $i + 1 > length($colors) {
					$c : nth($colors, 1);
				} @else {
					$c : nth($colors, $i + 1);
				}
				background: $c;
			}			
		}
	}
	@keyframes #{$a-name}-rotate {
		@for $i from 1 through $steps {
			#{percentage(1 / $steps * $i) - 0.0001%} {
				@include s-transform(-rotate ($i - 1) * 90deg);
				$c : null;
				@if $i - 1 <= 0 {
					$c : nth($colors, length($colors));
					background: $c;
				} @else {
					$c : nth($colors, $i - 1);
					background: $c;
				}	
			}
			#{percentage(1 / $steps * $i)} {
				@include s-transform(-rotate $i * 90deg);
				background: nth($colors, $i);
			}
		}
	}

	@include _sugar-handle-nested(loader-flip-ball, loader-flip-ball-animation) {
		@content;
	}
}