@include s-component-setup((
	activate : (
	)
));

@mixin s-activate(
) {
	[data-s-activate-target] {
		display: none;
	}
	[data-s-activate-target]:target,
	[data-s-activate-target].active {
		display: block;
	}
}