@include s-component-setup((
	formset : (
		scope-class : 'formset',
		generate : (
			colors : default primary secondary success warning error info,
			sizes : default,
			styles : inline inside
		)
	)
));
	
$_s-formset-inited : false;
@mixin s-formset-init() {
	@if not $_s-formset-inited {
		$_s-formset-inited : true !global;

		// input
		%s-formset-input-bare {
			display: inline-block;
			@include s-font(sugar('settings.typo.font-family'));
			-webkit-appearance: none;
			-moz-appearance: none;
			&:not(.input-addon) {
				line-height: 1 !important;
			}
			outline : none;
			width:100%;
		}
		%s-formset-input-style {
			border-width:s-rem(1px);
			border-bottom-width : s-rem(3px);
			border-style : solid;
			background-color: white;
			color: s-color(text);
			@include s-transition(fast);
			@include s-placeholder() {
				color: s-color(text, -opacity .4);
			}
			[data-input-activator]:focus ~ &,
			&:focus {
				border-left-width : s-rem(5px);
			}
			&:disabled,
			#{s-selector((
				BEM : '&.input--disabled',
				SMACCS : '&.is-disabled'
			))} {
				opacity : .65;
				cursor: not-allowed;			
			}
		}
		%s-formset-select-style {
			background-size: 9px 6px;
			background-position: right center;
			background-origin: content-box;
			background-repeat: no-repeat;
			border-radius: 0;
		}
	}
}






