$_s-formset-radiobox-inited : false;
@mixin s-formset-radiobox-bare() {

	@if not $_s-formset-radiobox-inited {
		$_s-formset-radiobox-inited : true !global;
		%s-formset-checkbox-bare {
			position: absolute;
			left : -999999px;

			& + .s-radiobox {
				display: inline-block;
				position: relative;
				cursor: pointer;
				vertical-align: sub;

				&:before {
					content:'';
					display: block;
					position:absolute;
					top:50%; left:50%;
					@include s-translate(-50%,-50%);
					height:100%; width:100%;
					pointer-events:none;
				}
				&:after {
					content:'';
					display: block;
					position: absolute;
					top:50%; left:50%;
					width: 30%; height: 30%;
					@include s-translate(-50%, -50%);
					z-index:1;
				}
			}
		}
		%s-formset-radio-bare {
			@extend %s-formset-checkbox-bare;
			border-radius: 50% !important;

			& + .s-radiobox {
				&,
				&:after,
				&:before {
					border-radius:50% !important;
				}
			}
		}

		// base
		input[s-radiobox][type="checkbox"] {
			@extend %s-formset-checkbox-bare;
		}
		input[s-radiobox][type="radio"] {
			@extend %s-formset-radio-bare;
		}

		#{s-selector((
			BEM : (
				'.label .label .s-radiobox'
			),
			SMACCS : (
				'.label .label .s-radiobox'
			)
		))} {
			margin-top:1rem;
		}
	}
}

@mixin s-formset-radiobox(
	$sizes : null,
	$colors : null,
	$animations : true
) {

	// init form
	@include s-formset-radiobox-bare();

	// parse properties
	@if $_sugar-test-arguments {
		$colors : s-test-argument('s-formset-radiobox-style','colors',map-keys(sugar('settings.colors')),$colors);
	}

	// pass in the component context
	@include s-component-context('formset') {

        // colors
        @if ($colors) {
			@each $color in $colors {

				#{s-selector((
					BEM : (
						'input[s-radiobox].input--#{$color}'
					),
					SMACCS : (
						'input[s-radiobox].input-#{$color}'
					)
				))} {
					& + .s-radiobox {
						&:before {
							background-color: s-color($color, -opacity .1);
							border:1px solid s-color($color, -opacity .1);
						}
					}

					& + .s-radiobox:after {
						background-color : s-color($color, -opacity .3);
						background-color: white;
					}

					#{s-selector((
						BEM : (
							'&.input--hover',
							'&.input--active'
						),
						SMACCS : (
							'&.is-hover',
							'&.is-active'
						)
					))} {
						& + .s-radiobox {
							&:after {
								background-color: s-color($color, -opacity .15);
								width:60%;
								height:60%;
							}
							&:before {
								width: 60%;
								height: 60%;
							}
						}
					}

					& + .s-radiobox:hover {
						&:after {
							background-color: s-color($color, -opacity .15);
							@include s-depth(3, s-color($color, -opacity .3));
						}
						&:after,
						&:before {
							width:60% !important;
							height:60% !important;
						}
					}
					&:checked {
						& + .s-radiobox {
							&:after {
								background-color: s-color($color);
								@include s-depth(3, s-color($color, -opacity .3));
							}
						}
					}
				}
			}

			// error fields
			// #{s-selector((
			// 	BEM : (
			// 		'.error input[s-radiobox]'
			// 	),
			// 	SMACCS : (
			// 		'.error input[s-radiobox]'
			// 	)
			// ))} {
			// 	& + .s-radiobox {
			// 		// border-color: s-color(error, -opacity .3);
			// 	}
			// }
		}



		.input[s-radiobox] {

			$br : s-lnf(border-radius);
			$fs : s-lnf(font-size) * 1.3;
			& + .s-radiobox {
				width: $fs;
				height: $fs;
				&:after {
					border-radius: $br / 100 * 30;
				}
				&:before {
					border-radius: $br;
				}
			}

			#{s-selector((
				BEM : (
					'&.input--hover',
					'&.input--active'
				),
				SMACCS : (
					'&.is-hover',
					'&.is-active'
				)
			))},
			&:hover {
				& + .s-radiobox {
					&:before,
					&:after {
						border-radius: $br / 100 * 60
					}
				}
			}
			&:checked {
				& + .s-radiobox {
					&:after {
						border-radius: $br / 100 * 60
					}
				}
			}

		}

		// animations
		@if ($animations) {
			input[s-radiobox][type="checkbox"],
			input[s-radiobox][type="radio"] {
				& + .s-radiobox {
					&,
					&:before,
					&:after {
						@include s-transition(fast);
					}
				}
				&:checked + .s-radiobox:after {
					width:40%; height:40%;
				}
			}
		}
	}
}
