@mixin s-formset-textarea(
	$color,
	$size
) {
	@include s-formset-init();
	@extend %s-formset-input-bare;
	@include s-formset-textarea-size($size);
	@include s-formset-input-color($color);
}
@mixin s-formset-textarea-size() {
	font-size : s-lnf(font-size);
	// border-radius: s-lnf(border-radius, );
	padding : s-lnf(padding-horizontal) s-lnf(padding-vertical);
	display: inline-block;
}
