@mixin s-formset-textarea(
	$color,
	$size
) {
	@include s-formset-init();
	@extend %s-formset-input-bare;
	@include s-formset-textarea-size($size);
	@include s-formset-input-color($color);
}
@mixin s-formset-textarea-size($size) {
	font-size : s-lnf(font-size, $size);
	// border-radius: s-lnf(border-radius, $size);
	padding : s-lnf(padding-horizontal, $size) s-lnf(padding-vertical, $size);
	display: inline-block;
}