@mixin s-textarea(
	$color : null
) {
	@include s-formset-init();
	@extend %s-input-bare;
	@include s-textarea-size();
	@if $color {
		@include s-input-color($color);
	}
}

@mixin s-textarea-bare() {
	@include s-formset-init();
	@extend %s-input-bare;
	@include s-textarea-size();
}

@mixin s-textarea-style(
	$color : null
) {
	@include s-formset-init();
	@extend %s-input-style;
	@if ($color) {
		@include s-input-color($color);
	}
}

@mixin s-textarea-size() {
	padding : s-lnf(padding-horizontal) s-lnf(padding-vertical);
	display: inline-block;
}
