$_s-formset-datepicker-inited : false;
@mixin s-formset-datepicker-init() {
	@if not $_s-formset-datepicker-inited {
		$_s-formset-datepicker-inited : true ! global;

		%pika-single {
			z-index: 9999;
			position: relative;
			color: s-color(text);
			background: white;
			font-family: s-font-family(default);
			border-radius: s-lnf(border-radius);
			@include s-transition(fast margin-top,fast opacity);
			margin-top:0;
			padding:s-lnf(padding-vertical);

			&.is-hidden {
				opacity:0;
				@include s-visually-hidden();
				margin-top:-20px;
			}

			&.is-bound {
				position: absolute;
				@include s-depth(6);
			}

			// clearfix
			*zoom: 1;
			&:before,
			&:after {
				content: " ";
				display: table;
			}
			&:after { clear: both }

			.pika-lendar {
				float: left;
				// width: 240px;
				margin-left: s-lnf(padding-vertical);
				margin-right: s-lnf(padding-vertical);
				&:first-of-type {
					margin-left:0;
				}
				&:last-of-type {
					margin-right:0 !important;
				}
			}

			.pika-title {
				position: relative;
				text-align: center;

				select {
					cursor: pointer;
					position: absolute;
					z-index: 9998;
					margin: 0;
					left: 0;
					top: 5px;
					filter: alpha(opacity=0);
					opacity: 0;
				}
			}

			.pika-label {
				display: inline-block;
				*display: inline;
				position: relative;
				z-index: 9999;
				overflow: hidden;
				margin: 0;
				padding : s-lnf(padding-horizontal) s-lnf(padding-vertical);
				//padding: 5px 3px;
				font-size: 1em;
				line-height: 1em;
				// line-height: 20px;
				font-weight: bold;
				color: s-color(text);
				background-color: white;
			}

			.pika-prev,
			.pika-next {
				display: block;
				cursor: pointer;
				position: relative;
				outline: none;
				border: 0;
				// padding: 0;
				padding : s-lnf(padding-horizontal) 0;
				width: 20px;
				height: 30px;
				text-indent: 20px; // hide text using text-indent trick, using width value (it's enough)
				white-space: nowrap;
				overflow: hidden;
				background-color: transparent;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 75% 75%;
				opacity: .5;
				*position: absolute;
				*top: 0;

				&:hover {
					opacity: 1;
				}

				&.is-disabled {
					cursor: default;
					opacity: .2;
				}
			}

			.pika-prev,
			.is-rtl .pika-next {
				float: left;
				background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
				*left: 0;
			}

			.pika-next,
			.is-rtl .pika-prev {
				float: right;
				background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
				*right: 0;
			}

			.pika-select {
				display: inline-block;
				*display: inline;
			}

			.pika-table {
				width: 100%;
				border-collapse: collapse;
				border-spacing: 0;
				border: 0;

				th,
				td {
					width: 14.285714285714286%;
					padding: 0;
				}

				th {
					color: s-color(text);
					font-size: 1em;
					line-height: 2em;
					// line-height: 25px;
					font-weight: bold;
					text-align: center;
				}

				abbr {
					border-bottom: none;
					cursor: help;
				}
			}

			.pika-button {
				cursor: pointer;
				display: block;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				outline: none;
				border: 0;
				margin: 0;
				width: 100%;
				padding: s-lnf(padding-horizontal) s-lnf(padding-vertical);
				font-size: s-lnf(font-size);
				line-height: s-lnf(font-size);
				// line-height: 15px;
				text-align: right;

				.is-today & {
					font-weight: bold;
				}

				.is-selected & {
					font-weight: bold;
					border-radius: s-lnf(border-radius);
				}

				.is-disabled &,
				.is-outside-current-month & {
					pointer-events: none;
					cursor: default;
					opacity: .3;
				}

				&:hover {
					box-shadow: none;
					border-radius: s-lnf(border-radius);
				}
			}

			.pika-week {
				font-size: s-lnf(font-size);
				line-height: s-lnf(font-size);
			}

			.is-inrange .pika-button {
				background: #D5E9F7;
			}

			.is-startrange .pika-button {
				color: #fff;
				background: #6CB31D;
				box-shadow: none;
				border-radius: s-lnf(border-radius);
			}

			.is-endrange .pika-button {
				color: #fff;
				background: #33aaff;
				box-shadow: none;
				border-radius: s-lnf(border-radius);
			}
		}
	}
}

@mixin s-formset-datepicker(
	$colors : s-settings('components.formset.generate.colors')
) {
	@include s-formset-datepicker-bare();
	@include s-formset-datepicker-style($colors);
}

@mixin s-formset-datepicker-bare() {
	@include s-formset-datepicker-init();
	.pika-single {
		@extend %pika-single;
	}
}

@mixin s-formset-datepicker-style(
	$colors : s-setting('components.formset.generate.colors')
) {
	@include s-formset-datepicker-init();

	@each $color in $colors {

		#{s-selector((
			BEM : '.pika-single.#{$color}',
			SMACCS : '.pika-single.#{$color}'
		))} {
			.pika-time {
				width:100%;

				td {
					text-align: center;
					padding-top:s-lnf(padding-vertical);

					&:first-child {
						width:63%;
					}
					&:last-child {
						width:33%;
					}
				}
				select {
					@include s-formset-select-field($color);
					width:100%;
				}
			}

			.pika-prev,
			.is-rtl .pika-next {

			}

			.pika-next,
			.is-rtl .pika-prev {

			}

			.is-today .pika-button {
				color: s-color(text, -darken 10%);
			}

			.is-selected .pika-button {
				color: white !important;
				background: s-color($color) !important;
			}

			.is-disabled .pika-button,
			.is-outside-current-month .pika-button {
				color: s-color(text, -opacity .65);
			}

			.pika-week {
				color: red;
			}

			.is-inrange .pika-button {
				background: s-color($color, -opacity .2);
			}

			.is-startrange .pika-button {
				color: #fff;
				background: s-color($color, -opacity .8);
			}

			.is-endrange .pika-button {
				color: #fff;
				background: s-color($color, -opacity .8);
			}

			.pika-button {
				color: s-color(text);
				background: s-color(default, -opacity .05);

				&:hover {
					color: s-color($color, -darken 20%);
					background: s-color($color, -opacity .4);
				}
			}
		}
	}
}
