@include s-component-setup((
	formset : (
		scope-class : 'formset',
		generate : (
			colors : default primary secondary success warning error info,
			sizes : default,
			styles : inline inside
		)
	)
));
	
$_s-formset-inited : false;
@mixin s-formset-init() {
	
	@if not $_s-formset-inited {
		$_s-formset-inited : true !global;
		%s-formset-input-bare {
			display: inline-block;
			border-width:s-rem(1px);
			border-bottom-width : s-rem(3px);
			border-style : solid;
			background-color: white;
			@include s-font(sugar('settings.typo.font-family'));
			-webkit-appearance: none;
			-moz-appearance: none;
			line-height: 1;
			outline : none;
			width:100%;
			@include s-transition(fast);

			color: s-color(text);
			@include s-placeholder() {
				color: s-color(text, -opacity .4);
			}
			
			[data-input-activator]:focus ~ &,
			&:focus {
				border-left-width : s-rem(5px);
			}
			
			&:disabled,
			#{s-selector((
				BEM : '&.input--disabled',
				SMACCS : '&.is-disabled'
			))} {
				opacity : .65;
				cursor: not-allowed;			
			}
		}
		%s-formset-select-bare {
			background-size: 9px 6px;
			background-position: right center;
			background-origin: content-box;
			background-repeat: no-repeat;
			border-radius: 0;
		}
		%s-formset-fieldset-bare {
			border-left-width: s-rem(5px);
			border-left-style: solid;
			display:block;
			width: 100%;
			@include s-transition(fast);

			> legend,
			> .legend {
				@include s-transition(fast);
				border-left-style: solid;
				border-left-width: s-rem(5px);
				border-bottom-style: solid;
				border-bottom-width: s-rem(2px);
			}
		}
		%s-formset-checkbox-bare {
			position: absolute;
			left : -999999px;

			& + .s-radiobox {
				display: inline-block;
				position: relative;
				cursor: pointer;
				@include s-transition(fast);
				vertical-align: sub;
				@include s-translate(0,0,0);

				&:before {
					border-width: s-rem(2px);
					border-style: solid;
					content:'';
					display: block;
					position: absolute;
					transform:scaleX(1) scaleY(1) rotate(360deg);
					width: 100%; height: 100%;
					@include s-transition(fast);
				}
				&:after {
					content:'';
					display: block;
					position: absolute;
					transform : scaleX(0) scaleY(0) rotate(-360deg);
					width: 100%; height: 100%;
					@include s-transition(fast);
					background-size: 100% 100%;
					background-position: 50% 50%;
					background-repeat: no-repeat;
				}
			}
			&:checked + .s-radiobox:before {
				transform:scaleX(0) scaleY(0) rotate(0deg);
			}
			&:checked + .s-radiobox:after {
				transform:scaleX(1) scaleY(1) rotate(0deg);
			}

			#{s-selector((
				BEM : (
					'&.checkmark--inside',
					'&.checkmark--fill'
				),
				SMACCS : (
					'&.checkmark-inside',
					'&.checkmark-fill'
				)
			))} {
				& + .s-radiobox:after {
					background-size: 60% 60%;
					background-position: 49% 57% !important;
				}
			}

			#{s-selector((
				BEM : '&.checkmark--inside',
				SMACCS : '&.checkmark-inside'
			))} {
				& + .s-radiobox:before {
					transform: scaleX(1) scaleY(1) rotate(0) !important;
				}
			}

		}
		%s-formset-radio-bare {
			@extend %s-formset-checkbox-bare;
			
			#{s-selector((
				BEM : (
					'&.checkmark--inside',
					'&.checkmark--fill'
				),
				SMACCS : (
					'&.checkmark-inside',
					'&.checkmark-fill'
				)
			))} {
				& + .s-radiobox:after {
					background-position: 49% 56% !important;
				}
			}

			& + .s-radiobox:before,
			& + .s-radiobox:after {
				border-radius:50% !important;
			}
		}
	}
}

@mixin s-formset-fieldset(
	$sizes : sugar('settings.components.formset.generate.sizes'),
	$colors : sugar('settings.components.formset.generate.colors')
) {
	// init form
	@include s-formset-init();

	@if $_sugar-test-arguments {
		$sizes : s-test-argument('s-formset-fieldset','sizes',map-keys(sugar('settings.sizes')),$sizes);
		$colors : s-test-argument('s-formset-fieldset','colors',map-keys(sugar('settings.colors')),$colors);
	}

	// pass in the component context
	@include s-component-context('formset') {		
		
		// get variables
		$form-scope-class : sugar('settings.scope-class');

		.#{$form-scope-class} fieldset,
		.fieldset {
			@extend %s-formset-fieldset-bare;

			@include s-vertical-rhythme() {
				margin-bottom: s-rem(2);
			}
		}

		// generate each sizes
		@each $size in $sizes {
			// input styling
			#{s-selector((
				BEM : (
					'.#{$form-scope-class} fieldset.#{$size}',
					'.fieldset--#{$size}'
				),
				SMACCS : (
					'.#{$form-scope-class} fieldset.#{$size}',
					'.fieldset-#{$size}'
				)
			))} {
				padding : 0 0 0 s-space($size);
				padding-right: 0;
				display: inline-block;

				> [class*="legend"],
				> legend {
					margin-left: - (s-space($size) + s-rem(5px));
					width : unquote('calc(100% + #{s-space($size)})');
					margin-bottom: s-space($size);
				}
			}

			#{s-selector((
				BEM : (
					'.#{$form-scope-class} legend.#{$size}',
					'.legend--#{$size}'
				),
				SMACCS : (
					'.#{$form-scope-class} legend.#{$size}',
					'.legend-#{$size}'
				)
			))} {
				// @include s-translate(0 50%);
				font-size : s-look-and-feel(font-size, $size);
				padding: s-look-and-feel(padding-horizontal, $size) s-look-and-feel(padding-vertical, $size);
			}
		}

		// generate each colors
		@each $color in $colors {
			
			#{s-selector((
				BEM : (
					'.#{$form-scope-class} fieldset.#{$color}',
					'.fieldset--#{$color}'
				),
				SMACCS : (
					'.#{$form-scope-class} fieldset.#{$color}',
					'.fieldset-#{$color}'
				)
			))} {
				border-color: s-color($color, -opacity .1);
				
				#{s-selector((
					BEM : '&.fieldset--hover',
					SMACCS : '&.is-hover'
				))},
				&:hover,
				&.active {
					border-color: s-color($color, -opacity .2);

					> legend,
					> .legend {
						border-color: s-color($color, -opacity .2);
					}
				}

				> legend,
				> .legend {
					color: s-color($color);
					border-color: s-color($color, -opacity .1);
				}
			}
		}
	}
}

@mixin s-formset-radiobox(
	$sizes : sugar('settings.components.formset.generate.sizes'),
	$colors : sugar('settings.components.formset.generate.colors')
) {
	// init form
	@include s-formset-init();
	
	// parse properties
	@if $_sugar-test-arguments {
		$sizes : s-test-argument('s-formset-radiobox','sizes',map-keys(sugar('settings.sizes')),$sizes);
		$colors : s-test-argument('s-formset-radiobox','colors',map-keys(sugar('settings.colors')),$colors);
	}

	// pass in the component context
	@include s-component-context('formset') {

		// get variables
		$form-scope-class : sugar('settings.scope-class');

		// base
		input[data-s-radiobox] + .s-radiobox:after {
			background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><style>path{fill%3A#{str-replace("#{s-color(success)}","#","%23")};}</style><path d="M432 48L192 288 80 176 0 256l192 192 320-320"/></svg>');
		}
		input[data-s-radiobox].checkmark--fill + .s-radiobox:after {
			background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><style>path{fill%3A#{str-replace("#{s-color(#fff)}","#","%23")};}</style><path d="M432 48L192 288 80 176 0 256l192 192 320-320"/></svg>');
			background-color: s-color(success);
		}
		input[data-s-radiobox][type="checkbox"] {
			@extend %s-formset-checkbox-bare;
		}
		input[data-s-radiobox][type="radio"] {
			@extend %s-formset-radio-bare;
		}

		#{s-selector((
			BEM : (
				'.#{$form-scope-class} label label .s-radiobox',
				'.label .label .s-radiobox'
			),
			SMACCS : (
				'.#{$form-scope-class} label label .s-radiobox',
				'.label .label .s-radiobox'
			)
		))} {
			margin-top:s-rem(1);
		}

		// generate each sizes
		@each $size in $sizes {
			#{s-selector((
				BEM : (
					'input[data-s-radiobox].#{$size}'
				),
				SMACCS : (
					'input[data-s-radiobox].#{$size}'
				)
			))} {
				height: s-look-and-feel(font-size, $size);

				$br : s-look-and-feel(border-radius, $size);
				$fs : s-render-round-even(s-look-and-feel(font-size, $size) * 1.3);
				& + .s-radiobox {
					width: $fs;
					height: $fs;

					&:before,
					&:after {
						border-radius: $br;
					}
				}

				@include s-vertical-rhythme(
					$font-size : $fs,
					$line-height: $fs,
					$margin-bottom : 2,
					$margin-top : 0,
					$border-bottom-width: s-rem(2px),
					$border-top-width : s-rem(2px)
				);

				label + & + .s-radiobox, [class*="label"] + & + .s-radiobox {
					margin-left: s-look-and-feel(padding-vertical, $size);
				}
			}

			// label styling
			#{s-selector((
				BEM : (
					'.#{$form-scope-class} label.#{$size}',
					'.label--#{$size}'
				),
				SMACCS : (
					'.#{$form-scope-class} label.#{$size}',
					'.label-#{$size}'
				)
			))} {
				.s-radiobox + & {
					padding-left: s-look-and-feel(padding-vertical, $size) * .5;
					padding-right: s-look-and-feel(padding-vertical, $size);
				}
			}
		}
		@each $color in $colors {

			#{s-selector((
				BEM : (
					'input[data-s-radiobox]'
				),
				SMACCS : (
					'input[data-s-radiobox]'
				)
			))} {
				&.checkmark--#{$color}:not(.checkmark--fill) + .s-radiobox:after {
					background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><style>path{fill%3A#{str-replace("#{s-color($color)}","#","%23")};}</style><path d="M432 48L192 288 80 176 0 256l192 192 320-320"/></svg>');
				}
				&.checkmark--fill.checkmark--#{$color} + .s-radiobox:after {
					background-color : s-color($color);
				}
			}

			#{s-selector((
				BEM : (
					'input[data-s-radiobox].#{$color}'
				),
				SMACCS : (
					'input[data-s-radiobox].#{$color}'
				)
			))} {
				& + .s-radiobox {
					&:before {
						border-color: s-color($color, -opacity .3);
					}
					
				}
				#{s-selector((
					BEM : (
						'&.input--hover',
						'&.input--active'
					),
					SMACCS : (
						'&.is-hover',
						'&.is-active'
					)
				))},
				&:hover {
					& + .s-radiobox {
						&:before {
							border-color: s-color($color, -opacity .6);
						}
					}
				}
				&:focus {
					& + .s-radiobox {
						&:before {
							@include s-filter(box-shadow(s-color($color, -opacity .3) 0 5px s-rem(5px)));
						}
					}	
				}
				&:checked {
					& + .s-radiobox {
						&:before {
							border-color: s-color($color, -opacity .3);
						}
					}
				}
			}
		}

		// error fields
		#{s-selector((
			BEM : (
				'.error input[data-s-radiobox]'
			),
			SMACCS : (
				'.error input[data-s-radiobox]'
			)
		))} {
			& + .s-radiobox {
				&:before {
					border-color: s-color(error, -opacity .3);
				}
				
			}
		}
	}
}

@mixin s-formset-input(
	$color,
	$size
) {
	@include s-formset-init();
	@extend %s-formset-input-bare;
	@include s-formset-input-size($size);
	@include s-formset-input-color($color);	
}
@mixin s-formset-select(
	$color,
	$size
) {
	@include s-formset-init();
	@extend %s-formset-input-bare;
	@extend %s-formset-select-bare;
	@include s-formset-input-size($size);
	@include s-formset-input-color($color);
	@include s-formset-select-color($color);
}
@mixin s-formset-textarea(
	$color,
	$size
) {
	@include s-formset-init();
	@extend %s-formset-input-bare;
	@include s-formset-textarea-size($size);
	@include s-formset-input-color($color);
}
@mixin s-formset-input-size($size) {
	font-size : s-look-and-feel(font-size, $size);
	// border-radius: s-look-and-feel(border-radius, $size);
	padding : s-look-and-feel(padding-horizontal, $size) s-look-and-feel(padding-vertical, $size);
	height: s-look-and-feel(font-size, $size) + s-look-and-feel(padding-vertical, $size) * 2;
}
@mixin s-formset-input-color($color) {
	border-color: s-color($color, -opacity .1);
	border-bottom-color: s-color($color, -opacity .3);
		
	[data-input-activator]:focus ~ &,
	[data-input-activator]:checked ~ &,
	&:hover:not(:disabled):not(.input--disabled):not(.is-disabled),
	&:focus:not(:disabled):not(.input--disabled):not(.is-disabled),
	&.active:not(:disabled):not(.input--disabled):not(.is-disabled) {
		border-bottom-color: s-color($color, -opacity .6);
		// @include s-filter(box-shadow(s-color($color, -opacity .3) 0 5px s-rem(10px)));
		@include s-depth(3, s-color($color, -opacity .3));
	}
	[data-input-activator]:focus ~ &,
	[data-input-activator]:checked ~ &,
	&:focus:not(:disabled):not(.input--disabled):not(.is-disabled),
	&.active:not(:disabled):not(.input--disabled):not(.is-disabled) {
		border-left-color: s-color($color, -opacity .6);
	}
}
@mixin s-formset-select-color($color) {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill%3A#{str-replace("#{s-color($color)}","#","%23")}"></polygon></svg>');
}
@mixin s-formset-textarea-size($size) {
	font-size : s-look-and-feel(font-size, $size);
	// border-radius: s-look-and-feel(border-radius, $size);
	padding : s-look-and-feel(padding-horizontal, $size) s-look-and-feel(padding-vertical, $size);
	display: inline-block;
	height: s-look-and-feel(font-size, $size) + s-look-and-feel(padding-vertical, $size) * 2;
}

@mixin s-formset(
	$sizes : sugar('settings.components.formset.generate.sizes'),
	$colors : sugar('settings.components.formset.generate.colors'),
	$styles : sugar('settings.components.formset.generate.styles'),
	$scope-class : sugar('settings.components.formset.scope-class')
) {
	// init form
	@include s-formset-init();
	
	// parse properties
	@if $_sugar-test-arguments {
		$sizes : s-test-argument('s-formset','sizes',map-keys(sugar('settings.sizes')),$sizes);
		$colors : s-test-argument('s-formset','colors',map-keys(sugar('settings.colors')),$colors);
	}

	// pass in the component context
	@include s-component-context('formset') {
		
		// get variables
		$scope-class : sugar('settings.scope-class');

		// base
		.#{$scope-class} input:not([type="checkbox"]):not([type="radio"]),
		.input:not([type="checkbox"]):not([type="radio"]),
		.#{$scope-class} textarea,
		.#{$scope-class} select,
		#{s-selector((
			BEM : '[class*="input-prefix"], [class*="input-postfix"]',
			SMACCS : '[class*="input-prefix"], [class*="input-postfix"]'
		))} {
			@extend %s-formset-input-bare;
		}
		.#{$scope-class} textarea {
			height: auto !important;
		}
		.#{$scope-class} select,
		select[class*="input"] {
			@extend %s-formset-select-bare;
		}
		.#{$scope-class} label,
		.label {
			&, > span {
				user-select: none;
				font-weight: bold;
			}

			// restore font-weight
			.s-radiobox ~ &,
			.label, label,
			> * {
				font-weight: normal;
			}

			// no margin-bottom on nested labels
			.label,
			label {
				margin-bottom: 0 !important;
			}

			@include s-vertical-rhythme {
				#{s-selector((
					BEM : (
						'select',
						'textarea',
						'input:not([type="checkbox"]):not([type="radio"])',
						'select.input',
						'textarea.input',
						'input.input',
						'.input-postfix',
						'.input-prefix',
						'.form-group'
					),
					SMACCS : (
						'select',
						'textarea',
						'input:not([type="checkbox"]):not([type="radio"])',
						'select.input',
						'textarea.input',
						'input.input',
						'.input-postfix',
						'.input-prefix'
						'.form-group'
					)
				))} {
					margin-top: s-rem(1);
					margin-bottom: 0 !important;
					.form-group & {
						margin-top: 0;
					}
				}
			}
		}
		[class*="input-reply"] {
			display: none;
		
			@include s-vertical-rhythme() {
				margin-bottom: 2;
			}
			.#{$scope-class} label &,
			.label & {
				margin-bottom: 0;
			}

			textarea + & {
				margin-top: s-rem(-3px);
			}
		}

		// form group		
		.form-group {
			// make form group flex
			display: flex;

			#{s-selector((
				BEM : (
					'[class*="input-postfix"]',
					'[class*="input-prefix"]'
				),
				SMACCS : (
					'[class*="input-postfix"]',
					'[class*="input-prefix"]'
				)
			))} {
				flex:0;
			}

			// remove margin-top from input that are in a form-group
			#{s-selector((
				BEM : (
					'select',
					'textarea',
					'input:not([type="checkbox"]):not([type="radio"])',
					'[class*="input-postfix"]',
					'[class*="input-prefix"]',
					'.form-group'
				),
				SMACCS : (
					'select',
					'textarea',
					'input:not([type="checkbox"]):not([type="radio"])',
					'[class*="input-postfix"]',
					'[class*="input-prefix"]',
					'.form-group'
				)
			))} {
				margin-top: 0 !important;
			}

			// make input flex
			#{s-selector((
				BEM : (
					'select',
					'textarea',
					'input:not([type="checkbox"]):not([type="radio"])'
				),
				SMACCS : (
					'select',
					'textarea',
					'input:not([type="checkbox"]):not([type="radio"])'
				)
			))} {
				flex: 1;
			}
		}

		// generate each sizes
		@each $size in $sizes {
			// input styling
			#{s-selector((
				BEM : (
					'.#{$scope-class} select.#{$size}',
					'.#{$scope-class} input:not([type="checkbox"]):not([type="radio"]).#{$size}',
					'select.input--#{$size}',
					'input.input--#{$size}',
					'.input-postfix--#{$size}',
					'.input-prefix--#{$size}'
				),
				SMACCS : (
					'.#{$scope-class} select.#{$size}',
					'.#{$scope-class} input:not([type="checkbox"]):not([type="radio"]).#{$size}',
					'select.input-#{$size}',
					'input.input-#{$size}',
					'.input-postfix-#{$size}',
					'.input-prefix-#{$size}'
				)
			))} {
				// set input styling
				@include s-formset-input-size($size);

				// vertical rhythme
				&, & ~ span {
					@include s-vertical-rhythme(
						$font-size : s-look-and-feel(font-size, $size),
						$line-height: s-look-and-feel(font-size, $size),
						$padding-top : s-look-and-feel(padding-horizontal, $size),
						$padding-bottom : s-look-and-feel(padding-horizontal, $size),
						$margin-bottom : 1,
						$margin-top : 0,
						$border-bottom-width: s-rem(1px),
						$border-top-width : s-rem(1px),
						$calculate-height : true
					);
				}
			}

			// textarea styling
			#{s-selector((
				BEM : (
					'.#{$scope-class} textarea.#{$size}'
				),
				SMACCS : (
					'.#{$scope-class} textarea.#{$size}'
				)
			))} {
				@include s-formset-textarea-size($size);

				$vr : s-vertical-rhythme(
					$font-size : s-look-and-feel(font-size, $size),
					$line-height: s-look-and-feel(font-size, $size) * 2,
					$padding-top : s-look-and-feel(padding-horizontal, $size),
					$padding-bottom : s-look-and-feel(padding-horizontal, $size),
					$margin-bottom : 1,
					$margin-top : 0,
					$border-bottom-width: s-rem(1px),
					$border-top-width : s-rem(1px)
				);
				@include s-vertical-rhythme($vr...);
			}

			#{s-selector((
				BEM : (
					'.input-reply--#{$size}'
				),
				SMACCS : (
					'.input-reply-#{$size}'
				)
			))} {
				padding: s-look-and-feel(padding-horizontal, $size) s-look-and-feel(padding-vertical, $size);
				font-size: s-look-and-feel(font-size, $size);

				@include s-vertical-rhythme {
					.label .label + &,
					label label + & {
						margin-top: round(s-rem(s-look-and-feel(font-size, $size)));
					}
				}
			}

			#{s-selector((
				BEM : (
					'.#{$scope-class} select.#{$size}',
					'select.input--#{$size}',
					'.input-postfix--#{$size}',
					'.input-prefix--#{$size}'
				),
				SMACCS : (
					'.#{$scope-class} select.#{$size}',
					'select.input-#{$size}',
					'.input-postfix-#{$size}',
					'.input-prefix-#{$size}'
				)
			))} {
				$args : (
					font-size : s-look-and-feel(font-size, $size),
					line-height: s-look-and-feel(font-size, $size),
					padding-top : s-look-and-feel(padding-horizontal, $size),
					padding-bottom : s-look-and-feel(padding-horizontal, $size),
					margin-bottom : 1,
					margin-top : 0,
					border-bottom-width: s-rem(1px),
					border-top-width : s-rem(1px),
					calculate-height : true
				);
				@include s-vertical-rhythme($args...);
			}

			// label styling
			#{s-selector((
				BEM : (
					'.#{$scope-class} label.#{$size}',
					'.label--#{$size}'
				),
				SMACCS : (
					'.#{$scope-class} label.#{$size}',
					'.label-#{$size}'
				)
			))} {
				font-size: s-look-and-feel(font-size, $size);
				display: inline-block;
				vertical-align: middle;
				position: relative;
				
				// if want the inline style
				@if index($styles, inline) {
					#{s-selector((
						BEM : '&.label--inline',
						SMACCS : '&.label-inline'
					))} {
						display: flex;
						
						> * {
							flex:0;
							margin-top:0 !important;
						}
						> input,
						> textarea,
						> select {
							flex:1;
						}
						> span {
							flex : 0;
							white-space: nowrap;
							display:inline-block;
							padding:s-lnf(padding-horizontal, $size) s-lnf(padding-vertical, $size);
							
							&:first-child {
								padding-left: 0 !important;
							}
							&:last-child {
								padding-right: 0 !important;
							}
						}
					}
				}

				// if want the inside style
				@if index($styles, inside) {
					#{s-selector((
						BEM : '&.label--inside',
						SMACCS : '&.label-inside'
					))} {
						display: flex;

						> * {
							flex:0;
							margin-top:0 !important;
						}
						> input,
						> textarea,
						> select {
							flex:1;

							&:focus ~ span {
								// font-size:s-lnf(font-size, $size) * 0.5 !important;
								// padding-top : 0 !important;
								left: s-rem(5px);
								// @include s-translate(-100%);
							}
						}
						
						> span {
							@include s-transition(fast);
							white-space: nowrap;
							display:inline-block;
							text-align: right;
							position:absolute;
							top:s-rem(2px); left:0;
							z-index:1;
							padding:s-lnf(padding-horizontal, $size) s-lnf(padding-vertical, $size);
						}
					}
				}

				&:not(.s-radiobox) {
					$mb : s-look-and-feel(font-size, $size);
					@if s-strip-units($mb) <= 2 { $mb : 2; }
					@include s-vertical-rhythme(
						$font-size : s-look-and-feel(font-size, $size),
						$line-height: s-look-and-feel(font-size, $size),
						$margin-bottom : $mb,
						$margin-top : 0
					);

					&:first-child:last-child {
						width: 100%;
					}
				}

				& + label,
				& + [class*="label"] {
					margin-left: s-look-and-feel(padding-vertical, $size);
				}
			}
		}

		// generate each colors
		@each $color in $colors {
			
			// label styling
			@if index($styles, inside) {
				#{s-selector((
					BEM : (
						'.#{$scope-class} .label--inside > input.#{$color}',
						'.#{$scope-class} .label--inside > textarea.#{$color}',
						'.label--inside > input.input--#{$color}',
						'.label--inside > textarea.input--#{$color}'
					),
					SMACCS : (
						'.#{$scope-class} .label-inside > input.#{$color}',
						'.#{$scope-class} .label-inside > textarea.#{$color}',
						'.label-inside > input.input-#{$color}',
						'.label-inside > textarea.input-#{$color}'
					)
				))} {
					& ~ span {
						background-color: s-color($color, -opacity .05);
					}

					&:not([value=""]) ~ span,
					&:focus ~ span {
						background-color: s-color($color, -opacity .2);
						color : s-color($color, -darken 20%);
					}			
				}
			}

			// display input-reply when parent has the good class
			#{s-selector((
				BEM : (
					'.#{$color} > .input-reply--#{$color}'
				),
				SMACCS : (
					'.#{$color} > .input-reply-#{$color}'
				)
			))} {
				display: block;
			}

			#{s-selector((
				BEM : (
					'.#{$scope-class} select.#{$color}',
					'.#{$scope-class} textarea.#{$color}',
					'.#{$scope-class} input:not([type="checkbox"]):not([type="radio"]).#{$color}',
					'select.input--#{$color}',
					'textarea.input--#{$color}',
					'input.input--#{$color}',
					'.input-postfix--#{$color}',
					'.input-prefix--#{$color}'
				),
				SMACCS : (
					'.#{$scope-class} select.#{$color}',
					'.#{$scope-class} textarea.#{$color}',
					'.#{$scope-class} input:not([type="checkbox"]):not([type="radio"]).#{$color}',
					'select.input-#{$color}',
					'textarea.input-#{$color}',
					'input.input-#{$color}',
					'.input-postfix-#{$color}',
					'.input-prefix-#{$color}'
				)
			))} {
				@include s-formset-input-color($color);

				& ~ .input-reply--#{$color} {
					display: block;
				}
			}
			#{s-selector((
				BEM : (
					'.input-reply--#{$color}'
				),
				SMACCS : (
					'.input-reply-#{$color}'
				)
			))} {
				color: s-color($color, -darken 20%);
				background-color: s-color($color, -opacity .3);
			}

			#{s-selector((
				BEM : '.input-postfix--#{$color}, .input-prefix--#{$color}',
				SMACCS : '.input-postfix-#{$color}, .input-prefix-#{$color}'
			))} {
				background-color: s-color($color, -opacity .08);
				color : s-color($color, -darken 20%);
			}
			#{s-selector((
				BEM : (
					'.#{$scope-class} select.#{$color}',
					'select.input--#{$color}'
				),
				SMACCS : (
					'.#{$scope-class} select.#{$color}',
					'select.input-#{$color}'
				)
			))} {
				@include s-formset-select-color($color);
			}
		}

		// postfix
		[class*="input-postfix"] {
			border-left: none;
		}
		[class*="input-prefix"] {
			border-right: none;
			text-align: right;
		}
		[class*="input-postfix"],
		[class*="input-prefix"] {
			pointer-events: none;
		}
	}
}


$_s-formset-datepicker-inited : false;
@mixin s-formset-datepicker-init() {
	@if not $_s-formset-datepicker-inited {
		$_s-formset-datepicker-inited : true ! global;

		%pika-single {
			z-index: 9999;
			position: relative;
			color: s-color(text);
			background: white;
			font-family: s-font-family(default);
			border-radius: s-look-and-feel(border-radius);
			@include s-transition(fast margin-top,fast opacity);
			margin-top:0;
			padding:s-look-and-feel(padding-vertical);

			&.is-hidden {
				opacity:0;
				@include s-visually-hidden();
				margin-top:s-rem(-20px);
			}

			&.is-bound {
				position: absolute;
				@include s-depth(6);
			}

			// clearfix
			*zoom: 1;
			&:before,
			&:after {
				content: " ";
				display: table;
			}
			&:after { clear: both }

			.pika-lendar {
				float: left;
				// width: 240px;
				margin-left: s-look-and-feel(padding-vertical);
				margin-right: s-look-and-feel(padding-vertical);
				&:first-of-type {
					margin-left:0;
				}
				&:last-of-type {
					margin-right:0 !important;
				}
			}

			.pika-title {
				position: relative;
				text-align: center;

				select {
					cursor: pointer;
					position: absolute;
					z-index: 9998;
					margin: 0;
					left: 0;
					top: 5px;
					filter: alpha(opacity=0);
					opacity: 0;
				}
			}

			.pika-label {
				display: inline-block;
				*display: inline;
				position: relative;
				z-index: 9999;
				overflow: hidden;
				margin: 0;
				padding : s-look-and-feel(padding-horizontal) s-look-and-feel(padding-vertical);
				//padding: 5px 3px;
				font-size: s-look-and-feel(font-size);
				line-height: s-look-and-feel(font-size);
				// line-height: 20px;
				font-weight: bold;
				color: s-color(text);
				background-color: white;
			}

			.pika-prev,
			.pika-next {
				display: block;
				cursor: pointer;
				position: relative;
				outline: none;
				border: 0;
				// padding: 0;
				padding : s-look-and-feel(padding-horizontal) 0;
				width: 20px;
				height: 30px;
				text-indent: 20px; // hide text using text-indent trick, using width value (it's enough)
				white-space: nowrap;
				overflow: hidden;
				background-color: transparent;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 75% 75%;
				opacity: .5;
				*position: absolute;
				*top: 0;

				&:hover {
					opacity: 1;
				}

				&.is-disabled {
					cursor: default;
					opacity: .2;
				}
			}

			.pika-prev,
			.is-rtl .pika-next {
				float: left;
				background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
				*left: 0;
			}

			.pika-next,
			.is-rtl .pika-prev {
				float: right;
				background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
				*right: 0;
			}

			.pika-select {
				display: inline-block;
				*display: inline;
			}

			.pika-table {
				width: 100%;
				border-collapse: collapse;
				border-spacing: 0;
				border: 0;

				th,
				td {
					width: 14.285714285714286%;
					padding: 0;
				}

				th {
					color: s-color(text);
					font-size: s-look-and-feel(font-size);
					line-height: s-look-and-feel(font-size) * 2;
					// line-height: 25px;
					font-weight: bold;
					text-align: center;
				}

				abbr {
					border-bottom: none;
					cursor: help;
				}
			}

			.pika-button {
				cursor: pointer;
				display: block;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				outline: none;
				border: 0;
				margin: 0;
				width: 100%;
				padding: s-look-and-feel(padding-horizontal) s-look-and-feel(padding-vertical);
				font-size: s-look-and-feel(font-size);
				line-height: s-look-and-feel(font-size);
				// line-height: 15px;
				text-align: right;
				
				.is-today & {
					font-weight: bold;
				}

				.is-selected & {
					font-weight: bold;
					border-radius: s-look-and-feel(border-radius);
				}

				.is-disabled &,
				.is-outside-current-month & {
					pointer-events: none;
					cursor: default;
					opacity: .3;
				}

				&:hover {
					box-shadow: none;
					border-radius: s-look-and-feel(border-radius);
				}
			}

			.pika-week {
				font-size: s-look-and-feel(font-size);
				line-height: s-look-and-feel(font-size);
			}

			.is-inrange .pika-button {
				background: #D5E9F7;
			}

			.is-startrange .pika-button {
				color: #fff;
				background: #6CB31D;
				box-shadow: none;
				border-radius: s-look-and-feel(border-radius);
			}

			.is-endrange .pika-button {
				color: #fff;
				background: #33aaff;
				box-shadow: none;
				border-radius: s-look-and-feel(border-radius);
			}
		}
	}
}
@mixin s-formset-datepicker(
	$colors : s-setting('components.formset.generate.colors')
) {
	@include s-formset-datepicker-init();

	// clear child float (pika-lendar), using the famous micro clearfix hack
	// http://nicolasgallagher.com/micro-clearfix-hack/
	.pika-single {
		@extend %pika-single;	
	}

	@each $color in $colors {

		#{s-selector((
			BEM : '.pika-single.#{$color}',
			SMACCS : '.pika-single.#{$color}'
		))} {
			.pika-time {
				width:100%;

				td {
					text-align: center;
					padding-top:s-lnf(padding-vertical);
					
					&:first-child {
						width:63%;
					}
					&:last-child {
						width:33%;
					}
				}
				select {
					@include s-formset-select($color, medium);
					width:100%;
				}
			}

			.pika-prev,
			.is-rtl .pika-next {
				
			}

			.pika-next,
			.is-rtl .pika-prev {
				
			}

			.is-today .pika-button {
				color: s-color(text, -darken 10%);
			}

			.is-selected .pika-button {
				color: white !important;
				background: s-color($color) !important;
			}

			.is-disabled .pika-button,
			.is-outside-current-month .pika-button {
				color: s-color(text, -opacity .65);
			}

			.pika-week {
				color: red;
			}

			.is-inrange .pika-button {
				background: s-color($color, -opacity .2);
			}

			.is-startrange .pika-button {
				color: #fff;
				background: s-color($color, -opacity .8);
			}

			.is-endrange .pika-button {
				color: #fff;
				background: s-color($color, -opacity .8);
			}

			.pika-button {
				color: s-color(text);
				background: s-color(default, -opacity .05);		

				&:hover {
					color: s-color($color, -darken 20%);
					background: s-color($color, -opacity .4);
				}
			}
		}
	}
}


$_s-formset-select-inited : false;
@mixin s-formset-select-init() {
	@if not $_s-formset-select-inited {
		$_s-formset-select-inited : true ! global;
	
		.s-select {
			position:relative;
		}
		.s-select__dropdown {
			display:none;
			position:absolute;
			top:100%; left:0;
			z-index: 1;
			width:100%;
			background:white;
			@include s-depth(5);
		}
		.s-select__open-checkbox:checked ~ .s-select__dropdown {
			display:block;
		}
		.s-select__selection {
			@include s-formset-select(default, default);
		}
	}
}

@mixin s-formset-select-component(
	$colors : s-setting('components.formset.generate.colors'),
	$sizes : s-setting('components.formset.generate.sizes')
) {
	@include s-formset-select-init();

	@each $size in $sizes {

		#{s-selector((
			BEM : '.s-select.#{$size}',
			SMACCS : 's-select.#{$size}'
		))} {
			.s-select__dropdown {
				border-radius: s-lnf(border-radius, $size);
				padding:s-lnf(padding-horizontal, $size) s-lnf(padding-vertical, $size);
			}
		}

	}
}







