@include s-component-setup((
	slideshow : (
		generate : ()
	)
));

$_s-slideshow-inited : false;
@mixin s-slideshow-init() {
	@if not $_s-slideshow-inited {
		$_s-slideshow-inited : true !global;

		// input
		%s-slideshow-bare {
			position:relative;
		}
		%s-slideshow-slide-bare {
			position:absolute;
			top:0; left:0;
			width:100%; height:100%;
		}
	}
}

@mixin s-slideshow(
	$name : 's-slideshow'
) {
	@include s-slideshow-bare(
		$name : $name
	);
	@include s-slideshow-style(
		$name : $name
	);
}

@mixin s-slideshow-bare(
	$name : 's-slideshow'
) {
	@include s-slideshow-init();

	// pass in the component context
	@include s-component-context('slideshow') {
		[#{$name}] {
			@extend %s-slideshow-bare;
		}
		[#{$name}-slide] {
			@extend %s-slideshow-slide-bare;
		}
	}
}
@mixin s-slideshow-style(
	$name : 's-slideshow'
) {
	// pass in the component context
	@include s-component-context('slideshow') {
		[#{$name}] {

		}
		[#{$name}-slide] {
			@include s-transition(transform .4s cubic-bezier(0.810, 0.005, 0.735, 1.000));
			@include s-translate(-100%,0);
			overflow: hidden;

			.active ~ & {
				@include s-translate(100%,0);
			}

			&.active {
				@include s-translate(0,0);
				@include s-transitionstart();
			}
		}
	}
}
