/**
 * Menu drawer
 */
@include s-drawer-component(
	$name : 'team',
	$side : right,
	$size : 500px,
	$method : position
);

/**
 * Generic drawer styling
 */
[s-drawer-content] {
	overflow-x: hidden;
	transform:none;
	height:100%;
	@include s-filter(drop-shadow(rgba(0,0,0,.3) 0 0 4px));
}
[s-drawer-overlay] {
	background : s-color(darkgrey, -opacity .8);
}
.s-drawer-menu [s-drawer-content] {
	@include s-filter(grayscale(90%));
}
body.s-drawer-menu {
	overflow-y: hidden;
}
