/**
 * Section styling
 */
.section{
	position: relative;
	padding-top: s-space(default);
	padding-bottom: s-space(default);

	@include gridle_state(moblet) {
		padding-top: s-space(default);
		padding-bottom: s-space(default);
	}
}


	/**
	 * Image
	 */
	.section__img {
		position:absolute;
		top:0; right:0;
		min-width:50%;
		width:auto;
		height:100%;
		overflow:hidden;
		z-index:-1;

		&:after {
			content:'';
			display: block;
			position:absolute;
			top:0; left:0;
			width:100%; height:100%;

			background-color: rgba(248,80,50,1);
			// background: linear-gradient(to right, white, transparent);
			background: radial-gradient(circle farthest-side at 100% 50% , transparent, white 100%);
		}

		> img {
			@include s-size(cover);
		}
	}


/**
 * Sizes
 */
.section--smaller{
	padding-top: s-space(smaller);
	padding-bottom: s-space(smaller);
}
.section--small{
	padding-top: s-space(small);
	padding-bottom: s-space(small);
}
.section--medium{
	padding-top: s-space(medium);
	padding-bottom: s-space(medium);

	@include gridle_state(moblet) {
		padding-top: s-space(medium);
		padding-bottom: s-space(medium);
	}
}
.section--big{
	padding-top: s-space(big);
	padding-bottom: s-space(big);

	@include gridle_state(moblet) {
		padding-top: s-space(medium);
		padding-bottom: s-space(medium);
	}
}
.section--bigger{
	padding-top: s-space(bigger);
	padding-bottom: s-space(bigger);

	@include gridle_state(moblet) {
		padding-top: s-space(medium);
		padding-bottom: s-space(medium);
	}
}


/**
 * Dark section
 */
.section--dark {
	background: url('/assets/img/section--dark-juniors.png') no-repeat 50% 50%, linear-gradient(to top, s-color(darkgrey, dark), darken(s-color(darkgrey, dark),10%));
	background-size: cover;
}
