//
// Tabs
//
.tabs {
	@include s-clearfix(micro);
	background-color: s-color(lightblue, dark);
}
	.tabs__tab {
		float:left;

		a {
			&, &:before, &:after {
				@include s-transition(fast);
			}
			padding: s-lnf(padding-horizontal) s-lnf(padding-vertical);
			text-align: center;
			display: block;

			&:hover,
			&.active {
				background: white;
			}
		}
	}
