//
// String specific
//

//
// Get url extension
//
@function str-url-ext(
	$url
) {
	// protect
	@if type-of($url) != string {
		@error("str-url-ext : $url has to be a string");
	}
	// split
	$split : str-explode($url,'.');
	// get the last item
	$last : last-nth($split);
	@if str-length($last) <= 5 and length($split) >= 2 {
		@return $last;
	} @else {
		@return null;
	}
}

//
// Replace
//
@function str-replace($string, $search, $replace: '') {
	@if type-of($string) != "string" {
		@error "`str-replace` function expecting a string for $string; #{type-of($string)} given.";
	}

	@if type-of($search) != "string" {
		@error "`str-replace` function expecting a string for $search; #{type-of($search)} given.";
	}

	@if type-of($replace) != "string" {
		@error "`str-replace` function expecting a string for $replace; #{type-of($replace)} given.";
	}

	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}



//
// Check if is url
//
@function str-is-url(
	$url
) {
	$ext : str-url-ext($url);
	@if $ext {
		@return true;
	} @else {
		@return false;
	}
}