@mixin s-text-format-title(
	$level : 1
) {
	@include s-text-format-title-bare($level);
	@include s-text-format-title-style($level);
}
@mixin s-text-format-title-bare(
	$size : 1,
	$base : null
) {
	@include s-component('s-text-format') {
		@if unit($size) == '' {
			font-size: s-ms($size, $base);
		} @else {
			font-size: $size;
		}
		line-height:1.1;

		// vertical rhythme
		@include s-vertical-rhythme() {
			margin-bottom:1rem;
		}
	}
}
@mixin s-text-format-title-style(
	$size : 1,
	$base : null
) {
	@include s-component('s-text-format') {
		color : s-color(title);
	}
}

@mixin s-text-format-paragraph-bare() {
	@include s-component('s-text-format') {
		line-height: 1.4;

		@include s-vertical-rhythme() {
			margin-bottom:1rem;
		}
	}
}
@mixin s-text-format-paragraph-style {
	@include s-component('s-text-format') {

	}
}
