//
// Helper classes
//

//
// Pull
//
@include s-register-class(pull-left 'helper.pull.left') {
	float: left;
}
@include s-register-class(pull-right 'helper.pull.right') {
	float: right;
}


//
// Clear
//
@include s-register-class(clear-left 'helper.clear.left') {
	clear: left;
}
@include s-register-class(clear-right 'helper.clear.right') {
	clear: right;
}
@include s-register-class(clear 'helper.clear.both') {
	clear: both;
}


//
// Show / hide
//
@include s-register-class(show 'helper.display.show') {
	display : block;
}
@include s-register-class(show-inline 'helper.display.show-inline') {
	display: inline-block;
}
@include s-register-class(hidden 'helper.display.hidden') {
	display: none;
}
@include s-register-class(visible 'helper.display.visible') {
	visibility: visible;
}
@include s-register-class(invisible 'helper.display.invisible') {
	visibility: hidden;
}
@include s-register-class(visually-hidden 'helper.display.visually-hidden') {
	@include s-visually-hidden();
}

//
// Text
//
@include s-register-class(text-hidden 'helper.text.hidden') {
	@include s-text-hidden();
}
@include s-register-class(text-truncate 'helper.text.truncate') {
	@include s-text-truncate();
}
@include s-register-class(text-left 'helper.text.align.left') {
	text-align: left;
}
@include s-register-class(text-right 'helper.text.align.right') {
	text-align: right;
}
@include s-register-class(text-center 'helper.text.align.center') {
	text-align: center;
}
@include s-register-class(text-justify 'helper.text.align.justify') {
	text-align: justify;
}
@include s-register-class(text-lowercase 'helper.text.transform.lowercase') {
	text-transform: lowercase;
}
@include s-register-class(text-uppercase 'helper.text.transform.uppercase') {
	text-transform: uppercase;
}
@include s-register-class(text-capitalize 'helper.text.transform.capitalize') {
	text-transform: capitalize;
}

//
// Blocks
//
@include s-register-class(block-center 'helper.block.center') {
	display : block;
	margin-left : auto;
	margin-right : auto;
}

//
// Clearfix
//
@include s-register-class(clearfix 'helper.clearfix.default') {
	@include s-clearfix(micro);
}
@include s-register-class(clearfix-float 'helper.clearfix.float') {
	@include s-clearfix(float);
}
@include s-register-class(clearfix-micro 'helper.clearfix.micro') {
	@include s-clearfix(micro);
}
@include s-register-class(clearfix-overflow 'helper.clearfix.overflow') {
	@include s-clearfix(overflow);
}
@include s-register-class(clearfix-facebook 'helper.clearfix.facebook') {
	@include s-clearfix(facebook);
}