//
// Lists specific
//
@mixin s-list(
	$counter-reset : s-list
) {
	@if $_sugar-test-arguments {
		$counter-reset : s-test-argument('s-list','counter-reset',string,$counter-reset);
	}
	counter-reset : $counter-reset;
}

//
// List item
//
@mixin s-list-item(
	$style-type : null,
	$style-image : null,
	$style-icon : null,
	$bullet-color : s-color(default),
	$bullet-size : null,
	$bullet-offset : null,
	$bullet-font : null,
	$padding-left : null
) {
	@if $_sugar-test-arguments {
		$style-type : s-test-argument('s-list-item','style-type',(disc,circle,square,decimal,decimal-leading-zero,lower-roman,upper-roman,lower-greek,lower-latin,upper-latin,armenian,georgian,lower-alpha,upper-alpha,none),$style-type);
		$style-image : s-test-argument('s-list-item','style-image',url,$style-image);
		$style-icon : s-test-argument('s-list-item','style-icon',string,$style-icon);
		$bullet-color : s-test-argument('s-list-item','bullet-color',color,$bullet-color);
		$bullet-size : s-test-argument('s-list-item','bullet-size','list-number|number',$bullet-size);
		$bullet-offset : s-test-argument('s-list-item','bullet-offset','list-number|number',$bullet-offset);
		$bullet-font : s-test-argument('s-list-item','bullet-font',map,$bullet-font);
		$padding-left : s-test-argument('s-list-item','padding-left',number,$padding-left);
	}

	// padding
	@if $padding-left {
		padding-left: s-rem($padding-left);
	}

	// style type
	@if $style-type {
		&:before {
			content: counter(s-list, $style-type);
			counter-increment: s-list;
		}
	}

	&:before {
		@if $bullet-offset {
			$left : 0;
			$top : 0;
			@if length($bullet-offset) == 2 {
				$left : nth($bullet-offset,2);
				$top : nth($bullet-offset,1);
			} @else if type-of($bullet-offset) == number {
				$top : $bullet-offset;
			}
			left : s-rem($left);
			top : s-rem($top);
		} @else {
			left : 0;
		}
		@if $bullet-color {
			color : $bullet-color;
		}
		@if $bullet-size {
			@if type-of($bullet-size) == list and length($bullet-size) == 2 {
				width : nth($bullet-size,1) nth($bullet-size,2);
			} @else if type-of($bullet-size) == number {
				font-size: s-rem($bullet-size);
			}
		}
		@if $bullet-font {
			@include s-font($bullet-font...);
		}
	}

	// before
	position: relative;
	&:before {
		position: absolute;
		display: block;
	}

	// style image
	@if $style-image {
		position: relative;
		&:before {
			content:'';
			display: block;
			width: 1ex; height:1em;
			background-image: url($style-image);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: 50% 50%;
		}
	
	} @else if $style-icon {
		position: relative;
		&:before {
			@include s-icon($style-icon);
		}
		
	}

	// reset margin-left for nested lists
	> ul,
	> ol,
	> dl, {
		margin-left: 0;
		margin-bottom: 0;
	}
}