/**
 * Arrow
 */
.arrow {
}

.arrow--right {
	@include s-bubble(
		$side : right,
		$align : top,
		$size : 1em,
		$color : s-color(white),
		$arrow-offset : 0em,
		$border-width : 0,
		$border-color : null
	);
}
.arrow--left {
	@include s-bubble(
		$side : left,
		$align : top,
		$size : 1em,
		$color : s-color(white),
		$arrow-offset : 0em,
		$border-width : 0,
		$border-color : null
	);
}
.arrow--up {
	@include s-bubble(
		$side : top,
		$align : top,
		$size : 1em,
		$color : s-color(white),
		$arrow-offset : 0em,
		$border-width : 0,
		$border-color : null
	);
}
.arrow--bottom {
	@include s-bubble(
		$side : bottom,
		$align : top,
		$size : 1em,
		$color : s-color(white),
		$arrow-offset : 0em,
		$border-width : 0,
		$border-color : null
	);
}
