/**
 * Flags
 */
.flag {
	@include s-ratio(4/3);
	background-size:100% 100%;
	background-position:50% 50%;
	background-repeat:no-repeat;
	width:1.5em;
	display:inline-block;
	vertical-align: middle;
}
.flag--gb,
.flag--en {
	background-image:url(../img/flags/gb.png);
}
.flag--it {
	background-image:url(../img/flags/it.png);
}
.flag--de {
	background-image:url(../img/flags/de.png);
}
.flag--fr {
	background-image:url(../img/flags/fr.png);
}
.flag--es {
	background-image:url(../img/flags/es.png);
}
.flag--pt {
	background-image:url(../img/flags/pt.png);
}
.flag--ru {
	background-image:url(../img/flags/ru.png);
}
