/**
 * Input error styling
 */
.input-error {
	margin-top: s-space(smaller);
	color: s-color(primary);
	@include s-transition(fast -delay .1s);
	opacity: 0;
	position:absolute;
	margin-left:s-rem(20px);
}
.input-error--in {
	opacity: 1;
	margin-left:0;
}
