/**
 * Generic list
 */
.list {
	.list__item {
		line-height:1.7;
		color : s-color(text, -lighten 25%);
	}
}

/**
 * Unordered list
 */
ul.list {
	@include s-list();

	@include s-vertical-rhythme {
		.list__item {
			margin-bottom: s-space(small);
		}
	}
}


/**
 * Ordered list
 */
ol.list {
	@include s-list();

	.list__item {
		@include s-list-bullet(
			$type : decimal,
			$space : 20px
		);
		@include s-vertical-rhythme {
			margin-bottom: s-space(small);
		}
	}
}


/**
 * List sidemenu
 */
.list--sidemenu {
	padding-left:s-rem(10px);

	a.active {
		color: s-color(primary);
	}

	.list__item {
		padding-left: s-rem(10px);

		&.list__item--toggle {
			font-weight: bold;
			font-size: s-rem(18px);
			cursor: pointer;
			position: relative;

			@extend .icon;
			@extend .icon-plus;
			&:before {
				position:absolute;
				right:0;
				font-size:.5em;
				color: s-color(text, -opacity .3);
				top: .5em;
			}

			+ .list {
				max-height: 0;
				overflow: hidden;
				@include s-transition(max-height slow);
			}
			&:hover {
				&:before {
					color: s-color(primary);
				}
			}
			&.active {
				@extend .icon-minus;
				&:before {
					color: s-color(primary);
				}

				+ .list {
					max-height:10000px;
				}
			}
		}
	}
}
