.read-more--active {
	max-height:2000px !important;
	height: auto !important;
}

.read-more {
	@include s-transition(slow max-height);
	position: relative;
	overflow: hidden;
	// @include s-animation(read-more-close-default .5s ease-in-out 0s);

	a {
		pointer-events: all;
	}

	&:before {
		opacity: 1;
		background: linear-gradient(to bottom, #fff, rgba(0,0,0,0) 3rem);
		@include s-transition(.3s);
		position: absolute;
		bottom: 0;
		left: 0;
		top: 0;
		right: 0;
		height: 100%;
		content: '';
		z-index:1;
		transform:rotate(180deg);
	}

	&[data-more] {
		pointer-events: none;
		padding-bottom:30px;

		&:after {
			pointer-events:all;
		}
	}

	&[data-more]:before {
		background: linear-gradient(to bottom, #fff 20px, rgba(0,0,0,0));
	}

	&[data-more]:after {
		content: attr(data-more);
		color: s-color(primary);
		cursor: pointer;
		position:absolute;
		z-index:1;
		bottom:0; left:0;
		border-bottom:0 solid s-color(primary);
		pointer-events: all;

		&:hover {
			text-decoration: underline;
			border-bottom-width:3px;
		}
	}

	.read-more--active &,
	&.read-more--active {
		// @include s-animation(read-more-open-default .5s ease-in-out 0s);
		max-height: 2000px !important;

		&:before {
			opacity:0;
			pointer-events:none;
		}

		&[data-less]:after {
			content: attr(data-less);
		}
	}

	.read-more--active &[s-readmore]:not(.read-more--active),
	.read-more--active [s-readmore]:not(.read-more--active) &,
	.read-more--active [s-activate-target]:not(.read-more--active) & {
		max-height:50px;

		&.read-more--offers {
			max-height: 500px;
		}

		&:before {
			opacity:1;
			pointer-events:all;
		}

		&[data-less]:after {
			content: attr(data-more);
		}
	}
}
