//
// Sugar function
//
@function sugar(
	$what
) {
	@if type-of($what) == string and str-index($what, "settings.") {
		// get a configuration
		@return s-setting(str-slice($what,10));
	}
}
@function s(
	$what
) {
	@return sugar($what);
}


//
// Get a configuration
//
$_sugar-settings-cache : ();
@function s-setting(
	$path
) {
	// check in cache
	$cache : map-get($_sugar-settings-cache, $path);
	@if $cache {
		@return $cache;
	}

	// do not have any cache
	$parts : _split($path, '.');
	$length : length($parts);
	$idx : 0;
	$value : $_sugar-settings;
	@each $part in $parts {
		$idx : $idx + 1;
		$value : map-get($value, $part);
		@if $idx == $length {
			$_sugar-settings-cache : map-set($_sugar-settings-cache, $path, $value) !global;
			@return $value;
		}
	}
}


//
// Color
//
@function s-color(
	$name,
	$actions : null
) {
	// grab the colors
	$colors : sugar('settings.colors');
	$color : map-get($colors, $name);
	$modifiers : null;

	// check that we have the color
	@if $color == null {
		@if s-is($name, color) {
			$color : $name;
		} @else {
			@error('The color "#{$name}" does not exist...');
		}
	}

	// check if is a map
	@if type-of($color) == map {
		$modifiers : map-get($color, modifiers);
		$color : map-get($color, color);
	}
	
	// check if action is a string to check if is a modifier
	@if type-of($actions) == string and $modifiers and map-get($modifiers, $actions) {
		$mod : map-get($modifiers, $actions);
		@if type-of($mod) == color {
			$color : $mod;
			$actions : null;
		} @else {
			$actions : $mod;
		}
	}

	// check action to do
	@if $actions {
		// parse action
		$actions-map : s-parse-properties($actions, (
			hue : number,
			lighten : number,
			darken : number,
			grayscale : true,
			complement : true,
			invert : true,
			saturate : number,
			desaturate : number,
			opacity : number,
			mix : color
		), (
			hue : h,
			lighten : li,
			darken : da,
			grayscale : gr,
			complement : comp,
			invert : i,
			saturate : sa,
			desaturate : desa,
			opacity : o,
			mix : m
		));
		// loop on each action to process to keep order
		@each $action, $value in $actions-map {
			// hue
			@if $action == hue and type-of($value) == number {
				$color : adjust-hue($color, $value);
			}
			// lighten
			@if $action == lighten and type-of($value) == number {
				$color : lighten($color, $value);
			}
			// darken
			@if $action == darken and type-of($value) == number {
				$color : darken($color, $value);
			}
			// saturate
			@if $action == saturate and type-of($value) == number {
				$color : saturate($color, $value);
			}
			// desaturate
			@if $action == desaturate and type-of($value) == number {
				$color : desaturate($color, $value);
			}
			// grayscale
			@if $action == grayscale and $value == true {
				$color : grayscale($color);
			}
			// complement
			@if $action == complement and $value == true {
				$color : complement($color);
			}
			// invert
			@if $action == invert and $value == true {
				$color : invert($color);
			}
			// opacity
			@if $action == opacity and type-of($value) == number {

				$transparentize : 1 - s-strip-units($value);
				@if unit($value) == '%' {
					$transparentize : (100 - s-strip-units($value)) / 100;
				}
				$color : transparentize($color, $transparentize);
			}
			// mix
			@if $action == mix and type-of($value) == color {
				$color : mix($color, $value);
			}
		}
	}
	// return the color
	@return $color;
}

//
// Check a variable type
//
@function s-is(
	$value,
	$type
) {
	@if type-of($type) != string {
		@return true;
	}

	@if $type == url {
		@return str-is-url($value);
	} @else if str-index($type, 'map-') {
		$idx : str-index($type, '-');
		$type : str-slice($type, $idx + 1);
		@each $prop, $val in $value {
			@if $val and not s-is($val, $type) {
				@return false;
			}
		}
		@return true;
	} @else if str-index($type, 'list-') {
		$idx : str-index($type, '-');
		$type : str-slice($type, $idx + 1);
		@each $item in $value {
			@if $item and not s-is($item, $type) {
				@return false;
			}
		}
		@return true;
	} @else if $type == px {
		@return type-of($value) == number and not unitless($value) and unit($value) == px;
	} @else if $type == rem {
		@return type-of($value) == number and not unitless($value) and unit($value) == rem;
	} @else if $type == em {
		@return type-of($value) == number and not unitless($value) and unit($value) == em;
	} @else if $type == pt {
		@return type-of($value) == number and not unitless($value) and unit($value) == pt;
	} @else if $type == percent or $type == '%' {
		@return type-of($value) == number and not unitless($value) and unit($value) == '%';
	} @else if $type == vw {
		@return type-of($value) == number and not unitless($value) and unit($value) == vw;
	} @else if $type == vh {
		@return type-of($value) == number and not unitless($value) and unit($value) == vh;
	} @else if $type == ex {
		@return type-of($value) == number and not unitless($value) and unit($value) == ex;
	} @else if $type == ch {
		@return type-of($value) == number and not unitless($value) and unit($value) == ch;
	} @else if $type == cm {
		@return type-of($value) == number and not unitless($value) and unit($value) == cm;
	} @else if $type == mm {
		@return type-of($value) == number and not unitless($value) and unit($value) == mm;
	} @else if $type == in {
		@return type-of($value) == number and not unitless($value) and unit($value) == in;
	} @else if $type == pc {
		@return type-of($value) == number and not unitless($value) and unit($value) == pc;
	} @else if $type == s or $type == second {
		@return type-of($value) == number and not unitless($value) and unit($value) == s;
	} @else if $type == boolean or $type == bool {
		@return _is-boolean($value);
	} @else if $type == function {
		@return _is-function($value);
	} @else if $type == null {
		@return _is-null($value);
	} @else if $type == number {
		@return type-of($value) == number;
	} @else if $type == integer or $type == int {
		@if type-of($value) != number {
			@return false;
		}
		@return round($value) == $value;
	} @else if $type == string {
		@return type-of($value) == string;
	} @else if $type == color {
		@return type-of($value) == color;
	} @else if $type == list {
		@return type-of($value) == list;
	} @else if $type == map {
		@return type-of($value) == map;
	} @else if $type == degree or $type == deg {
		@return unit($value) == deg;
	}
}


//
// Size
//
@function s-size(
	$size
) {
	$sizes : sugar('settings.sizes');
	$s : map-get($sizes, $size);
	@if $s {
		@if type-of($s) == map {
			@return map-get($s, size);
		} @else {
			@if unitless($s) {
				@return s-rem($s);
			}
			@return $s;
		}	
	} @else {
		@if unitless($size) {
			@return s-rem($size);
		}
		@return $size;
	}
}


//
// Strip units
//
@function s-strip-units($number) {
	@return $number / ($number * 0 + 1);
}