/* # GRIDLE vars
Define the gridle configuration vars

For the documentation check : http://gridle.org/
*/
/* # GRIDLE
check in 01_setup/_gridle.scss for the variables configuration

For the documentation check : http://gridle.org/
# Init
* import the gridle file
* set default states : mobile, tablet, desktop
* genretae additionnale classes to use in html

	@include gridle_register_default_states();
	@include gridle_generate_classes();

*/
.container:after {
  content: "";
  display: table;
  clear: both;
}

.row, .row-reverse {
  height: inherit;
  min-height: inherit;
  max-height: inherit;
}

.row:before, .row-reverse:before, .row:after, .row-reverse:after {
  content: "";
  display: table;
}

.row:after, .row-reverse:after {
  clear: both;
}

.row, .row-reverse {
  zoom: 1;
}

.gr-1-5, .gr-0, .gr-1, .gr-2, .gr-3, .gr-4, .gr-5, .gr-6, .gr-7, .gr-8, .gr-9, .gr-10, .gr-11, .gr-12 {
  display: inline-block;
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  line-height: 1;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  padding-right: 10px;
  padding-left: 10px;
}

.gr-adapt {
  display: table-cell;
  width: 1px;
  white-space: nowrap !important;
  line-height: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
}

.gr-grow {
  display: table-cell;
  width: 99999px;
  line-height: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
}

.push-1-5, .push-0, .push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12 {
  position: relative;
}

.pull-1-5, .pull-0, .pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12 {
  position: relative;
}

.nowrap {
  white-space: nowrap;
}

.nowrap > * {
  white-space: normal;
}

.wrap {
  white-space: normal;
}

.gr-centered {
  display: block !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  clear: both !important;
}

@media screen and (max-width: 620px) {
  .container\@mobile:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media screen and (max-width: 620px) {
  .row\@mobile, .row-reverse\@mobile {
    height: inherit;
    min-height: inherit;
    max-height: inherit;
  }
  .row\@mobile:before, .row-reverse\@mobile:before, .row\@mobile:after, .row-reverse\@mobile:after {
    content: "";
    display: table;
  }
  .row\@mobile:after, .row-reverse\@mobile:after {
    clear: both;
  }
  .row\@mobile, .row-reverse\@mobile {
    zoom: 1;
  }
}

@media screen and (max-width: 620px) {
  .gr-1-5\@mobile, .gr-0\@mobile, .gr-1\@mobile, .gr-2\@mobile, .gr-3\@mobile, .gr-4\@mobile, .gr-5\@mobile, .gr-6\@mobile, .gr-7\@mobile, .gr-8\@mobile, .gr-9\@mobile, .gr-10\@mobile, .gr-11\@mobile, .gr-12\@mobile {
    display: inline-block;
    height: inherit;
    min-height: inherit;
    max-height: inherit;
    line-height: 1;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 620px) {
  .gr-adapt\@mobile {
    display: table-cell;
    width: 1px;
    white-space: nowrap !important;
    line-height: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 620px) {
  .gr-grow\@mobile {
    display: table-cell;
    width: 99999px;
    line-height: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 620px) {
  .push-1-5\@mobile, .push-0\@mobile, .push-1\@mobile, .push-2\@mobile, .push-3\@mobile, .push-4\@mobile, .push-5\@mobile, .push-6\@mobile, .push-7\@mobile, .push-8\@mobile, .push-9\@mobile, .push-10\@mobile, .push-11\@mobile, .push-12\@mobile {
    position: relative;
  }
}

@media screen and (max-width: 620px) {
  .pull-1-5\@mobile, .pull-0\@mobile, .pull-1\@mobile, .pull-2\@mobile, .pull-3\@mobile, .pull-4\@mobile, .pull-5\@mobile, .pull-6\@mobile, .pull-7\@mobile, .pull-8\@mobile, .pull-9\@mobile, .pull-10\@mobile, .pull-11\@mobile, .pull-12\@mobile {
    position: relative;
  }
}

@media screen and (max-width: 620px) {
  .nowrap\@mobile {
    white-space: nowrap;
  }
  .nowrap\@mobile > * {
    white-space: normal;
  }
}

@media screen and (max-width: 620px) {
  .wrap\@mobile {
    white-space: normal;
  }
}

@media screen and (max-width: 620px) {
  .gr-centered\@mobile {
    display: block !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both !important;
  }
}

@media screen and (min-width: 621px) and (max-width: 1023px) {
  .container\@tablet:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media screen and (min-width: 621px) and (max-width: 1023px) {
  .row\@tablet, .row-reverse\@tablet {
    height: inherit;
    min-height: inherit;
    max-height: inherit;
  }
  .row\@tablet:before, .row-reverse\@tablet:before, .row\@tablet:after, .row-reverse\@tablet:after {
    content: "";
    display: table;
  }
  .row\@tablet:after, .row-reverse\@tablet:after {
    clear: both;
  }
  .row\@tablet, .row-reverse\@tablet {
    zoom: 1;
  }
}

@media screen and (min-width: 621px) and (max-width: 1023px) {
  .gr-1-5\@tablet, .gr-0\@tablet, .gr-1\@tablet, .gr-2\@tablet, .gr-3\@tablet, .gr-4\@tablet, .gr-5\@tablet, .gr-6\@tablet, .gr-7\@tablet, .gr-8\@tablet, .gr-9\@tablet, .gr-10\@tablet, .gr-11\@tablet, .gr-12\@tablet {
    display: inline-block;
    height: inherit;
    min-height: inherit;
    max-height: inherit;
    line-height: 1;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (min-width: 621px) and (max-width: 1023px) {
  .gr-adapt\@tablet {
    display: table-cell;
    width: 1px;
    white-space: nowrap !important;
    line-height: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (min-width: 621px) and (max-width: 1023px) {
  .gr-grow\@tablet {
    display: table-cell;
    width: 99999px;
    line-height: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (min-width: 621px) and (max-width: 1023px) {
  .push-1-5\@tablet, .push-0\@tablet, .push-1\@tablet, .push-2\@tablet, .push-3\@tablet, .push-4\@tablet, .push-5\@tablet, .push-6\@tablet, .push-7\@tablet, .push-8\@tablet, .push-9\@tablet, .push-10\@tablet, .push-11\@tablet, .push-12\@tablet {
    position: relative;
  }
}

@media screen and (min-width: 621px) and (max-width: 1023px) {
  .pull-1-5\@tablet, .pull-0\@tablet, .pull-1\@tablet, .pull-2\@tablet, .pull-3\@tablet, .pull-4\@tablet, .pull-5\@tablet, .pull-6\@tablet, .pull-7\@tablet, .pull-8\@tablet, .pull-9\@tablet, .pull-10\@tablet, .pull-11\@tablet, .pull-12\@tablet {
    position: relative;
  }
}

@media screen and (min-width: 621px) and (max-width: 1023px) {
  .nowrap\@tablet {
    white-space: nowrap;
  }
  .nowrap\@tablet > * {
    white-space: normal;
  }
}

@media screen and (min-width: 621px) and (max-width: 1023px) {
  .wrap\@tablet {
    white-space: normal;
  }
}

@media screen and (min-width: 621px) and (max-width: 1023px) {
  .gr-centered\@tablet {
    display: block !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both !important;
  }
}

@media screen and (max-width: 1023px) {
  .container\@moblet:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media screen and (max-width: 1023px) {
  .row\@moblet, .row-reverse\@moblet {
    height: inherit;
    min-height: inherit;
    max-height: inherit;
  }
  .row\@moblet:before, .row-reverse\@moblet:before, .row\@moblet:after, .row-reverse\@moblet:after {
    content: "";
    display: table;
  }
  .row\@moblet:after, .row-reverse\@moblet:after {
    clear: both;
  }
  .row\@moblet, .row-reverse\@moblet {
    zoom: 1;
  }
}

@media screen and (max-width: 1023px) {
  .gr-1-5\@moblet, .gr-0\@moblet, .gr-1\@moblet, .gr-2\@moblet, .gr-3\@moblet, .gr-4\@moblet, .gr-5\@moblet, .gr-6\@moblet, .gr-7\@moblet, .gr-8\@moblet, .gr-9\@moblet, .gr-10\@moblet, .gr-11\@moblet, .gr-12\@moblet {
    display: inline-block;
    height: inherit;
    min-height: inherit;
    max-height: inherit;
    line-height: 1;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 1023px) {
  .gr-adapt\@moblet {
    display: table-cell;
    width: 1px;
    white-space: nowrap !important;
    line-height: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 1023px) {
  .gr-grow\@moblet {
    display: table-cell;
    width: 99999px;
    line-height: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 1023px) {
  .push-1-5\@moblet, .push-0\@moblet, .push-1\@moblet, .push-2\@moblet, .push-3\@moblet, .push-4\@moblet, .push-5\@moblet, .push-6\@moblet, .push-7\@moblet, .push-8\@moblet, .push-9\@moblet, .push-10\@moblet, .push-11\@moblet, .push-12\@moblet {
    position: relative;
  }
}

@media screen and (max-width: 1023px) {
  .pull-1-5\@moblet, .pull-0\@moblet, .pull-1\@moblet, .pull-2\@moblet, .pull-3\@moblet, .pull-4\@moblet, .pull-5\@moblet, .pull-6\@moblet, .pull-7\@moblet, .pull-8\@moblet, .pull-9\@moblet, .pull-10\@moblet, .pull-11\@moblet, .pull-12\@moblet {
    position: relative;
  }
}

@media screen and (max-width: 1023px) {
  .nowrap\@moblet {
    white-space: nowrap;
  }
  .nowrap\@moblet > * {
    white-space: normal;
  }
}

@media screen and (max-width: 1023px) {
  .wrap\@moblet {
    white-space: normal;
  }
}

@media screen and (max-width: 1023px) {
  .gr-centered\@moblet {
    display: block !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both !important;
  }
}

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: device-width;
  }
}

.gr-1-5 {
  width: 20%;
}

.push-1-5 {
  left: 20%;
  right: auto;
}

.pull-1-5 {
  right: 20%;
  left: auto;
}

.prefix-1-5 {
  margin-left: 20%;
}

.suffix-1-5 {
  margin-right: 20%;
}

.gr-0 {
  width: 0%;
}

.push-0 {
  left: 0%;
  right: auto;
}

.pull-0 {
  right: 0%;
  left: auto;
}

.prefix-0 {
  margin-left: 0%;
}

.suffix-0 {
  margin-right: 0%;
}

.gr-1 {
  width: 8.33333333%;
}

.push-1 {
  left: 8.33333333%;
  right: auto;
}

.pull-1 {
  right: 8.33333333%;
  left: auto;
}

.prefix-1 {
  margin-left: 8.33333333%;
}

.suffix-1 {
  margin-right: 8.33333333%;
}

.gr-2 {
  width: 16.66666667%;
}

.push-2 {
  left: 16.66666667%;
  right: auto;
}

.pull-2 {
  right: 16.66666667%;
  left: auto;
}

.prefix-2 {
  margin-left: 16.66666667%;
}

.suffix-2 {
  margin-right: 16.66666667%;
}

.gr-3 {
  width: 25%;
}

.push-3 {
  left: 25%;
  right: auto;
}

.pull-3 {
  right: 25%;
  left: auto;
}

.prefix-3 {
  margin-left: 25%;
}

.suffix-3 {
  margin-right: 25%;
}

.gr-4 {
  width: 33.33333333%;
}

.push-4 {
  left: 33.33333333%;
  right: auto;
}

.pull-4 {
  right: 33.33333333%;
  left: auto;
}

.prefix-4 {
  margin-left: 33.33333333%;
}

.suffix-4 {
  margin-right: 33.33333333%;
}

.gr-5 {
  width: 41.66666667%;
}

.push-5 {
  left: 41.66666667%;
  right: auto;
}

.pull-5 {
  right: 41.66666667%;
  left: auto;
}

.prefix-5 {
  margin-left: 41.66666667%;
}

.suffix-5 {
  margin-right: 41.66666667%;
}

.gr-6 {
  width: 50%;
}

.push-6 {
  left: 50%;
  right: auto;
}

.pull-6 {
  right: 50%;
  left: auto;
}

.prefix-6 {
  margin-left: 50%;
}

.suffix-6 {
  margin-right: 50%;
}

.gr-7 {
  width: 58.33333333%;
}

.push-7 {
  left: 58.33333333%;
  right: auto;
}

.pull-7 {
  right: 58.33333333%;
  left: auto;
}

.prefix-7 {
  margin-left: 58.33333333%;
}

.suffix-7 {
  margin-right: 58.33333333%;
}

.gr-8 {
  width: 66.66666667%;
}

.push-8 {
  left: 66.66666667%;
  right: auto;
}

.pull-8 {
  right: 66.66666667%;
  left: auto;
}

.prefix-8 {
  margin-left: 66.66666667%;
}

.suffix-8 {
  margin-right: 66.66666667%;
}

.gr-9 {
  width: 75%;
}

.push-9 {
  left: 75%;
  right: auto;
}

.pull-9 {
  right: 75%;
  left: auto;
}

.prefix-9 {
  margin-left: 75%;
}

.suffix-9 {
  margin-right: 75%;
}

.gr-10 {
  width: 83.33333333%;
}

.push-10 {
  left: 83.33333333%;
  right: auto;
}

.pull-10 {
  right: 83.33333333%;
  left: auto;
}

.prefix-10 {
  margin-left: 83.33333333%;
}

.suffix-10 {
  margin-right: 83.33333333%;
}

.gr-11 {
  width: 91.66666667%;
}

.push-11 {
  left: 91.66666667%;
  right: auto;
}

.pull-11 {
  right: 91.66666667%;
  left: auto;
}

.prefix-11 {
  margin-left: 91.66666667%;
}

.suffix-11 {
  margin-right: 91.66666667%;
}

.gr-12 {
  width: 100%;
}

.push-12 {
  left: 100%;
  right: auto;
}

.pull-12 {
  right: 100%;
  left: auto;
}

.prefix-12 {
  margin-left: 100%;
}

.suffix-12 {
  margin-right: 100%;
}

.row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px;
}

[class*="no-gutter"] > .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row-reverse {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px;
  transform: rotateY(180deg);
}

.row-reverse > [class*="gr-"] {
  transform: rotateY(-180deg);
}

[class*="no-gutter"] > .row-reverse {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row-full {
  width: 100vw;
  margin-left: 50% !important;
  margin-right: 0 !important;
  -webkit-transform: translateX(-50%);
  -moz-transition: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.col {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px;
}

.col-reverse {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px;
  transform: rotateX(180deg);
}

.col-reverse > [class*="gr-"] {
  transform: rotateX(-180deg);
}

.gr-table {
  display: table-cell;
  float: none;
  vertical-align: top;
}

.row-no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row-no-gutter > [class*="gr-"] {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.row-no-gutter-top {
  margin-left: 0;
  margin-right: 0;
}

.row-no-gutter-top > [class*="gr-"] {
  padding-top: 0;
}

.row-no-gutter-right {
  margin-left: 0;
  margin-right: 0;
}

.row-no-gutter-right > [class*="gr-"] {
  padding-right: 0;
}

.row-no-gutter-bottom {
  margin-left: 0;
  margin-right: 0;
}

.row-no-gutter-bottom > [class*="gr-"] {
  padding-bottom: 0;
}

.row-no-gutter-left {
  margin-left: 0;
  margin-right: 0;
}

.row-no-gutter-left > [class*="gr-"] {
  padding-left: 0;
}

.row-align-left {
  font-size: 0;
  word-spacing: 0;
  letter-spacing: 0;
  clear: both;
  text-align: left;
}

.row-align-left > * {
  word-spacing: normal;
  letter-spacing: normal;
  float: none !important;
  vertical-align: top;
  font-size: 1rem;
}

.row-align-center {
  font-size: 0;
  word-spacing: 0;
  letter-spacing: 0;
  clear: both;
  text-align: center;
}

.row-align-center > * {
  word-spacing: normal;
  letter-spacing: normal;
  float: none !important;
  vertical-align: top;
  font-size: 1rem;
}

.row-align-center > * {
  text-align: left;
}

.row-align-right {
  font-size: 0;
  word-spacing: 0;
  letter-spacing: 0;
  clear: both;
  text-align: right;
}

.row-align-right > * {
  word-spacing: normal;
  letter-spacing: normal;
  float: none !important;
  vertical-align: top;
  font-size: 1rem;
}

.row-align-right > * {
  text-align: left;
}

.row-align-middle {
  font-size: 0;
  word-spacing: 0;
  letter-spacing: 0;
  clear: both;
  vertical-align: middle;
}

.row-align-middle > * {
  word-spacing: normal;
  letter-spacing: normal;
  float: none !important;
  vertical-align: middle;
  font-size: 1rem;
}

.row-align-top {
  font-size: 0;
  word-spacing: 0;
  letter-spacing: 0;
  clear: both;
  vertical-align: top;
}

.row-align-top > * {
  word-spacing: normal;
  letter-spacing: normal;
  float: none !important;
  vertical-align: top;
  font-size: 1rem;
}

.row-align-bottom {
  font-size: 0;
  word-spacing: 0;
  letter-spacing: 0;
  clear: both;
  vertical-align: bottom;
}

.row-align-bottom > * {
  word-spacing: normal;
  letter-spacing: normal;
  float: none !important;
  vertical-align: bottom;
  font-size: 1rem;
}

body {
  direction: ltr;
}

[class*="gr-"] > [class^="row"],
[class*="gr-"] > [class^="col"] {
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (max-width: 620px) {
  [class*="gr-"] > [class^="row"],
  [class*="gr-"] > [class^="col"] {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media screen and (min-width: 621px) and (max-width: 1023px) {
  [class*="gr-"] > [class^="row"],
  [class*="gr-"] > [class^="col"] {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media screen and (max-width: 1023px) {
  [class*="gr-"] > [class^="row"],
  [class*="gr-"] > [class^="col"] {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media screen and (max-width: 620px) {
  [class*="gr-"] {
    width: 100%;
  }
  .gr-grow {
    width: 9999999px;
  }
  .gr-adapt {
    width: 1px;
  }
}

@media screen and (max-width: 1023px) {
  .gr-1-5\@moblet {
    width: 20%;
  }
  .push-1-5\@moblet {
    left: 20%;
    right: auto;
  }
  .pull-1-5\@moblet {
    right: 20%;
    left: auto;
  }
  .prefix-1-5\@moblet {
    margin-left: 20%;
  }
  .suffix-1-5\@moblet {
    margin-right: 20%;
  }
  .gr-0\@moblet {
    width: 0%;
  }
  .push-0\@moblet {
    left: 0%;
    right: auto;
  }
  .pull-0\@moblet {
    right: 0%;
    left: auto;
  }
  .prefix-0\@moblet {
    margin-left: 0%;
  }
  .suffix-0\@moblet {
    margin-right: 0%;
  }
  .gr-1\@moblet {
    width: 8.33333333%;
  }
  .push-1\@moblet {
    left: 8.33333333%;
    right: auto;
  }
  .pull-1\@moblet {
    right: 8.33333333%;
    left: auto;
  }
  .prefix-1\@moblet {
    margin-left: 8.33333333%;
  }
  .suffix-1\@moblet {
    margin-right: 8.33333333%;
  }
  .gr-2\@moblet {
    width: 16.66666667%;
  }
  .push-2\@moblet {
    left: 16.66666667%;
    right: auto;
  }
  .pull-2\@moblet {
    right: 16.66666667%;
    left: auto;
  }
  .prefix-2\@moblet {
    margin-left: 16.66666667%;
  }
  .suffix-2\@moblet {
    margin-right: 16.66666667%;
  }
  .gr-3\@moblet {
    width: 25%;
  }
  .push-3\@moblet {
    left: 25%;
    right: auto;
  }
  .pull-3\@moblet {
    right: 25%;
    left: auto;
  }
  .prefix-3\@moblet {
    margin-left: 25%;
  }
  .suffix-3\@moblet {
    margin-right: 25%;
  }
  .gr-4\@moblet {
    width: 33.33333333%;
  }
  .push-4\@moblet {
    left: 33.33333333%;
    right: auto;
  }
  .pull-4\@moblet {
    right: 33.33333333%;
    left: auto;
  }
  .prefix-4\@moblet {
    margin-left: 33.33333333%;
  }
  .suffix-4\@moblet {
    margin-right: 33.33333333%;
  }
  .gr-5\@moblet {
    width: 41.66666667%;
  }
  .push-5\@moblet {
    left: 41.66666667%;
    right: auto;
  }
  .pull-5\@moblet {
    right: 41.66666667%;
    left: auto;
  }
  .prefix-5\@moblet {
    margin-left: 41.66666667%;
  }
  .suffix-5\@moblet {
    margin-right: 41.66666667%;
  }
  .gr-6\@moblet {
    width: 50%;
  }
  .push-6\@moblet {
    left: 50%;
    right: auto;
  }
  .pull-6\@moblet {
    right: 50%;
    left: auto;
  }
  .prefix-6\@moblet {
    margin-left: 50%;
  }
  .suffix-6\@moblet {
    margin-right: 50%;
  }
  .gr-7\@moblet {
    width: 58.33333333%;
  }
  .push-7\@moblet {
    left: 58.33333333%;
    right: auto;
  }
  .pull-7\@moblet {
    right: 58.33333333%;
    left: auto;
  }
  .prefix-7\@moblet {
    margin-left: 58.33333333%;
  }
  .suffix-7\@moblet {
    margin-right: 58.33333333%;
  }
  .gr-8\@moblet {
    width: 66.66666667%;
  }
  .push-8\@moblet {
    left: 66.66666667%;
    right: auto;
  }
  .pull-8\@moblet {
    right: 66.66666667%;
    left: auto;
  }
  .prefix-8\@moblet {
    margin-left: 66.66666667%;
  }
  .suffix-8\@moblet {
    margin-right: 66.66666667%;
  }
  .gr-9\@moblet {
    width: 75%;
  }
  .push-9\@moblet {
    left: 75%;
    right: auto;
  }
  .pull-9\@moblet {
    right: 75%;
    left: auto;
  }
  .prefix-9\@moblet {
    margin-left: 75%;
  }
  .suffix-9\@moblet {
    margin-right: 75%;
  }
  .gr-10\@moblet {
    width: 83.33333333%;
  }
  .push-10\@moblet {
    left: 83.33333333%;
    right: auto;
  }
  .pull-10\@moblet {
    right: 83.33333333%;
    left: auto;
  }
  .prefix-10\@moblet {
    margin-left: 83.33333333%;
  }
  .suffix-10\@moblet {
    margin-right: 83.33333333%;
  }
  .gr-11\@moblet {
    width: 91.66666667%;
  }
  .push-11\@moblet {
    left: 91.66666667%;
    right: auto;
  }
  .pull-11\@moblet {
    right: 91.66666667%;
    left: auto;
  }
  .prefix-11\@moblet {
    margin-left: 91.66666667%;
  }
  .suffix-11\@moblet {
    margin-right: 91.66666667%;
  }
  .gr-12\@moblet {
    width: 100%;
  }
  .push-12\@moblet {
    left: 100%;
    right: auto;
  }
  .pull-12\@moblet {
    right: 100%;
    left: auto;
  }
  .prefix-12\@moblet {
    margin-left: 100%;
  }
  .suffix-12\@moblet {
    margin-right: 100%;
  }
  .row\@moblet {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px;
  }
  [class*="no-gutter"] > .row\@moblet {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .row-reverse\@moblet {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px;
    transform: rotateY(180deg);
  }
  .row-reverse\@moblet > [class*="gr-"] {
    transform: rotateY(-180deg);
  }
  [class*="no-gutter"] > .row-reverse\@moblet {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .row-full\@moblet {
    width: 100vw;
    margin-left: 50% !important;
    margin-right: 0 !important;
    -webkit-transform: translateX(-50%);
    -moz-transition: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .col\@moblet {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px;
  }
  .col-reverse\@moblet {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px;
    transform: rotateX(180deg);
  }
  .col-reverse\@moblet > [class*="gr-"] {
    transform: rotateX(-180deg);
  }
  .gr-table\@moblet {
    display: table-cell;
    float: none;
    vertical-align: top;
  }
  .row-no-gutter\@moblet {
    margin-left: 0;
    margin-right: 0;
  }
  .row-no-gutter\@moblet > [class*="gr-"] {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  .row-no-gutter-top\@moblet {
    margin-left: 0;
    margin-right: 0;
  }
  .row-no-gutter-top\@moblet > [class*="gr-"] {
    padding-top: 0;
  }
  .row-no-gutter-right\@moblet {
    margin-left: 0;
    margin-right: 0;
  }
  .row-no-gutter-right\@moblet > [class*="gr-"] {
    padding-right: 0;
  }
  .row-no-gutter-bottom\@moblet {
    margin-left: 0;
    margin-right: 0;
  }
  .row-no-gutter-bottom\@moblet > [class*="gr-"] {
    padding-bottom: 0;
  }
  .row-no-gutter-left\@moblet {
    margin-left: 0;
    margin-right: 0;
  }
  .row-no-gutter-left\@moblet > [class*="gr-"] {
    padding-left: 0;
  }
  .row-align-left\@moblet {
    font-size: 0;
    word-spacing: 0;
    letter-spacing: 0;
    clear: both;
    text-align: left;
  }
  .row-align-left\@moblet > * {
    word-spacing: normal;
    letter-spacing: normal;
    float: none !important;
    vertical-align: top;
    font-size: 1rem;
  }
  .row-align-center\@moblet {
    font-size: 0;
    word-spacing: 0;
    letter-spacing: 0;
    clear: both;
    text-align: center;
  }
  .row-align-center\@moblet > * {
    word-spacing: normal;
    letter-spacing: normal;
    float: none !important;
    vertical-align: top;
    font-size: 1rem;
  }
  .row-align-center\@moblet > * {
    text-align: left;
  }
  .row-align-right\@moblet {
    font-size: 0;
    word-spacing: 0;
    letter-spacing: 0;
    clear: both;
    text-align: right;
  }
  .row-align-right\@moblet > * {
    word-spacing: normal;
    letter-spacing: normal;
    float: none !important;
    vertical-align: top;
    font-size: 1rem;
  }
  .row-align-right\@moblet > * {
    text-align: left;
  }
  .row-align-middle\@moblet {
    font-size: 0;
    word-spacing: 0;
    letter-spacing: 0;
    clear: both;
    vertical-align: middle;
  }
  .row-align-middle\@moblet > * {
    word-spacing: normal;
    letter-spacing: normal;
    float: none !important;
    vertical-align: middle;
    font-size: 1rem;
  }
  .row-align-top\@moblet {
    font-size: 0;
    word-spacing: 0;
    letter-spacing: 0;
    clear: both;
    vertical-align: top;
  }
  .row-align-top\@moblet > * {
    word-spacing: normal;
    letter-spacing: normal;
    float: none !important;
    vertical-align: top;
    font-size: 1rem;
  }
  .row-align-bottom\@moblet {
    font-size: 0;
    word-spacing: 0;
    letter-spacing: 0;
    clear: both;
    vertical-align: bottom;
  }
  .row-align-bottom\@moblet > * {
    word-spacing: normal;
    letter-spacing: normal;
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem;
  }
  body {
    direction: ltr;
  }
}

[class*="gr-"] > [class^="row"],
[class*="gr-"] > [class^="col"] {
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (max-width: 620px) {
  [class*="gr-"] > [class^="row"],
  [class*="gr-"] > [class^="col"] {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media screen and (min-width: 621px) and (max-width: 1023px) {
  [class*="gr-"] > [class^="row"],
  [class*="gr-"] > [class^="col"] {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media screen and (max-width: 1023px) {
  [class*="gr-"] > [class^="row"],
  [class*="gr-"] > [class^="col"] {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media screen and (max-width: 620px) {
  .gr-1-5\@mobile {
    width: 20%;
  }
  .push-1-5\@mobile {
    left: 20%;
    right: auto;
  }
  .pull-1-5\@mobile {
    right: 20%;
    left: auto;
  }
  .prefix-1-5\@mobile {
    margin-left: 20%;
  }
  .suffix-1-5\@mobile {
    margin-right: 20%;
  }
  .gr-0\@mobile {
    width: 0%;
  }
  .push-0\@mobile {
    left: 0%;
    right: auto;
  }
  .pull-0\@mobile {
    right: 0%;
    left: auto;
  }
  .prefix-0\@mobile {
    margin-left: 0%;
  }
  .suffix-0\@mobile {
    margin-right: 0%;
  }
  .gr-1\@mobile {
    width: 8.33333333%;
  }
  .push-1\@mobile {
    left: 8.33333333%;
    right: auto;
  }
  .pull-1\@mobile {
    right: 8.33333333%;
    left: auto;
  }
  .prefix-1\@mobile {
    margin-left: 8.33333333%;
  }
  .suffix-1\@mobile {
    margin-right: 8.33333333%;
  }
  .gr-2\@mobile {
    width: 16.66666667%;
  }
  .push-2\@mobile {
    left: 16.66666667%;
    right: auto;
  }
  .pull-2\@mobile {
    right: 16.66666667%;
    left: auto;
  }
  .prefix-2\@mobile {
    margin-left: 16.66666667%;
  }
  .suffix-2\@mobile {
    margin-right: 16.66666667%;
  }
  .gr-3\@mobile {
    width: 25%;
  }
  .push-3\@mobile {
    left: 25%;
    right: auto;
  }
  .pull-3\@mobile {
    right: 25%;
    left: auto;
  }
  .prefix-3\@mobile {
    margin-left: 25%;
  }
  .suffix-3\@mobile {
    margin-right: 25%;
  }
  .gr-4\@mobile {
    width: 33.33333333%;
  }
  .push-4\@mobile {
    left: 33.33333333%;
    right: auto;
  }
  .pull-4\@mobile {
    right: 33.33333333%;
    left: auto;
  }
  .prefix-4\@mobile {
    margin-left: 33.33333333%;
  }
  .suffix-4\@mobile {
    margin-right: 33.33333333%;
  }
  .gr-5\@mobile {
    width: 41.66666667%;
  }
  .push-5\@mobile {
    left: 41.66666667%;
    right: auto;
  }
  .pull-5\@mobile {
    right: 41.66666667%;
    left: auto;
  }
  .prefix-5\@mobile {
    margin-left: 41.66666667%;
  }
  .suffix-5\@mobile {
    margin-right: 41.66666667%;
  }
  .gr-6\@mobile {
    width: 50%;
  }
  .push-6\@mobile {
    left: 50%;
    right: auto;
  }
  .pull-6\@mobile {
    right: 50%;
    left: auto;
  }
  .prefix-6\@mobile {
    margin-left: 50%;
  }
  .suffix-6\@mobile {
    margin-right: 50%;
  }
  .gr-7\@mobile {
    width: 58.33333333%;
  }
  .push-7\@mobile {
    left: 58.33333333%;
    right: auto;
  }
  .pull-7\@mobile {
    right: 58.33333333%;
    left: auto;
  }
  .prefix-7\@mobile {
    margin-left: 58.33333333%;
  }
  .suffix-7\@mobile {
    margin-right: 58.33333333%;
  }
  .gr-8\@mobile {
    width: 66.66666667%;
  }
  .push-8\@mobile {
    left: 66.66666667%;
    right: auto;
  }
  .pull-8\@mobile {
    right: 66.66666667%;
    left: auto;
  }
  .prefix-8\@mobile {
    margin-left: 66.66666667%;
  }
  .suffix-8\@mobile {
    margin-right: 66.66666667%;
  }
  .gr-9\@mobile {
    width: 75%;
  }
  .push-9\@mobile {
    left: 75%;
    right: auto;
  }
  .pull-9\@mobile {
    right: 75%;
    left: auto;
  }
  .prefix-9\@mobile {
    margin-left: 75%;
  }
  .suffix-9\@mobile {
    margin-right: 75%;
  }
  .gr-10\@mobile {
    width: 83.33333333%;
  }
  .push-10\@mobile {
    left: 83.33333333%;
    right: auto;
  }
  .pull-10\@mobile {
    right: 83.33333333%;
    left: auto;
  }
  .prefix-10\@mobile {
    margin-left: 83.33333333%;
  }
  .suffix-10\@mobile {
    margin-right: 83.33333333%;
  }
  .gr-11\@mobile {
    width: 91.66666667%;
  }
  .push-11\@mobile {
    left: 91.66666667%;
    right: auto;
  }
  .pull-11\@mobile {
    right: 91.66666667%;
    left: auto;
  }
  .prefix-11\@mobile {
    margin-left: 91.66666667%;
  }
  .suffix-11\@mobile {
    margin-right: 91.66666667%;
  }
  .gr-12\@mobile {
    width: 100%;
  }
  .push-12\@mobile {
    left: 100%;
    right: auto;
  }
  .pull-12\@mobile {
    right: 100%;
    left: auto;
  }
  .prefix-12\@mobile {
    margin-left: 100%;
  }
  .suffix-12\@mobile {
    margin-right: 100%;
  }
  .row\@mobile {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px;
  }
  [class*="no-gutter"] > .row\@mobile {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .row-reverse\@mobile {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px;
    transform: rotateY(180deg);
  }
  .row-reverse\@mobile > [class*="gr-"] {
    transform: rotateY(-180deg);
  }
  [class*="no-gutter"] > .row-reverse\@mobile {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .row-full\@mobile {
    width: 100vw;
    margin-left: 50% !important;
    margin-right: 0 !important;
    -webkit-transform: translateX(-50%);
    -moz-transition: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .col\@mobile {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px;
  }
  .col-reverse\@mobile {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px;
    transform: rotateX(180deg);
  }
  .col-reverse\@mobile > [class*="gr-"] {
    transform: rotateX(-180deg);
  }
  .gr-table\@mobile {
    display: table-cell;
    float: none;
    vertical-align: top;
  }
  .row-no-gutter\@mobile {
    margin-left: 0;
    margin-right: 0;
  }
  .row-no-gutter\@mobile > [class*="gr-"] {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  .row-no-gutter-top\@mobile {
    margin-left: 0;
    margin-right: 0;
  }
  .row-no-gutter-top\@mobile > [class*="gr-"] {
    padding-top: 0;
  }
  .row-no-gutter-right\@mobile {
    margin-left: 0;
    margin-right: 0;
  }
  .row-no-gutter-right\@mobile > [class*="gr-"] {
    padding-right: 0;
  }
  .row-no-gutter-bottom\@mobile {
    margin-left: 0;
    margin-right: 0;
  }
  .row-no-gutter-bottom\@mobile > [class*="gr-"] {
    padding-bottom: 0;
  }
  .row-no-gutter-left\@mobile {
    margin-left: 0;
    margin-right: 0;
  }
  .row-no-gutter-left\@mobile > [class*="gr-"] {
    padding-left: 0;
  }
  .row-align-left\@mobile {
    font-size: 0;
    word-spacing: 0;
    letter-spacing: 0;
    clear: both;
    text-align: left;
  }
  .row-align-left\@mobile > * {
    word-spacing: normal;
    letter-spacing: normal;
    float: none !important;
    vertical-align: top;
    font-size: 1rem;
  }
  .row-align-center\@mobile {
    font-size: 0;
    word-spacing: 0;
    letter-spacing: 0;
    clear: both;
    text-align: center;
  }
  .row-align-center\@mobile > * {
    word-spacing: normal;
    letter-spacing: normal;
    float: none !important;
    vertical-align: top;
    font-size: 1rem;
  }
  .row-align-center\@mobile > * {
    text-align: left;
  }
  .row-align-right\@mobile {
    font-size: 0;
    word-spacing: 0;
    letter-spacing: 0;
    clear: both;
    text-align: right;
  }
  .row-align-right\@mobile > * {
    word-spacing: normal;
    letter-spacing: normal;
    float: none !important;
    vertical-align: top;
    font-size: 1rem;
  }
  .row-align-right\@mobile > * {
    text-align: left;
  }
  .row-align-middle\@mobile {
    font-size: 0;
    word-spacing: 0;
    letter-spacing: 0;
    clear: both;
    vertical-align: middle;
  }
  .row-align-middle\@mobile > * {
    word-spacing: normal;
    letter-spacing: normal;
    float: none !important;
    vertical-align: middle;
    font-size: 1rem;
  }
  .row-align-top\@mobile {
    font-size: 0;
    word-spacing: 0;
    letter-spacing: 0;
    clear: both;
    vertical-align: top;
  }
  .row-align-top\@mobile > * {
    word-spacing: normal;
    letter-spacing: normal;
    float: none !important;
    vertical-align: top;
    font-size: 1rem;
  }
  .row-align-bottom\@mobile {
    font-size: 0;
    word-spacing: 0;
    letter-spacing: 0;
    clear: both;
    vertical-align: bottom;
  }
  .row-align-bottom\@mobile > * {
    word-spacing: normal;
    letter-spacing: normal;
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem;
  }
  body {
    direction: ltr;
  }
}

[class*="gr-"] > [class^="row"],
[class*="gr-"] > [class^="col"] {
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (max-width: 620px) {
  [class*="gr-"] > [class^="row"],
  [class*="gr-"] > [class^="col"] {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media screen and (min-width: 621px) and (max-width: 1023px) {
  [class*="gr-"] > [class^="row"],
  [class*="gr-"] > [class^="col"] {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media screen and (max-width: 1023px) {
  [class*="gr-"] > [class^="row"],
  [class*="gr-"] > [class^="col"] {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media screen and (min-width: 621px) and (max-width: 1023px) {
  .gr-1-5\@tablet {
    width: 20%;
  }
  .push-1-5\@tablet {
    left: 20%;
    right: auto;
  }
  .pull-1-5\@tablet {
    right: 20%;
    left: auto;
  }
  .prefix-1-5\@tablet {
    margin-left: 20%;
  }
  .suffix-1-5\@tablet {
    margin-right: 20%;
  }
  .gr-0\@tablet {
    width: 0%;
  }
  .push-0\@tablet {
    left: 0%;
    right: auto;
  }
  .pull-0\@tablet {
    right: 0%;
    left: auto;
  }
  .prefix-0\@tablet {
    margin-left: 0%;
  }
  .suffix-0\@tablet {
    margin-right: 0%;
  }
  .gr-1\@tablet {
    width: 8.33333333%;
  }
  .push-1\@tablet {
    left: 8.33333333%;
    right: auto;
  }
  .pull-1\@tablet {
    right: 8.33333333%;
    left: auto;
  }
  .prefix-1\@tablet {
    margin-left: 8.33333333%;
  }
  .suffix-1\@tablet {
    margin-right: 8.33333333%;
  }
  .gr-2\@tablet {
    width: 16.66666667%;
  }
  .push-2\@tablet {
    left: 16.66666667%;
    right: auto;
  }
  .pull-2\@tablet {
    right: 16.66666667%;
    left: auto;
  }
  .prefix-2\@tablet {
    margin-left: 16.66666667%;
  }
  .suffix-2\@tablet {
    margin-right: 16.66666667%;
  }
  .gr-3\@tablet {
    width: 25%;
  }
  .push-3\@tablet {
    left: 25%;
    right: auto;
  }
  .pull-3\@tablet {
    right: 25%;
    left: auto;
  }
  .prefix-3\@tablet {
    margin-left: 25%;
  }
  .suffix-3\@tablet {
    margin-right: 25%;
  }
  .gr-4\@tablet {
    width: 33.33333333%;
  }
  .push-4\@tablet {
    left: 33.33333333%;
    right: auto;
  }
  .pull-4\@tablet {
    right: 33.33333333%;
    left: auto;
  }
  .prefix-4\@tablet {
    margin-left: 33.33333333%;
  }
  .suffix-4\@tablet {
    margin-right: 33.33333333%;
  }
  .gr-5\@tablet {
    width: 41.66666667%;
  }
  .push-5\@tablet {
    left: 41.66666667%;
    right: auto;
  }
  .pull-5\@tablet {
    right: 41.66666667%;
    left: auto;
  }
  .prefix-5\@tablet {
    margin-left: 41.66666667%;
  }
  .suffix-5\@tablet {
    margin-right: 41.66666667%;
  }
  .gr-6\@tablet {
    width: 50%;
  }
  .push-6\@tablet {
    left: 50%;
    right: auto;
  }
  .pull-6\@tablet {
    right: 50%;
    left: auto;
  }
  .prefix-6\@tablet {
    margin-left: 50%;
  }
  .suffix-6\@tablet {
    margin-right: 50%;
  }
  .gr-7\@tablet {
    width: 58.33333333%;
  }
  .push-7\@tablet {
    left: 58.33333333%;
    right: auto;
  }
  .pull-7\@tablet {
    right: 58.33333333%;
    left: auto;
  }
  .prefix-7\@tablet {
    margin-left: 58.33333333%;
  }
  .suffix-7\@tablet {
    margin-right: 58.33333333%;
  }
  .gr-8\@tablet {
    width: 66.66666667%;
  }
  .push-8\@tablet {
    left: 66.66666667%;
    right: auto;
  }
  .pull-8\@tablet {
    right: 66.66666667%;
    left: auto;
  }
  .prefix-8\@tablet {
    margin-left: 66.66666667%;
  }
  .suffix-8\@tablet {
    margin-right: 66.66666667%;
  }
  .gr-9\@tablet {
    width: 75%;
  }
  .push-9\@tablet {
    left: 75%;
    right: auto;
  }
  .pull-9\@tablet {
    right: 75%;
    left: auto;
  }
  .prefix-9\@tablet {
    margin-left: 75%;
  }
  .suffix-9\@tablet {
    margin-right: 75%;
  }
  .gr-10\@tablet {
    width: 83.33333333%;
  }
  .push-10\@tablet {
    left: 83.33333333%;
    right: auto;
  }
  .pull-10\@tablet {
    right: 83.33333333%;
    left: auto;
  }
  .prefix-10\@tablet {
    margin-left: 83.33333333%;
  }
  .suffix-10\@tablet {
    margin-right: 83.33333333%;
  }
  .gr-11\@tablet {
    width: 91.66666667%;
  }
  .push-11\@tablet {
    left: 91.66666667%;
    right: auto;
  }
  .pull-11\@tablet {
    right: 91.66666667%;
    left: auto;
  }
  .prefix-11\@tablet {
    margin-left: 91.66666667%;
  }
  .suffix-11\@tablet {
    margin-right: 91.66666667%;
  }
  .gr-12\@tablet {
    width: 100%;
  }
  .push-12\@tablet {
    left: 100%;
    right: auto;
  }
  .pull-12\@tablet {
    right: 100%;
    left: auto;
  }
  .prefix-12\@tablet {
    margin-left: 100%;
  }
  .suffix-12\@tablet {
    margin-right: 100%;
  }
  .row\@tablet {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px;
  }
  [class*="no-gutter"] > .row\@tablet {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .row-reverse\@tablet {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px;
    transform: rotateY(180deg);
  }
  .row-reverse\@tablet > [class*="gr-"] {
    transform: rotateY(-180deg);
  }
  [class*="no-gutter"] > .row-reverse\@tablet {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .row-full\@tablet {
    width: 100vw;
    margin-left: 50% !important;
    margin-right: 0 !important;
    -webkit-transform: translateX(-50%);
    -moz-transition: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .col\@tablet {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px;
  }
  .col-reverse\@tablet {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px;
    transform: rotateX(180deg);
  }
  .col-reverse\@tablet > [class*="gr-"] {
    transform: rotateX(-180deg);
  }
  .gr-table\@tablet {
    display: table-cell;
    float: none;
    vertical-align: top;
  }
  .row-no-gutter\@tablet {
    margin-left: 0;
    margin-right: 0;
  }
  .row-no-gutter\@tablet > [class*="gr-"] {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  .row-no-gutter-top\@tablet {
    margin-left: 0;
    margin-right: 0;
  }
  .row-no-gutter-top\@tablet > [class*="gr-"] {
    padding-top: 0;
  }
  .row-no-gutter-right\@tablet {
    margin-left: 0;
    margin-right: 0;
  }
  .row-no-gutter-right\@tablet > [class*="gr-"] {
    padding-right: 0;
  }
  .row-no-gutter-bottom\@tablet {
    margin-left: 0;
    margin-right: 0;
  }
  .row-no-gutter-bottom\@tablet > [class*="gr-"] {
    padding-bottom: 0;
  }
  .row-no-gutter-left\@tablet {
    margin-left: 0;
    margin-right: 0;
  }
  .row-no-gutter-left\@tablet > [class*="gr-"] {
    padding-left: 0;
  }
  .row-align-left\@tablet {
    font-size: 0;
    word-spacing: 0;
    letter-spacing: 0;
    clear: both;
    text-align: left;
  }
  .row-align-left\@tablet > * {
    word-spacing: normal;
    letter-spacing: normal;
    float: none !important;
    vertical-align: top;
    font-size: 1rem;
  }
  .row-align-center\@tablet {
    font-size: 0;
    word-spacing: 0;
    letter-spacing: 0;
    clear: both;
    text-align: center;
  }
  .row-align-center\@tablet > * {
    word-spacing: normal;
    letter-spacing: normal;
    float: none !important;
    vertical-align: top;
    font-size: 1rem;
  }
  .row-align-center\@tablet > * {
    text-align: left;
  }
  .row-align-right\@tablet {
    font-size: 0;
    word-spacing: 0;
    letter-spacing: 0;
    clear: both;
    text-align: right;
  }
  .row-align-right\@tablet > * {
    word-spacing: normal;
    letter-spacing: normal;
    float: none !important;
    vertical-align: top;
    font-size: 1rem;
  }
  .row-align-right\@tablet > * {
    text-align: left;
  }
  .row-align-middle\@tablet {
    font-size: 0;
    word-spacing: 0;
    letter-spacing: 0;
    clear: both;
    vertical-align: middle;
  }
  .row-align-middle\@tablet > * {
    word-spacing: normal;
    letter-spacing: normal;
    float: none !important;
    vertical-align: middle;
    font-size: 1rem;
  }
  .row-align-top\@tablet {
    font-size: 0;
    word-spacing: 0;
    letter-spacing: 0;
    clear: both;
    vertical-align: top;
  }
  .row-align-top\@tablet > * {
    word-spacing: normal;
    letter-spacing: normal;
    float: none !important;
    vertical-align: top;
    font-size: 1rem;
  }
  .row-align-bottom\@tablet {
    font-size: 0;
    word-spacing: 0;
    letter-spacing: 0;
    clear: both;
    vertical-align: bottom;
  }
  .row-align-bottom\@tablet > * {
    word-spacing: normal;
    letter-spacing: normal;
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem;
  }
  body {
    direction: ltr;
  }
}

[class*="gr-"] > [class^="row"],
[class*="gr-"] > [class^="col"] {
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (max-width: 620px) {
  [class*="gr-"] > [class^="row"],
  [class*="gr-"] > [class^="col"] {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media screen and (min-width: 621px) and (max-width: 1023px) {
  [class*="gr-"] > [class^="row"],
  [class*="gr-"] > [class^="col"] {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media screen and (max-width: 1023px) {
  [class*="gr-"] > [class^="row"],
  [class*="gr-"] > [class^="col"] {
    margin-left: -10px;
    margin-right: -10px;
  }
}
