@import 'sugar';

@include s-Bem(coco) {
	content: 'coco';
}
@include s-Bem(caca -e coco) {
	content:'caca';
}

.hey {
	@include s-hey($vertical-align : top);
	@include s-filter(blur(20px) box-shadow(black 0 0 20px));
	@include s-background(
		$repeat : no-repeat,
		$width : 200px,
		$height : 400px,
		$url : 'coco.jpg',
		$x2 : true,
		$x3 : true
	);
	@include s-media(
		$orientation : landscape,
		$min-width : 300px,
		$max-width : 500px,
		$resolution : x2 x3,
		$device : mobile tablet,
		$engine : gecko
	) {
		content : 'coco';
	}
	@include s-corner(20px,
		$top : 10px
	);
}

.bubble {
	@include s-bubble(
		$side : right,
		$align : top,
		$border-color : red,
		$border-width : 5px
	);
}