$_sugar-component-name : null;
@mixin s-component(
	$name,
	$context : null
) {
	$previous-component-name : s-component();
	$_sugar-component-name : $name !global;
	@if $context {
		@include s-context($context) {
			@content;
		}
	} @else {
		@content;
	}
	$_sugar-component-name : $previous-component-name !global;
}
