//
// Component definition
//
$_sugar-previous-component : null;
$_sugar-current-component : null;
@mixin s-component-context(
	$name
) {
	// check if the component exist
	$comp : map-get($_sugar-settings, components);
	$comp : map-get($comp, $name);
	@if not $comp {
		@error("You cannot wrap the component #{$name} cause it does not exist in settings...");
	}
	// $_sugar-previous-component : $_sugar-current-component !global;
	$_sugar-current-component : $name !global;
	@content;
	$_sugar-current-component : null !global;
}
