$_sugar-component-name : null;
@mixin s-component-name(
	$name
) {
	$previous-component-name : s-component-name();
	$_sugar-component-name : $name !global;
	@content;
	$_sugar-component-name : $previous-component-name !global;
}
