$_sugar-component-name : null;
@mixin s-component(
	$name : null,
	$context : null
) {
	$is-root : true;
	@if $_sugar-component-name {
		$is-root : false;
	} @else if $name {
		$_sugar-component-name : $name !global;
	}
	
	@if $context {
		@include s-context($context) {
			@content;
		}
	} @else {
		@content;
	}

	@if $is-root {
		$_sugar-component-name : null !global;
	}
}
