/**
 * Helper to print a font-face
 *
 * @param 			{String} 		$font-family 			The font-family
 * @param 			{String} 		$src 					The source url (only 1 extension)
 * @param 			{List} 			[$extensions=woff2] 	The extensions list that you have available
 * @param 			{String} 		[$font-weight=normal] 	The font-weight property
 * @param 			{String} 		[$font-style=normal] 	The font-style property
 *
 * @example
 * // if you have these extensions files : .woff .eot .woff2
 * \@include s-font-face(
 * 		$name : my-cool-font,
 * 		$src : '/fonts/my-font.eot',
 * 		$extensions : eot woff woff2
 * )
 *
 * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@mixin s-font-face(
	$font-family,
	$src,
	$extensions : woff2,
	$font-weight : normal,
	$font-style : normal
) {
	@if $_sugar-test-arguments {
		$font-family : s-test-argument('s-font-face','font-family',string,$font-family);
		// $src : s-test-argument('s-font-face','src',mixed,$src);
		$extensions : s-test-argument('s-font-face','extensions','string|list',$extensions);
		$font-weight : s-test-argument('s-font-face','font-weight',(normal,bold,bolder,lighter,number,initial,inherit),$font-weight);
		$font-style : s-test-argument('s-font-face','font-style',(normal,italic,oblique,initial,inherit),$font-style);
	}

	// get font format from settings
	$font-format : s-setting('typography.font-format');

	// if the src is a string
	// mean that's a url
	$srcs : $src;
	@if type-of($src) == 'string' {
		// process url
		$split : _split($src, '.');
		$e : last-nth($split);
		$split : list-pop($split);
		$path : list-implode($split, '.');

		// add extention in list
		@if index($extensions, $e) == null {
			$extensions : append($extensions, $e);
		}

		// loop on each extensions
		$srcs : ();
		@each $e in $extensions {
			// get the format
			$format : map-get($font-format, $e);
			$srcs : append($srcs, url('#{$path}.#{$e}') format('#{$format}'), comma);
		}
	}

	/**
	 * @name   			#{$font-family}
	 * @styleguide 		Fonts / Faces
	 * @display 		font
	 * @font-family 	#{$font-family}
	 * @font-style 		#{$font-style}
	 * @font-weight 	#{$font-weight}
	 */
	// declare font
	@font-face {
		font-family: "#{$font-family}";
		src : $srcs;
		@if $font-style {
			font-style : $font-style;
		}
		@if $font-weight {
			font-weight : $font-weight;
		}
	}
}
