/**
 * Set the selector method that will be handled inside the mixin
 * [See here](../_selector-methods.scss) for available selector methods
 *
 * @param 			{String} 			[$method=null] 			The selector method to set
 *
 * @example
 * \@include s-selector-method(SMACCS) {
 * 		s-selector-method(BEM) // => SMACCS
 * 		\@include s-selector-method(WEBCOMPONENT) {
 * 			s-selector-method() // => 'SMACCS'
 * 		}
 * }
 *
 * @author 			Olivier Bossel <olivier.bossel@gmail.com>;
 */
$_sugar-selector-method : null;
@mixin s-selector-method(
	$method : null
) {
	$is-root : true;
	@if $_sugar-selector-method {
		$is-root : false;
	} @else if $method {
		$_sugar-selector-method : $method !global;
	}

	@content;

	@if $is-root {
		$_sugar-selector-method : null !global;
	}
}
