@mixin s-transition(
	$transitions...
) {
	// get the transitions
	$trans : s-transition($transitions...);

	// add the outline-color transition to detect the transitionstart in js
	$trans : append($trans, outline-color 0.000001s linear 0s, comma);

	// set transition
	transition: $trans;
	outline-color : black;
}
