%s-tooltip-component-bare {
	position: absolute !important;
	pointer-events:none;
	opacity:0;

	:hover > &,
	.active > & {
		opacity:1;
	}
}

@mixin s-tooltip-classes(
	$colors : default primary secondary,
	$sides : tl t tr l r bl b br c
) {
	@include s-tooltip-classes-bare();
	@include s-tooltip-classes-style(
		$colors : $colors,
		$sides : $sides
	);
}

@mixin s-tooltip-classes-bare(
) {

	@include s-component('tooltip') {
		.#{s-component()} {
			@extend %s-tooltip-component-bare;
			border-radius: s-lnf(border-radius);
			padding: s-lnf(padding-horizontal) s-lnf(padding-vertical);
			line-height: s-lnf(line-height);
			@include s-transition(fast);
		}
	}
}
@mixin s-tooltip-classes-style(
	$colors : default primary secondary,
	$sides : tl t tr l r bl b br c
) {
	@include s-component('tooltip') {
		.#{s-component()} {
			@include s-depth(5);
		}
		@keyframes s-tooltip-component {
			0% {
				transform: scale(0.9,0.9);
			}
			100% {
				transform: scale(1,1);
			}
		}
		@if index($sides, c) {
			@keyframes s-tooltip-component--c {
				0% {
					transform: scale(0.9,0.9) translateX(-50%) translateY(-50%);
				}
				100% {
					transform: scale(1,1) translateX(-50%) translateY(-50%);
				}
			}
		}
		@if index($sides, b) {
			@keyframes s-tooltip-component--b {
				0% {
					transform: scale(0.9,0.9) translateX(-50%);
				}
				100% {
					transform: scale(1,1) translateX(-50%);
				}
			}
		}
		@if index($sides, t) {
			@keyframes s-tooltip-component--t {
				0% {
					transform: scale(0.9,0.9) translateX(-50%);
				}
				100% {
					transform: scale(1,1) translateX(-50%);
				}
			}
		}
		@if index($sides, l) {
			@keyframes s-tooltip-component--l {
				0% {
					transform: scale(0.9,0.9) translateY(-50%);
				}
				100% {
					transform: scale(1,1) translateY(-50%);
				}
			}
		}
		@if index($sides, r) {
			@keyframes s-tooltip-component--r {
				0% {
					transform: scale(0.9,0.9) translateY(-50%);
				}
				100% {
					transform: scale(1,1) translateY(-50%);
				}
			}
		}

		@each $color in $colors {
			$sel : ".#{s-component()}--#{$color}";
			#{s-selector($sel)} {
				background-color: s-color($color);
				@if lightness(s-color($color)) > 70 {
					color : s-color($color, -darken 30%);
				} @else {
					color : white;
				}

				@if index($sides, c) {
					/**
					 * @name 		<span class="c-#{$color}">#{_start-case($color)}</span> ```.#{s-component()}--c.#{s-component()}--#{$color}```
					 * Display a #{$color} centered #{s-component()}
					 * @styleguide 		Objects / #{_start-case(s-component())}
					 * @example 	html
					 * <div class="active bkg-primary" style="display: block; width: 10px; height: 10px; position: relative; margin: 50px auto;">
					 * 	<div class="#{s-component()} #{s-component()}--#{$color} #{s-component()}--c">
					 * 		I'm a cool tooltip
					 * 	</div>
					 * </div>
					 */
					&.#{s-component()}--c {
						left:50%; top:50%;
						transform-origin: 0 0;
						@include s-translate(-50%,-50%);

						.#{s-component()}--active > &,
						&.active,
						.active > &,
						:hover > & {
							@include s-animation(s-tooltip-component--c .1s);
						}
					}
				}

				@if index($sides, t) {
					/**
					 * @name 		<span class="c-#{$color}">#{_start-case($color)}</span> ```.#{s-component()}--t.#{s-component()}--#{$color}```
					 * Display a #{$color} top centered #{s-component()}
					 * @styleguide 		Objects / #{_start-case(s-component())}
					 * @example 	html
					 * <div class="active bkg-primary" style="display: block; width: 10px; height: 10px; position: relative; margin: 50px auto;">
					 * 	<div class="#{s-component()} #{s-component()}--#{$color} #{s-component()}--t">
					 * 		I'm a cool tooltip
					 * 	</div>
					 * </div>
					 */
					&.#{s-component()}--t {
						transform-origin:0 calc(100% + 0.5em);
						left:50%; bottom:calc(100% + 1em);
						@include s-translate(-50%,0);
						@include s-bubble(
							$side : bottom,
							$align : center,
							$size : .5em,
							$color : s-color($color),
							$arrow-offset : .5em,
							$border-width : 0,
							$border-color : null
						);

						.#{s-component()}--active > &,
						&.active,
						.active > &,
						:hover > & {
							@include s-animation(s-tooltip-component--t .1s);
						}
					}
				}
				@if index($sides, tl) {
					/**
					 * @name 		<span class="c-#{$color}">#{_start-case($color)}</span> ```.#{s-component()}--tl.#{s-component()}--#{$color}```
					 * Display a #{$color} top left #{s-component()}
					 * @styleguide 		Objects / #{_start-case(s-component())}
					 * @example 	html
					 * <div class="active bkg-primary" style="display: block; width: 10px; height: 10px; position: relative; margin: 50px auto;">
					 * 	<div class="#{s-component()} #{s-component()}--#{$color} #{s-component()}--tl">
					 * 		I'm a cool tooltip
					 * 	</div>
					 * </div>
					 */
					&.#{s-component()}--tl {
						transform-origin:0 calc(100% + 0.5em);
						left:0; bottom:calc(100% + 1em);
						@include s-bubble(
							$side : bottom,
							$align : left,
							$size : .5em,
							$color : s-color($color),
							$arrow-offset : .5em,
							$border-width : 0,
							$border-color : null
						);

						.#{s-component()}--active > &,
						&.active,
						.active > &,
						:hover > & {
							@include s-animation(s-tooltip-component .1s);
						}
					}
				}
				@if index($sides, tr) {
					/**
					 * @name 		<span class="c-#{$color}">#{_start-case($color)}</span> ```.#{s-component()}--tr.#{s-component()}--#{$color}```
					 * Display a #{$color} top right #{s-component()}
					 * @styleguide 		Objects / #{_start-case(s-component())}
					 * @example 	html
					 * <div class="active bkg-primary" style="display: block; width: 10px; height: 10px; position: relative; margin: 50px auto;">
					 * 	<div class="#{s-component()} #{s-component()}--#{$color} #{s-component()}--tr">
					 * 		I'm a cool tooltip
					 * 	</div>
					 * </div>
					 */
					&.#{s-component()}--tr {
						transform-origin:100% 100%;
						right:0; bottom:calc(100% + 1em);
						@include s-bubble(
							$side : bottom,
							$align : right,
							$size : .5em,
							$color : s-color($color),
							$arrow-offset : .5em,
							$border-width : 0,
							$border-color : null
						);

						.#{s-component()}--active > &,
						&.active,
						.active > &,
						:hover > & {
							@include s-animation(s-tooltip-component .1s);
						}
					}
				}

				@if index($sides, l) {
					/**
					 * @name 		<span class="c-#{$color}">#{_start-case($color)}</span> ```.#{s-component()}--l.#{s-component()}--#{$color}```
					 * Display a #{$color} left #{s-component()}
					 * @styleguide 		Objects / #{_start-case(s-component())}
					 * @example 	html
					 * <div class="active bkg-primary" style="display: block; width: 10px; height: 10px; position: relative; margin: 50px auto;">
					 * 	<div class="#{s-component()} #{s-component()}--#{$color} #{s-component()}--l">
					 * 		I'm a cool tooltip
					 * 	</div>
					 * </div>
					 */
					&.#{s-component()}--l {
						transform-origin:calc(100% + 0.5em) 50%;
						right:calc(100% + 0.5em); top:50%;
						@include s-translate(0,-50%);
						@include s-bubble(
							$side : right,
							$align : middle,
							$size : .5em,
							$color : s-color($color),
							$arrow-offset : .5em,
							$border-width : 0,
							$border-color : null
						);

						.#{s-component()}--active > &,
						&.active,
						.active > &,
						:hover > & {
							@include s-animation(s-tooltip-component--l .1s);
						}
					}
				}
				@if index($sides, r) {
					/**
					 * @name 		<span class="c-#{$color}">#{_start-case($color)}</span> ```.#{s-component()}--r.#{s-component()}--#{$color}```
					 * Display a #{$color} right #{s-component()}
					 * @styleguide 		Objects / #{_start-case(s-component())}
					 * @example 	html
					 * <div class="active bkg-primary" style="display: block; width: 10px; height: 10px; position: relative; margin: 50px auto;">
					 * 	<div class="#{s-component()} #{s-component()}--#{$color} #{s-component()}--r">
					 * 		I'm a cool tooltip
					 * 	</div>
					 * </div>
					 */
					&.#{s-component()}--r {
						transform-origin:-.5em 50%;
						left:calc(100% + 1em); top:50%;
						@include s-translate(0,-50%);
						@include s-bubble(
							$side : left,
							$align : middle,
							$size : .5em,
							$color : s-color($color),
							$arrow-offset : .5em,
							$border-width : 0,
							$border-color : null
						);

						.#{s-component()}--active > &,
						&.active,
						.active > &,
						:hover > & {
							@include s-animation(s-tooltip-component--r .1s);
						}
					}
				}
				@if index($sides, bl) {
					/**
					 * @name 		<span class="c-#{$color}">#{_start-case($color)}</span> ```.#{s-component()}--bl.#{s-component()}--#{$color}```
					 * Display a #{$color} bottom left #{s-component()}
					 * @styleguide 		Objects / #{_start-case(s-component())}
					 * @example 	html
					 * <div class="active bkg-primary" style="display: block; width: 10px; height: 10px; position: relative; margin: 50px auto;">
					 * 	<div class="#{s-component()} #{s-component()}--#{$color} #{s-component()}--bl">
					 * 		I'm a cool tooltip
					 * 	</div>
					 * </div>
					 */
					&.#{s-component()}--bl {
						transform-origin:1em -1em;
						left:0; top:calc(100% + 1em);
						@include s-bubble(
							$side : top,
							$align : left,
							$size : .5em,
							$color : s-color($color),
							$arrow-offset : .5em,
							$border-width : 0,
							$border-color : null
						);

						.#{s-component()}--active > &,
						&.active,
						.active > &,
						:hover > & {
							@include s-animation(s-tooltip-component .1s);
						}
					}
				}
				@if index($sides, b) {
					/**
					 * @name 		<span class="c-#{$color}">#{_start-case($color)}</span> ```.#{s-component()}--b.#{s-component()}--#{$color}```
					 * Display a #{$color} bottom #{s-component()}
					 * @styleguide 		Objects / #{_start-case(s-component())}
					 * @example 	html
					 * <div class="active bkg-primary" style="display: block; width: 10px; height: 10px; position: relative; margin: 50px auto;">
					 * 	<div class="#{s-component()} #{s-component()}--#{$color} #{s-component()}--b">
					 * 		I'm a cool tooltip
					 * 	</div>
					 * </div>
					 */
					&.#{s-component()}--b {
						transform-origin:0 -1em;
						left:50%; top:calc(100% + 1em);
						@include s-translate(-50%, 0);
						@include s-bubble(
							$side : top,
							$align : center,
							$size : .5em,
							$color : s-color($color),
							$arrow-offset : .5em,
							$border-width : 0,
							$border-color : null
						);

						.#{s-component()}--active > &,
						&.active,
						.active > &,
						:hover > & {
							@include s-animation(s-tooltip-component--b .1s);
						}
					}
				}
				@if index($sides, br) {
					/**
					 * @name 		<span class="c-#{$color}">#{_start-case($color)}</span> ```.#{s-component()}--br.#{s-component()}--#{$color}```
					 * Display a #{$color} bottom right #{s-component()}
					 * @styleguide 		Objects / #{_start-case(s-component())}
					 * @example 	html
					 * <div class="active bkg-primary" style="display: block; width: 10px; height: 10px; position: relative; margin: 50px auto;">
					 * 	<div class="#{s-component()} #{s-component()}--#{$color} #{s-component()}--br">
					 * 		I'm a cool tooltip
					 * 	</div>
					 * </div>
					 */
					&.#{s-component()}--br {
						transform-origin:calc(100% - 1em) -1em;
						right:0; top:calc(100% + 1em);
						@include s-bubble(
							$side : top,
							$align : right,
							$size : .5em,
							$color : s-color($color),
							$arrow-offset : .5em,
							$border-width : 0,
							$border-color : null
						);

						.#{s-component()}--active > &,
						&.active,
						.active > &,
						:hover > & {
							@include s-animation(s-tooltip-component .1s);
						}
					}
				}
			}
		}
	}
}
