$_s-dropdown-inited : false;
@mixin s-dropdown-init() {
	@if not $_s-dropdown-inited {
		$_s-dropdown-inited : true !global;

		%s-dropdown-bare {
			position: relative;

			&:hover,
			&.active,
			#{s-selector((
				BEM : '&.dropdown--active',
				SMACCS : '&.is-active'
			))} {
				z-index:1;

				#{s-selector((
					BEM : '.dropdown__menu',
					SMACCS : '.dropdown-menu'
				))} {
					visibility: visible;
					opacity: 1;
					pointer-events: all;
				}
			}

			#{s-selector((
				BEM : '.dropdown__menu',
				SMACCS : '.dropdown-menu'
			))} {
				visibility: hidden;
				opacity: 0;
				position: absolute;
				top: 100%;
				pointer-events: none;
				@include s-transition();
			}
			#{s-selector((
				BEM : '.dropdown__item',
				SMACCS : '.dropdown-item'
			))} {
				white-space: nowrap;

				> a {
					padding: s-lnf(padding-horizontal) s-lnf(padding-vertical);
					display: block;
				}
			}

			&:hover,
			&.active,
			#{s-selector((
				BEM : '&.dropdown--active',
				SMACCS : '&.is-active'
			))} {
				#{s-selector((
					BEM : '.dropdown__menu',
					SMACCS : '.dropdown-menu'
				))} {
					top: 100%;
				}
			}

			#{s-selector((
				BEM : '&.dropdown--up',
				SMACCS : '&.dropdown-up'
			))} {
				#{s-selector((
					BEM : '.dropdown__menu',
					SMACCS : '.dropdown-menu'
				))} {
					top: auto;
					bottom: 100%;
				}

				&:hover,
				&.active,
				#{s-selector((
					BEM : '&.dropdown--active',
					SMACCS : '&.is-active'
				))} {
					#{s-selector((
						BEM : '.dropdown__menu',
						SMACCS : '.dropdown-menu'
					))} {
						top: auto;
						bottom: 100%;
					}
				}
			}
		}

		%s-dropdown-style {

			#{s-selector((
				BEM : '.dropdown__menu',
				SMACCS : '.dropdown-menu'
			))} {
				background: s-color(default);
				@include s-depth(2);
				@include s-transition(fast);
				overflow: hidden;
			}

			#{s-selector((
				BEM : '.dropdown__item',
				SMACCS : '.dropdown-item'
			))} {
				border-top: solid 1px s-color(default, -opacity .2);
				@include s-transition(all .1s ease-in-out);
				background-color:white;
				left:0;
				position:relative;
				@include s-transition(fast left);

				&:hover,
				&.active,
				#{s-selector((
					BEM : '&.dropdown__item--active',
					SMACCS : '&.is-active'
				))} {
					left:5px;
				}

				> a {
					color : s-color(link) !important;
					display: block;
					width: 100%;
				}
			}
		}
	}
}

@mixin s-dropdown(
	$colors : null
) {
	@include s-dropdown-bare();
	@if $colors {
		@include s-dropdown-style($colors);
	}
}

@mixin s-dropdown-bare() {

	// init dropdown
	@include s-dropdown-init();

	.dropdown {
		@extend %s-dropdown-bare;
	}
}

@mixin s-dropdown-style(
	$colors : default primary secondary
) {
	// init dropdown
	@include s-dropdown-init();

	// extend style
	.dropdown {
		@extend %s-dropdown-style;
	}

	@each $color in $colors {
		// extend dropdown
		#{s-selector((
			BEM : '.dropdown--#{$color}',
			SMACCS : '.dropdown-#{$color}'
		))} {

			#{s-selector((
				BEM : '.dropdown__menu',
				SMACCS : '.dropdown-menu'
			))} {
				background-color: s-color($color);
			}
		}
	}
}
