@mixin s-formset-group(
) {
	// pass in the component context
	@include s-component-context('formset') {

		// form group
		.form-group {
			// make form group flex
			display: flex !important;
			flex: 1 !important;

			.input-addon {
				flex:0;
			}

			// remove margin-top from input that are in a form-group
			> * {
				margin-top: 0 !important;
			}

			// make input flex
			> .input:not([type="checkbox"]):not([type="radio"]),
			> .label {
				flex: 1 !important;
				margin-top: 0 !important;
			}
		}
	}
}
