{HEAD}

<section class="section typeset vertical-rhythme showe-rhythme" id="typography" data-toggle-baseline-class data-toggle-rhythme-class ng-app="angular-demo">

	<div class="container">

		<div class="row formset"
			ng-controller="myForm">

			<div class="gr-12">

				<div class="row">

					<div class="gr-6">
						<label class="label">Select Box
							<select class="input input--smaller input--error"
								placeholder="Hello Jacques"
								data-s-select
								data-s-select-search="false"
								ng-model="select_1_model"
								ng-options="item.label for item in select_1_items">
							</select>
						</label>
					</div>
					<div class="gr-6">
						<label class="label">Select Box
							<select class="input input--medium input--error"
								data-s-select
								multiple
								placeholder="Coucou"
								ng-model="select_2_model"
								ng-options="item.label group by item.group for item in select_1_items | filter:keywords">
							</select>
							<input ng-model="keywords" />
						</label>
					</div>
				</div>

				<div class="row">
					<div class="gr-6">
						<label class="label">Select Box
							<select class="input input--smaller input--error"
								data-s-select
								placeholder="Hello Jacques"
								ng-model="select_3_model">
								<option value="{{ item }}"
									ng-repeat="item in select_1_items">{{ item.label }}</option>
							</select>
						</label>
					</div>
					<div class="gr-6">
						<label class="label">Select Box
							<select class="input input--medium input--error"
								data-s-select
								multiple
								placeholder="Yop yop"
								ng-model="select_4_model">
								<option value="{{ item }}"
									ng-repeat="item in select_1_items"
									data-s-select-option-source="#my-select-option-{{ $index }}">{{ item.label }}</option>
							</select>

							<div style="display:none;">
								<div id="my-select-option-{{ $index }}"
									ng-repeat="item in select_1_items"
									class="row row-align-middle">
									<div class="gr-adapt">
										<img src="http://graph.facebook.com/{{ item.id }}/picture?type=large" width="70px" height="70px" />
									</div>
									<div class="gr-grow">
										<strong>{{ item.label }}</strong><br />
										<small>Curabitur ullamcorper sapien quis eros consectetur, non ullamcorper.</small>
									</div>
								</div>
							</div>
						</label>
					</div>
				</div>

			</div>

		</div>

	</div>

</section>

{FOOTER}