//
// Block
//
@mixin s-Bem(
	$name,
	$extend : false
) {
	@at-root {
		.#{$name} {
			@if $extend {
				@each $ext in $extend {
					@extend .#{$ext} !optional;
				}
			}
			@content;
		}
	}
}

//
// Block element
//
@mixin s-bEm(
	$name,
	$extend : false
) {
	$separator : s-setting('BEM.element-separator');
	$this : #{&};
	@if $this == '' or not $this {
		$this : '.';
		$separator : '';
	}
	@at-root {
		#{$this}#{$separator}#{$name} {
			@if $extend {
				@each $ext in $extend {
					@extend #{$this}#{$separator}#{$ext} !optional;
				}
			}
 			@content;
		}
	}
}

//
// Block modifier
//
@mixin s-beM(
	$name,
	$extend : false,
	$standelone : s-setting('BEM.standelone')
) {
	$separator : s-setting('BEM.modifier-separator');
	$this : #{&};
	@at-root {
		#{$this}#{$separator}#{$name} {
			@if $extend {
				@each $ext in $extend {
					@extend #{$this}#{$separator}#{$ext} !optional;
				}
			}
			@if $standelone {
				@extend #{$this} !optional;
			}
			@content;
		}
	}
}
