/**
 * Display a coffeekraken logo with two specified colors
 * @param 		{Color} 		[$color=default] 	The base color to use
 * @param 		{Color} 		[$accent=primary] 	The accent color to use
 *
 * @example 	scss
 * .my-cool-coffeekraken-logo {
 * 	\@include s-coffeekraken-logo();
 * }
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@mixin s-coffeekraken-logo(
	$color : default,
	$accent : primary
) {
	background-repeat:no-repeat;
	background-size:cover;
	// background-image:url("data:image/svg+xml;utf8,<svg version='1.2' baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 954.1 288.7'><g fill-rule='evenodd'><path d='M497.4 142c23 0 40.6-6.6 53-19.8 1.7 2 3.4 4 5.4 5.7 10 9 22 13 36.4 13 14.7 0 27-5 36.6-14 9.8-9 14.7-21.7 14.7-37s-5-28-14.8-37c-10-9-22-13.5-36.5-13.5-14.4 0-26.5 4.5-36.4 13.5-7.3 6.7-12 15-14 25.5-2.4 11.2-10 21.4-17 27.7-7.2 6.3-15.4 9.4-24.8 9.4-11.5 0-21-4-28.4-12.4s-11-19-11-32.6c0-12.5 3.4-24 10.4-33s17.4-14 31-14c13.7 0 24 6 31 18 1.5 2.7 3 5.5 4 8.6L560.6 33l.2-31.4H537v11C526 4 512 0 495 0c-13.3 0-25.7 2.7-37 8.2-11 5.5-20 13.7-27 24.7-6.6 11-10 23-10 38 0 20 6.5 37 19.3 50 13 13 32 20 57 20zM592 64.3c6 0 10.8 2.3 14.3 7 3.5 4.5 5.2 11 5.2 19 0 9.4-1.8 16.3-5.4 20.6-3 4-8 6-14 6s-11-3-14-8-5-11-5-18.5c0-18 7-27 20-27zm314 57.2c-5.6 0-11-1.8-16.2-5.5-5-3.6-8-9.8-8.4-18.6H954c0-10.2-1.5-19.4-4.6-27.7-3.2-8.3-8.8-15.2-17-20.7-8-5.6-17.7-8.3-28.8-8.3-15.4 0-28 5-38 15-3.4 3.3-6.2 7-8.4 10.8-3.3-6.8-8.5-12.7-15.5-17.5-8-5.6-17.8-8.3-29-8.3-15.3 0-28 5-38 15C765 65.5 760 78 760 92.7c0 14.6 4.6 26.3 14.3 35.2 9.6 8 23 13 40.3 13 19.8 0 34.7-7 45-20 1.6 2 3.4 4 5.6 6 9.6 9 23 13 40.3 13 21.6 0 37.4-7.8 47.6-23.5l-24-7.6c-8 7.4-15 11.4-23 11.4zM902 61c6 0 10.8 2 14.4 5.7 3.5 3.8 5.7 8.3 6.4 13.7H882c1.8-13 8.5-19.4 20-19.4zm-91 0c6.2 0 11 2 14.6 5.7 3.5 3.8 5.7 8.3 6.4 13.7h-40.8c1.8-13 8.4-19.4 20-19.4zm35.6 52l-8.6-3c-7.7 7.5-15.2 11.3-22.7 11.3-5.7 0-11-1.8-16.3-5.5-5-3.6-8-9.8-8.4-18.6h60.2c.5 6.8 2.2 13 5 18.4-3-1-6.8-2-9.2-3zM933 217.2c0-18.7-11.7-27-25.3-27-10.2 0-20 4-32.7 13.2V192l-65 .5c-5.3-2-11-2.8-16.8-2.8-5 0-10.2.8-15 2.4h-73.6v16h16l-27.3 21H685v-78h-36.4v16H666v103.6h-14.2v-52c0-15.3-9.5-29-37.6-29h-2.4l-32 1c-12 0-24.2 7-30.2 22.8h-.6V192h-71.2v15.3h16L466 229h-8.4v-78.6h-36.3V167h17.3v103.3H421v16.5h51v-16.5h-14v-23h8.3l40 39.5H593c3.5 1 7.2 1.7 11 1.7 10.7 0 19-3.6 31-13.3v11.6h64v-16.3h-14.2v-23.2h8.4l39.8 39.5 50.2.5c4 1 8.5 1.3 13 1.3 20.3 0 37.4-8.7 47.6-24.4l-16.4-7c-7 9.8-18.4 15.2-30.6 15.2-17.6 0-29.6-10.5-32.5-28.7h79.5c0-14.5-4.4-26.4-11.4-35.4H856v62h-16.4v16.4h52v-16.5h-16.4v-50.8c9.7-7.6 20-12 27.6-12 7.7 0 11.2 5 11.2 17.2v62h35.5v-16.4H933v-53zm-399 53h-19v.2h-1l-34-33.6 36-29.5h18v63zm98.5-7.4c-7.7 7-17.3 11.2-25.8 11.2-10.2 0-17.3-6.4-17.3-15.7 0-9.4 7.7-16.3 18.3-16.3 8 0 16.6 3.2 24.8 9.4v11.4zm0-27c-7.7-5-17.7-8-26.2-8-19.7 0-35 13.4-35 30.6 0 4.3 1 8.4 2.7 12h-21v-27.2c0-18.3 5-30 19.7-33l18 6c4.3-7.3 11.4-11 20.5-11 11.4 0 21.3 4.7 21.3 18.2v12.3zm74.6 1l36-29.5h12c-7 8.2-11 19-11 32 0 12 4 22.8 11 31h-14L707 237zm58-6.6c3-15.7 14-25.8 29-25.8s28 11 31 25.8h-60zm-629-.5c27 0 46-10 59-27v27h58v-29h-29v-45.2h15l74.7 74h29v-29h-14L267 141l52.6-53H342V59h-88.7v29h24l-39 38.8h-14.5L224 59h-29v27.6C179.8 67 157 59 138 59c-20.3 0-36.8 3-50.6 13.5v-13H58.7v59.2h29c8-21.3 22.3-32 42.5-32 16.7 0 29.3 5.7 38 17 8.4 11 12.7 24.5 12.7 40.2 0 16-5 29-14 39s-21 15-35 15c-20.7 0-37-7.5-45.8-28.7H58v59h29v-13c13.5 10 29 12.7 48.6 13zM88 2h225v28.8H88z'/><path d='M29.3 30.8h29.2V2H0v285.3h58.5v-28.8H29.3M342 30.8h29.3v227.7H342v28.8h58.6V2H342M87.7 258.6h225v28.8h-225zM652 118.3l-14 .4v21.8h124.5v-22h-15.3v-52h15.3v-22h-15.3V33.7c0-9 2.7-13.3 8-13.3 4 0 6.8 3.4 8.8 10.3l22.6-17.4C780 4.3 769.2 0 754 0c-12.6 0-22 3.4-28.4 10.2-6.4 6.8-9.5 15.2-9.5 25.4v8.8h-13v22.2h13v51.7h-32V66.6h15V44.4h-15V33.8c0-9 3-13.3 8-13.3 4 0 7 3.4 9 10.3l22-17.4C716 4.4 705 0 690 0c-12.6 0-22 3.4-28.4 10.2-6.4 6.8-9.5 15.2-9.5 25.4v8.8h-13v22.2h13v51.7z'/></g></svg>");
	background-image:s-encode-inline-svg("<?xml version='1.0' encoding='utf-8'?>
	<svg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'
		 x='0px' y='0px' viewBox='0 0 954.1 288.7' xml:space='preserve'>
	<g fill='#{s-color($color)}'>
		<path fill='#{s-color($accent)}' d='M932.9,217.2c0-18.7-11.6-26.9-25.2-26.9c-10.2,0-19.9,3.8-32.7,13.1V192l-65,0.5c-5.3-1.9-11-2.8-16.8-2.8
			c-5.1,0-10.2,0.8-15.1,2.4h-73.5v15.3h16L693.3,229h-8.4v-78.6h-36.3v16.5h17.3v103.5h-14.1v-52c0-15.3-9.5-29.1-37.6-29.1
			c-0.8,0-1.6,0-2.4,0l0,0l-32,1c-12,0-24.2,7-30.2,22.9H549V192h-34.2l0,0h-37.1v15.3h16L466.2,229h-8.4v-78.6h-36.3v16.5h17.3
			v103.4h-17.5v16.5h50.8v-16.5h-14.2l0.1-23h8.3l39.9,39.5h24.4l0,0h62.5c3.4,1.1,7.1,1.7,11,1.7c10.6,0,18.9-3.6,30.9-13.3v11.6h33
			l0,0h31v-16.3l-14.2-0.1l0.1-23.1h8.3l39.8,39.5l50.2,0.5c4.1,0.9,8.5,1.3,13.1,1.3c20.2,0,37.3-8.7,47.5-24.4l-16.4-7.1
			c-7,9.9-18.4,15.3-30.6,15.3c-17.6,0-29.6-10.5-32.5-28.7h79.5c0-14.5-4.4-26.4-11.4-35.4H856v61.9h-16.4v16.5h52v-16.5h-16.4
			v-50.8c9.7-7.6,19.9-12.1,27.6-12.1c7.7,0,11.2,5.2,11.2,17.3v62.1h35.5v-16.5h-16.4v-53H932.9z M534,270.2l-18.9,0.1v0.1h-1.2
			L480,236.8l35.9-29.5h14.8l0,0h3.3V270.2z M632.5,262.8c-7.7,7-17.3,11.2-25.8,11.2c-10.2,0-17.3-6.4-17.3-15.7
			c0-9.4,7.7-16.3,18.3-16.3c8.1,0,16.6,3.2,24.8,9.4V262.8z M632.5,235.7c-7.7-5-17.7-8-26.2-8c-19.7,0-34.9,13.5-34.9,30.7
			c0,4.3,0.9,8.4,2.6,12.1l-0.2-0.1h-20.7v-27.2c0-18.3,4.8-29.9,19.6-33.1l18,6.2c4.3-7.4,11.4-11.2,20.5-11.2
			c11.4,0,21.3,4.8,21.3,18.3L632.5,235.7L632.5,235.7z M707.1,236.8l35.9-29.5h12.1c-7,8.2-11.5,19.1-11.5,31.9
			c0,12.2,3.9,22.9,10.7,31.2H741L707.1,236.8z M764.9,230.2c2.8-15.7,14-25.8,28.8-25.8s28,10.9,31,25.8H764.9z'/>
		<path d='M135.9,229.7c26.3,0,46.1-9.9,58.9-27.1v27h58.1v-28.8h-29.1l-0.3-45.3l14.7-0.1l74.3,74.1l29.5-0.1v-28.8h-14l-61-59.7
			l52.6-53H342V59.1h-88.7v28.8h24.1l-39.2,38.9l-14.4-0.1l0.3-67.5L194.8,59v27.6c-15.1-19.6-37.7-27.5-56.7-27.5
			c-20.4,0-36.9,2.9-50.7,13.4v-13H58.7v59.2h28.9c8.2-21.3,22.4-31.9,42.6-31.9c16.7,0,29.3,5.6,37.9,16.8
			c8.5,11.2,12.8,24.6,12.8,40.3c0,16.4-4.5,29.6-13.6,39.7c-9,10.1-20.6,15.2-34.6,15.2c-20.2,0-37.1-7.2-45.3-28.4H58.5v59.2h28.9
			v-13.1c13.4,10.2,28.9,12.9,48.5,13.1V229.7z'/>
		<rect fill='#{s-color($accent)}' x='87.7' y='2' width='225.1' height='28.8'/>
		<polygon points='29.3,30.8 58.5,30.8 58.5,2 0,2 0,287.3 58.5,287.3 58.5,258.5 29.3,258.5 	'/>
		<polygon points='342,30.8 371.3,30.8 371.3,258.5 342,258.5 342,287.3 400.6,287.3 400.6,2 342,2 	'/>
		<rect x='87.7' y='258.6' width='225.1' height='28.8'/>
		<g>
			<path d='M497.4,142c22.9,0,40.6-6.6,53.1-19.8c1.6,2,3.3,3.9,5.3,5.7c9.9,9,22.1,13.5,36.4,13.5c14.7,0,26.9-4.5,36.6-13.6
				c9.8-9.1,14.7-21.3,14.7-36.7c0-15.6-4.9-27.9-14.8-36.9c-9.9-9-22-13.5-36.5-13.5c-14.4,0-26.5,4.5-36.4,13.5
				c-7.3,6.6-11.9,15.1-13.9,25.4l0,0c-2.5,11.2-10.1,21.4-17.2,27.7c-7.1,6.3-15.3,9.4-24.7,9.4c-11.5,0-21-4.2-28.4-12.5
				S460.5,85,460.5,71.6c0-12.8,3.5-23.9,10.5-33.1s17.4-13.8,31.1-13.8c13.6,0,23.9,5.9,30.9,17.7c1.5,2.6,2.9,5.4,4.1,8.5
				l23.5-17.1l0.2-31.5h-23.7V13c-11.3-8.7-25.3-13-42-13c-13.4,0-25.8,2.8-37,8.3c-11.3,5.5-20.3,13.7-27,24.7
				c-6.7,10.9-10,23.7-10,38.2c0,20.4,6.4,37.4,19.2,50.7C453.2,135.3,472.2,142,497.4,142z M592.1,64.3c6,0,10.7,2.3,14.2,6.9
				s5.2,11,5.2,19.2c0,9.3-1.8,16.2-5.4,20.5c-3.6,4.4-8.3,6.6-14.1,6.6c-6.5,0-11.3-2.4-14.5-7.3s-4.8-11-4.8-18.5
				C572.9,73.4,579.3,64.3,592.1,64.3z'/>
			<path d='M906.1,121.5c-5.7,0-11.1-1.8-16.3-5.5c-5.1-3.6-7.9-9.8-8.4-18.6h72.7c0-10.2-1.6-19.4-4.7-27.7
				c-3.2-8.3-8.8-15.2-16.9-20.7c-8.1-5.6-17.8-8.3-28.9-8.3c-15.4,0-28.1,5-38,14.9c-3.4,3.4-6.2,7-8.4,10.9
				c-3.3-6.8-8.5-12.7-15.5-17.5c-8.1-5.6-17.8-8.3-28.9-8.3c-15.4,0-28.1,5-38,14.9s-14.9,22.3-14.9,37.1c0,14.6,4.8,26.3,14.5,35.2
				c9.6,8.9,23.1,13.4,40.3,13.4c19.8,0,34.7-6.6,44.9-19.8c1.7,2.3,3.5,4.4,5.7,6.4c9.6,8.9,23.1,13.4,40.3,13.4
				c21.6,0,37.4-7.8,47.6-23.5l-24.2-7.6C921.1,117.7,913.6,121.5,906.1,121.5z M901.9,61c6.1,0,10.9,1.9,14.5,5.7
				c3.5,3.8,5.7,8.3,6.4,13.7H882C883.8,67.5,890.5,61,901.9,61z M811.1,61c6.1,0,10.9,1.9,14.5,5.7c3.5,3.8,5.7,8.3,6.4,13.7h-40.8
				C793,67.5,799.6,61,811.1,61z M846.6,112.9l-8.7-2.7c-7.6,7.5-15.1,11.3-22.6,11.3c-5.7,0-11.1-1.8-16.3-5.5
				c-5.1-3.6-7.9-9.8-8.4-18.6h60.2c0.5,6.8,2.2,12.9,5,18.4C852.7,114.8,849,113.7,846.6,112.9z'/>
			<path d='M652.1,118.3l-14.2,0.4v21.8h43.4h17.2h64v-22.1h-15.3V66.6h15.3V44.4h-15.3V33.8c0-8.9,2.7-13.3,8.1-13.3
				c3.8,0,6.7,3.4,8.7,10.3l22.6-17.4C780.1,4.5,769.2,0,754,0c-12.6,0-22,3.4-28.4,10.2s-9.5,15.2-9.5,25.4v8.8H703v22.2h13.1v51.7
				h-17.5h-15.3V66.6h15.3V44.4h-15.3V33.8c0-8.9,2.7-13.3,8.1-13.3c3.8,0,6.7,3.4,8.7,10.3l22.6-17.4C716.1,4.5,705.2,0,690,0
				c-12.6,0-22,3.4-28.4,10.2s-9.5,15.2-9.5,25.4v8.8H639v22.2h13.1V118.3z'/>
		</g>
	</g>
	</svg>
");
	display:inline-block;
	&:after {
		content:'';
		display:block;
		width:100%;
		height:0;
		padding-bottom:30%;
	}
}
