/**
 * Start a new list
 * @param 		{String} 		[$counter-reset=s-list] 		A counter name to reset
 * @author 		Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@mixin s-list(
	$counter-reset : s-list
) {
	@if $_sugar-test-arguments {
		$counter-reset : s-test-argument('s-list','counter-reset',string,$counter-reset);
	}
	counter-reset : $counter-reset;
}
