//
// Translate
//
@mixin s-translate(
	$x : 0,
	$y : 0,
	$z : 0
) {
	// get the translate props
	$translate : s-translate(
		$x : $x,
		$y : $y,
		$z : $z
	);

	// get map
	@each $prop, $value in $translate {
		#{$prop} : $value;
	}
}
