*::selection {
		background-color: transparentize(s-color(primary), 0.8);
}

html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-overflow-scrolling: touch;
}

body {
	@include s-font(helvetica-neue);
	height: 100%;
	color: s-color(text, -lighten 30%);
	line-height: 1.4;
	letter-spacing: 0.02rem;
}

* {
	-webkit-overflow-scrolling: touch;
}
