/* # GRIDLE
check in 01_setup/_gridle.scss for the variables configuration

For the documentation check : http://gridle.org/
# Init
* import the gridle file
* set default states : mobile, tablet, desktop
* genretae additionnale classes to use in html

	@include gridle_register_default_states();
	@include gridle_generate_classes();

*/

// generate all the default classes :
@include gridle_generate_classes(default, ( default) );

// make all the grid element 100% wide by default on mobile
// this is made after default grid element and before mobile grids to allow
// use of grid-mobile-12 for example
@include gridle_state(mobile) {
	[class*="gr-"] {
		width:100%;
	}
	.gr-grow {
		width:9999999px;
	}
	.gr-adapt {
		width:1px;
	}
}

// generate all the mobiles classes :
@include gridle_generate_classes(moblet, ( default ) );
@include gridle_generate_classes(mobile, ( default ) );
@include gridle_generate_classes(tablet, ( default ) );

// container size
// .container {
// 	max-width: 1200px;
// 	margin: 0 auto;
//
// 	@include gridle_state(0,1250px) {
// 		padding-left:20px !important;
// 		padding-right: 20px !important;
// 	}
// }
