@font-face {
	font-family: "icons";
	src: url('../fonts/icons.eot');
	src: url('../fonts/icons.eot?#iefix') format('eot'),
		url('../fonts/icons.woff2') format('woff2'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.svg#icons') format('svg');
}

.icon:before,
[class^="icon-"]:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-accommodation-apartment:before {
	content: "\E001" !important;
}

.icon-accommodation-homestay:before {
	content: "\E002" !important;
}

.icon-accommodation-host-family-twin:before {
	content: "\E003" !important;
}

.icon-accommodation-host-family:before {
	content: "\E004" !important;
}

.icon-accommodation-hotel:before {
	content: "\E005" !important;
}

.icon-accommodation-other:before {
	content: "\E006" !important;
}

.icon-accommodation-residence-double-quadruple:before {
	content: "\E007" !important;
}

.icon-accommodation-residence-double-triple:before {
	content: "\E008" !important;
}

.icon-accommodation-residence-double:before {
	content: "\E009" !important;
}

.icon-accommodation-residence-quadruple:before {
	content: "\E00A" !important;
}

.icon-accommodation-residence-single:before {
	content: "\E00B" !important;
}

.icon-accommodation-residence-triple-quadruple:before {
	content: "\E00C" !important;
}

.icon-accommodation-residence-triple:before {
	content: "\E00D" !important;
}

.icon-accommodation-residence:before {
	content: "\E00E" !important;
}

.icon-accommodation-studio:before {
	content: "\E00F" !important;
}

.icon-accommodation-without:before {
	content: "\E010" !important;
}

.icon-airplane:before {
	content: "\E011" !important;
}

.icon-alpadia-20-years:before {
	content: "\E012" !important;
}

.icon-alpadia:before {
	content: "\E013" !important;
}

.icon-archives:before {
	content: "\E014" !important;
}

.icon-arrow-down:before {
	content: "\E015" !important;
}

.icon-arrow-left:before {
	content: "\E016" !important;
}

.icon-arrow-right:before {
	content: "\E017" !important;
}

.icon-arrow-up:before {
	content: "\E018" !important;
}

.icon-at:before {
	content: "\E019" !important;
}

.icon-badminton:before {
	content: "\E01A" !important;
}

.icon-basketball:before {
	content: "\E01B" !important;
}

.icon-beach-games:before {
	content: "\E01C" !important;
}

.icon-bell:before {
	content: "\E01D" !important;
}

.icon-book:before {
	content: "\E01E" !important;
}

.icon-briefcase:before {
	content: "\E01F" !important;
}

.icon-bubbles:before {
	content: "\E020" !important;
}

.icon-bullet-alpadia:before {
	content: "\E021" !important;
}

.icon-bus:before {
	content: "\E022" !important;
}

.icon-calendar:before {
	content: "\E023" !important;
}

.icon-capital:before {
	content: "\E024" !important;
}

.icon-certif:before {
	content: "\E025" !important;
}

.icon-certifs:before {
	content: "\E026" !important;
}

.icon-chevron-down:before {
	content: "\E027" !important;
}

.icon-chevron-left:before {
	content: "\E028" !important;
}

.icon-chevron-right:before {
	content: "\E029" !important;
}

.icon-chevron-up:before {
	content: "\E02A" !important;
}

.icon-choice:before {
	content: "\E02B" !important;
}

.icon-circle-play:before {
	content: "\E02C" !important;
}

.icon-circle-star:before {
	content: "\E02D" !important;
}

.icon-circle-tick:before {
	content: "\E02E" !important;
}

.icon-course-combi:before {
	content: "\E02F" !important;
}

.icon-course-exam:before {
	content: "\E030" !important;
}

.icon-course-finder:before {
	content: "\E031" !important;
}

.icon-course-intensive:before {
	content: "\E032" !important;
}

.icon-course-premium:before {
	content: "\E033" !important;
}

.icon-course-private:before {
	content: "\E034" !important;
}

.icon-course-standard-30-plus:before {
	content: "\E035" !important;
}

.icon-course-standard:before {
	content: "\E036" !important;
}

.icon-course-uni:before {
	content: "\E037" !important;
}

.icon-cross:before {
	content: "\E038" !important;
}

.icon-discovery:before {
	content: "\E039" !important;
}

.icon-dollar:before {
	content: "\E03A" !important;
}

.icon-download:before {
	content: "\E03B" !important;
}

.icon-edit:before {
	content: "\E03C" !important;
}

.icon-email:before {
	content: "\E03D" !important;
}

.icon-enlarge:before {
	content: "\E03E" !important;
}

.icon-facebook:before {
	content: "\E03F" !important;
}

.icon-fax:before {
	content: "\E040" !important;
}

.icon-football:before {
	content: "\E041" !important;
}

.icon-fullscreen:before {
	content: "\E042" !important;
}

.icon-globe:before {
	content: "\E043" !important;
}

.icon-googleplus:before {
	content: "\E044" !important;
}

.icon-handball:before {
	content: "\E045" !important;
}

.icon-help:before {
	content: "\E046" !important;
}

.icon-hiking:before {
	content: "\E047" !important;
}

.icon-home:before {
	content: "\E048" !important;
}

.icon-info:before {
	content: "\E049" !important;
}

.icon-instagram:before {
	content: "\E04A" !important;
}

.icon-internship:before {
	content: "\E04B" !important;
}

.icon-kayaking:before {
	content: "\E04C" !important;
}

.icon-key:before {
	content: "\E04D" !important;
}

.icon-leaf:before {
	content: "\E04E" !important;
}

.icon-link:before {
	content: "\E04F" !important;
}

.icon-linkedin:before {
	content: "\E050" !important;
}

.icon-list:before {
	content: "\E051" !important;
}

.icon-loading:before {
	content: "\E052" !important;
}

.icon-logo-aduqua:before {
	content: "\E053" !important;
}

.icon-logo-alto:before {
	content: "\E054" !important;
}

.icon-logo-avdep:before {
	content: "\E055" !important;
}

.icon-logo-azav:before {
	content: "\E056" !important;
}

.icon-logo-bildungsurlaub:before {
	content: "\E057" !important;
}

.icon-logo-csn:before {
	content: "\E058" !important;
}

.icon-logo-dekra:before {
	content: "\E059" !important;
}

.icon-logo-eaquals:before {
	content: "\E05A" !important;
}

.icon-logo-esl-schools:before {
	content: "\E05B" !important;
}

.icon-logo-fadaf:before {
	content: "\E05C" !important;
}

.icon-logo-fle:before {
	content: "\E05D" !important;
}

.icon-logo-fsep:before {
	content: "\E05E" !important;
}

.icon-logo-icc:before {
	content: "\E05F" !important;
}

.icon-logo-private-school-register:before {
	content: "\E060" !important;
}

.icon-logo-souffle:before {
	content: "\E061" !important;
}

.icon-logo-suisse-tourisme-quality:before {
	content: "\E062" !important;
}

.icon-logo-suisse-tourisme:before {
	content: "\E063" !important;
}

.icon-logo-work-abroad:before {
	content: "\E064" !important;
}

.icon-logo-wysetc:before {
	content: "\E065" !important;
}

.icon-magnifier:before {
	content: "\E066" !important;
}

.icon-map-england:before {
	content: "\E067" !important;
}

.icon-map-france:before {
	content: "\E068" !important;
}

.icon-map-germany:before {
	content: "\E069" !important;
}

.icon-map-switzerland:before {
	content: "\E06A" !important;
}

.icon-map:before {
	content: "\E06B" !important;
}

.icon-medias:before {
	content: "\E06C" !important;
}

.icon-menu:before {
	content: "\E06D" !important;
}

.icon-minigolf:before {
	content: "\E06E" !important;
}

.icon-paddleboard:before {
	content: "\E06F" !important;
}

.icon-pdf:before {
	content: "\E070" !important;
}

.icon-pedalo:before {
	content: "\E071" !important;
}

.icon-phone:before {
	content: "\E072" !important;
}

.icon-pinterest:before {
	content: "\E073" !important;
}

.icon-premium-adrenaline:before {
	content: "\E074" !important;
}

.icon-premium-cooking:before {
	content: "\E075" !important;
}

.icon-premium-creative-arts:before {
	content: "\E076" !important;
}

.icon-premium-fashion:before {
	content: "\E077" !important;
}

.icon-premium-golf:before {
	content: "\E078" !important;
}

.icon-premium-horseriding:before {
	content: "\E079" !important;
}

.icon-premium-performing-arts:before {
	content: "\E07A" !important;
}

.icon-premium-rugby:before {
	content: "\E07B" !important;
}

.icon-premium-running:before {
	content: "\E07C" !important;
}

.icon-premium-tennis:before {
	content: "\E07D" !important;
}

.icon-premium-waters-sports-plus:before {
	content: "\E07E" !important;
}

.icon-premium:before {
	content: "\E07F" !important;
}

.icon-printer:before {
	content: "\E080" !important;
}

.icon-quality:before {
	content: "\E081" !important;
}

.icon-quote:before {
	content: "\E082" !important;
}

.icon-sightseeing:before {
	content: "\E083" !important;
}

.icon-simple-quote-reverse:before {
	content: "\E084" !important;
}

.icon-simple-quote:before {
	content: "\E085" !important;
}

.icon-skype:before {
	content: "\E086" !important;
}

.icon-smiley-sunglasses:before {
	content: "\E087" !important;
}

.icon-star:before {
	content: "\E088" !important;
}

.icon-sun:before {
	content: "\E089" !important;
}

.icon-support:before {
	content: "\E08A" !important;
}

.icon-swimming:before {
	content: "\E08B" !important;
}

.icon-table-tennis:before {
	content: "\E08C" !important;
}

.icon-train:before {
	content: "\E08D" !important;
}

.icon-transfert:before {
	content: "\E08E" !important;
}

.icon-trash:before {
	content: "\E08F" !important;
}

.icon-twitter-bird:before {
	content: "\E090" !important;
}

.icon-twitter:before {
	content: "\E091" !important;
}

.icon-uni:before {
	content: "\E092" !important;
}

.icon-unihockey:before {
	content: "\E093" !important;
}

.icon-users:before {
	content: "\E094" !important;
}

.icon-volleyball:before {
	content: "\E095" !important;
}

.icon-why:before {
	content: "\E096" !important;
}
