@font-face {
	font-family: "icons";
	src: url('../fonts/icons.eot');
	src: url('../fonts/icons.eot?#iefix') format('eot'),
		url('../fonts/icons.woff2') format('woff2'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.svg#icons') format('svg');
}

.icon:before,
[class^="icon-"]:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-bubbles:before {
	content: "\E001" !important;
}

.icon-download:before {
	content: "\E002" !important;
}

.icon-email:before {
	content: "\E003" !important;
}

.icon-facebook:before {
	content: "\E004" !important;
}

.icon-github-circle:before {
	content: "\E005" !important;
}

.icon-github:before {
	content: "\E006" !important;
}

.icon-home:before {
	content: "\E007" !important;
}

.icon-list:before {
	content: "\E008" !important;
}

.icon-loading:before {
	content: "\E009" !important;
}

.icon-menu:before {
	content: "\E00A" !important;
}

.icon-minus:before {
	content: "\E00B" !important;
}

.icon-news:before {
	content: "\E00C" !important;
}

.icon-plus:before {
	content: "\E00D" !important;
}

.icon-share:before {
	content: "\E00E" !important;
}

.icon-skype:before {
	content: "\E00F" !important;
}

.icon-team:before {
	content: "\E010" !important;
}

.icon-twitter-bird:before {
	content: "\E011" !important;
}

.icon-twitter:before {
	content: "\E012" !important;
}
