/**
 * @category Typography
 */

%h {
	line-height: 1.4;

	.vr &, &.vr,
	&[class*="m-b"] {
		line-height:1;
	}
	a {
		color: inherit;
	}
	a.link {
		@extend .link;
	}
	.btn {
		color: white;
	}
}
%h{
	@include s-font(helvetica-neue);
}

.t-format h1,
.h1{
	@extend %h;
	font-size: 36px;
	@include s-vertical-rhythme() {
		margin-bottom: 20px;
	}
}

.t-format h2,
.h2{
	@extend %h;
	font-size: 30px;
	@include s-vertical-rhythme() {
		margin-bottom: 20px;
	}
}

.t-format h3,
.h3{
	@extend %h;
	font-size: 24px;
	@include s-vertical-rhythme() {
		margin-bottom: 20px;
	}
}

.t-format h4,
.h4{
	@extend %h;
	@include s-font(open-sans-semibold);
	font-size: 18px;
	@include s-vertical-rhythme() {
		margin-bottom: 20px;
	}

	.h__circle{
		font-size: 0.90em;
	}
}

.t-format h5,
.h5{
	@extend %h;
	@include s-font(open-sans-semibold);
	font-size: 14px;
	@include s-vertical-rhythme() {
		margin-bottom: 20px;
	}
}

//
// Paragraphs
//
.t-format p,
p.p {
	@include s-vertical-rhythme() {
		margin-bottom: 20px;
	}
	line-height: 1.7;
	padding: 0;

	&.p--lead {
		font-size: 22px;
	}
}

@include gridle_state(moblet) {
	.t-format h1,
	.h1{
		font-size: 34px;
		@include s-vertical-rhythme(
			$font-size : 34px,
			$margin-bottom : 1
		);
	}

	.t-format h2,
	.h2{
		font-size: 28px;
		@include s-vertical-rhythme(
			$font-size : 28px,
			$margin-bottom : 1
		);
	}

	.t-format h3,
	.h3{
		font-size: 25px;
		@include s-vertical-rhythme(
			$font-size : 25px,
			$margin-bottom : 1
		);
	}

	.t-format h4,
	.h4{
		font-size: 20px;
		@include s-vertical-rhythme(
			$font-size : 20px,
			$margin-bottom : 1
		);
	}

	.t-format h,
	.h5{
		font-size: 17px;
		@include s-vertical-rhythme(
			$font-size : 17px,
			$margin-bottom : 1
		);
	}
}

a {
	text-decoration: none;
	color: inherit;
	-webkit-font-smoothing: subpixel-antialiased;
}

.link,
.t-format a{
	color: s-color(primary);
	word-wrap: break-word;

	&:hover,
	&:active,
	&:focus{
		text-decoration: underline;
	}
}
.link-hover {
	@include s-transition(fast);
	&:hover {
		color: s-color(primary);
	}
}

.t-format {
	strong, b, .bold {
		font-weight: bold;
	}
}
