@include s-setup((
	colors : (
		default : rgb(248, 248, 249),
		text : #333,
		"lightgrey" : (
			color : #f8f8f9,
			modifiers : (
				dark : darken(#f8f8f9,5%),
				light : lighten(#f8f8f9,5%)
			)
		)
	)
));
