/**
 * Position styling
 */
.abs-top-left {
	@include s-position(absolute, top, left);
}
.abs-top-center {
	@include s-position(absolute, top, center);
}
.abs-top-right {
	@include s-position(absolute, top, right);
}
.abs-middle-left {
	@include s-position(absolute, middle, left);
}
.abs-middle-center {
	@include s-position(absolute, middle, center);
}
.abs-middle-right {
	@include s-position(absolute, middle, right);
}
.abs-bottom-left {
	@include s-position(absolute, bottom, left);
}
.abs-bottom-center {
	@include s-position(absolute, bottom, center);
}
.abs-bottom-right {
	@include s-position(absolute, bottom, right);
}

/**
 * sizes
 */
.abs-fit {
	position:absolute;
	top:0; left:0;
	right:0; bottom:0;
}


.flex-column {
	display: flex;
	flex-direction: column;
	height: inherit;
	min-height: inherit;
	max-height: inherit;

	> * {
		flex: 0 1 auto;
		flex-shrink: 0;
	}
}
.flex-adapt {
	flex:0 1 auto;
	flex-shrink:0;
}
.flex-grow {
	flex:1 1 auto;
}
