//
// Init
//
$_sugar-inited : false;
@mixin s-init() {

	// do that only if not already inited
	@if not $_sugar-inited {

		// update inited status
		$_sugar-inited : true !global;

		// reset
		@if sugar('settings.reset') == true {
			@include s-reset();
		}

		// border box
		@if sugar('settings.border-box') == true {
			html {
				box-sizing: border-box;
			}
			*, *:before, *:after {
				box-sizing: inherit;
			}
		}

		// effects
		[data-gooey],
		[data-s-activate] {
			@include s-domnodeinserted();
		}
		
		// check settings
		$base-font-family : sugar('settings.typo.font-family');
		$fonts : sugar('settings.fonts');
		@if $base-font-family and not map-get($fonts, $base-font-family) {
			@error("Your typo.font-family setting has to be a registered font...");
		}

		// set the base font family if not defined
		@if not $base-font-family {
			@include s-setup((
				typo : (
					font-family : default
				)
			));
		}

		// font
		html {
			$base-font-size : sugar('settings.typo.font-size');
			$base-font-sizes : sugar('settings.typo.font-sizes');
			font-size: $base-font-size;
			@if type-of($base-font-sizes) == map {
				@each $size, $media in $base-font-sizes {
					@include s-media($media...) {
						font-size: $size;
					}
				} 
			}
			// try to get the font family from fonts
			@include s-font(sugar('settings.typo.font-family'));	
		}

		// default color
		body {
			color : s-color(text);
		}

		// font faces
		$fonts : sugar('settings.fonts');
		@each $font-name, $font in $fonts {
			@if type-of($font) == string {
				$font : map-get($fonts, $font);
			}
			@if not map-get($font, font-family) {
				$font : map-set($font,font-family,$font-name);
			}
			$font : map-remove($font,cap-height);
			@if map-get($font, src) {
				@include s-font-face($font...);
			}
		}

		// modular scale
		$ms-base : sugar('settings.modular-scale.base') !global;
		$ms-size : sugar('settings.modular-scale.ratio') !global;
		$ms-range : sugar('settings.modular-scale.range') !global;
		$ms-fluid : sugar('settings.modular-scale.fluid') !global;
	}
}