$_s-slideshow-component-inited : false;
@mixin s-slideshow-component-init() {
	@if not $_s-slideshow-component-inited {
		$_s-slideshow-component-inited : true !global;

		// input
		%s-slideshow-component-bare {
			position:relative;
		}
		%s-slideshow-component-slide-bare {
			position:absolute;
			top:0; left:0;
			width:100%; height:100%;
		}
	}
}

@mixin s-slideshow(
) {
	@include s-slideshow-component-bare();
	@include s-slideshow-component-style();
}

@mixin s-slideshow-component-bare(
) {
	@include s-slideshow-component-init();
	@include s-component('s-slideshow') {
		@include s-selector-method(WEBCOMPONENT) {
			#{s-component-selector()} {
				@extend %s-slideshow-component-bare;
			}
			[#{s-component()}-slide],
			#{s-component-selector('slide')} {
				@extend %s-slideshow-component-slide-bare;
			}
			[#{s-component()}-previous],
			#{s-component-selector('previous')},
			[#{s-component()}-next],
			#{s-component-selector('next')},
			[#{s-component()}-total],
			#{s-component-selector('total')},
			[#{s-component()}-current],
			#{s-component-selector('current')} {
				display: inline-block;
			}
			[#{s-component()}-slide],
			#{s-component-selector('slide')},
			#{s-component-selector()} {
				display: block;
			}
		}
	}
}
@mixin s-slideshow-component-style(
) {
	// pass in the component context
	@include s-component('s-slideshow') {
		@include s-selector-method(WEBCOMPONENT) {
			[#{s-component()}-slide],
			#{s-component-selector('slide')} {
				@include s-transition(transform .4s cubic-bezier(0.810, 0.005, 0.735, 1.000));
				@include s-translate(-100%,0);
				overflow: hidden;
				z-index:0;

				[active] ~ & {
					@include s-translate(100%,0);
					z-index:0;
				}

				&[active] {
					@include s-translate(0,0);
					@include s-transition-start();
					z-index:1;
				}
			}
		}
	}
}
